<div class="bookmarks listbox group" id="collection-bookmarks">
  <h3 class="heading">
    <% if collection.collection_preference.show_random || params[:show_random] %>
      <%= ts("Random bookmarks") %>  
    <% else %>  
      <%= ts("Recent bookmarks") %>
    <% end %>
  </h3>
  <ul class="index group">
    <% for bookmark in bookmarks %>
      <%= render 'bookmarks/bookmark_blurb', :bookmark => bookmark %>
    <% end %>
  </ul>
</div>
