<div class="bookmarks listbox group" id="collection-bookmarks">
  <h3 class="heading">
    <% if collection.collection_preference.show_random || params[:show_random] %>
      <%= ts("Random bookmarks") %>  
    <% else %>  
      <%= ts("Recent bookmarks") %>
    <% end %>
  </h3>
  <ul class="index group">
    <% for bookmark in bookmarks %>
      <%= render 'bookmarks/bookmark_blurb', :bookmark => bookmark %>
    <% end %>
  </ul>
  <% if @collection.all_approved_bookmarks_count > ArchiveConfig.NUMBER_OF_ITEMS_VISIBLE_IN_DASHBOARD %>
    <ul class="navigation actions" role="navigation"><li><%= link_to ts("Bookmarks (%{count})", :count => @collection.all_approved_bookmarks_count), collection_bookmarks_path(@collection) %></li></ul>
  <% end %>
</div>
