<div class="bookmarks module" id="collection-bookmarks">
  <h3>
    <%- if collection.collection_preference.show_random || params[:show_random] -%>
    <%=h t('collections.random_bookmarks', :default => "Random bookmarks") %>  
    <%- else -%>  
    <%=h t('recent_bookmarks', :default => "Recent bookmarks") %>
    <%- end -%>
  </h3>
  <ul class="index">
  <%- for bookmark in bookmarks -%>
    <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark} %>
  <%- end -%>
  </ul>
</div>