<ul class="navigation">
	<% if @collection.collection_profile.intro && section != "intro" -%>
	<li><a href="#intro"><%=h t('intro', :default => "Intro:") %></a></li>
	<% end -%>
	<% if @collection.collection_profile.faq  && section != "faq" %>
	<li><a href="#faq"><%=h t('faq', :default => "FAQ:") %></a></li>
	<% end -%>
	<% if @collection.collection_profile.rules  && section != "rules" %>
	<li><a href="#rules"><%=h t('rules', :default => "Rules:") %></a></li>
	<% end -%>
</ul>
