<div class="works listbox group" id="collection-works">
  <h3 class="heading">
    <% if collection.collection_preference.show_random || params[:show_random] %>
    <%=h t('.collections.random_works', :default => "Random works") %>  
    <% else %>  
    <%=h t('.recent_works', :default => "Recent works") %>
    <% end %>
  </h3>
  <ul class="index group">
    <% for work in works %>
  	  <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
      <% end %>
  </ul>
</div>