<div class="works listbox group" id="collection-works">
  <h3 class="heading">
    <% if collection.collection_preference.show_random || params[:show_random] %>
      <%= ts("Random works") %>  
    <% else %>  
      <%= ts("Recent works") %>
    <% end %>
  </h3>
  <ul class="index group">
    <% for work in works %>
  	  <%= render 'works/work_blurb', :work => work %>
    <% end %>
  </ul>
</div>
