<!--Descriptive page name and system messages, descriptions, and instructions.-->
<h2 class="heading"><%=h t('.editing_collection', :default => "Editing collection") %></h2>
<!-- /descriptions-->
<!--subnavgiation, sorting and actions-->
<!--/subnav-->

<!--main content-->
<h3 class="landmark heading">Edit Collection Form</h3>
<%= render :partial => 'form' %>
<!--/content-->

