<h1><%=h t('editing_collection', :default => "Editing collection") %></h1>

<%= render :partial => 'form' -%>

<ul class="navigation">
	<li><%= link_to 'Show', @collection %></li>
	<li><%= link_to 'Back', collections_path %></li>
</ul>