<h2 class="heading"><%= ts("Open Gift Exchange Challenges") %></h2>

<!--subnav-->
<%= render :partial => "challenge_list_top_navigation" %>
<!--/subnav-->

<!--main content-->
<%= render :partial => "single_type_challenge_collections", locals: { filter_target: list_ge_challenges_collections_url } %>
<!--/main content-->

