<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("%{translator}'s translator page", :translator => @translator.login) %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<!--/content-->

<!--subnav-->
<!--/subnav-->