<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t('.translator_page', :default => "%{translator}'s translator page", :translator => @translator.login) %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<!--/content-->

<!--subnav-->
<!--/subnav-->