<% content_for :message do %>
  <p><%= t(".defaulted_on_assignment.html",
           offer_byline: style_bold(@assignment.offering_pseud.byline),
           request_byline: style_bold(@assignment.requesting_pseud.byline),
           collection_link: style_link(@collection.title, collection_url(@collection))) %></p>

  <p><%= t(".assign_pinch_hitter.html", collection_assignments_page_link: style_link(t(".assign_pinch_hitter.collection_assignments_page"), collection_assignments_url(@collection))) %></p>
<% end %>

<% content_for :footer_note do %>
  <%= collection_footer_note_html(@is_collection_email, @collection) %>
<% end %>

<% content_for :sent_at do %>
  <%= l(Time.current) %>
<% end %>
