<% content_for :message do %>
  <p><%= t(".finished_generating.html", collection_link: style_link(@collection.title, collection_url(@collection))) %></p>

  <p><%= t(".matches_available.html", matching_page_link: style_link(t(".matches_available.matching_page"), collection_potential_matches_url(@collection))) %></p>
<% end %>

<% content_for :footer_note do %>
  <%= collection_footer_note_html(@is_collection_email, @collection) %>
<% end %>

<% content_for :sent_at do %>
  <%= l(Time.current) %>
<% end %>
