<% # used to embed a dynamic "bookmark this" form after each bookmarkable blurb, expects "bookmarkable"  %>
<% @bookmark ||= bookmark_if_exists(bookmarkable) %>
<% if @bookmark %>
  <%= link_to ts("Saved"), edit_bookmark_path(@bookmark), :id => "bookmark_form_trigger_for_#{bookmarkable.id}", :remote => true %>
<% else %>
  <%= link_to ts("Save"), get_new_bookmark_path(bookmarkable), :id => "bookmark_form_trigger_for_#{bookmarkable.id}", :remote => true %>
<% end %>
<div id="bookmark_form_placement_for_<%= bookmarkable.id %>">
  
</div>