<div id="bookmarks">
  <!-- If we're viewing all bookmarks on a work, we want to show the work blurb
       at the top, and the bookmarker info only (user_view) -->
  <%- if params[:work_id]%>
    <%= render :partial => 'works/work_blurb', :locals => {:work => @bookmarkable} %>
    <%- for bookmark in @bookmarks -%>
      <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark, :params => {:user_view => true}} %>
    <%- end -%>    
  <%- else -%>
    <%- for bookmark in @bookmarks -%>
      <%= render :partial => 'bookmarks/bookmark', :locals => {:bookmark => bookmark} %>
    <%- end -%>
  <%- end -%> 
</div>