<!-- This partial requires local variable 'bookmark' -->
<li class="work bookmark <%- if is_author_of?(bookmark) -%>own<%- end -%>">
  <%= render :partial => 'bookmarks/bookmark_full_info', :locals => {:bookmark => bookmark} %>
</li>
