<div class="navigation">
   <span class="navitem"><%= link_to t('links.edit', :default => "Edit"), edit_bookmark_path(bookmark) %></span>
   <span class="navitem"><%= link_to t('links.delete', :default => "Delete"), bookmark, :confirm => t('links.are_you_sure', :default => 'Are you sure?'), :method => :delete %></span>
</div>