<h1><%=h 'Listing bookmarks'.t %></h1>

<!-- BEGIN bookmark link -->
<% if @user && current_user && current_user == @user %>
<ul class="navigation">
<li><%= link_to "Add a new bookmark".t, new_external_work_path %></li>
</ul>
<% end %> 
<!-- END bookmark link -->

<ul class="work-list bookmark">
	<%= render :partial => 'bookmarks/bookmarks' %>
</ul>

<div class="pagination">
	  <%= will_paginate @bookmarks, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>
