<h1>Listing bookmarks</h1>

<!-- BEGIN bookmark link -->
<% if @user && current_user && current_user == @user %><%= link_to "Add a new bookmark", new_external_work_path %><% end %> 
<!-- END bookmark link -->

<%= render :partial => 'bookmarks/bookmarks' %>

<div class="pagination">
	  <%= will_paginate @bookmarks, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>
