<!--SEARCHBROWSE-->
<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Bookmark Search") %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render 'shared/search_nav' %>
<!--/subnav-->

<!--main content-->
<% # ES UPGRADE TRANSITION # %>
<% if use_new_search? %>
  <%= render "bookmarks/search_form" %>
<% else %>
  <%= render "bookmarks/search_form_old" %>
<% end %>
<!--/content-->
