<%= render :partial => 'bookmark', :locals => { :bookmark => @bookmark } -%>

<%- if logged_in_as_admin? -%>
<%= render :partial => 'admin/admin_options', :locals => {:item => @bookmark} %>
<%- end -%>

<ul class="navigation">
<li><%= link_to t('links.back', :default => 'Back'), user_bookmarks_path(@bookmark.user) %></li>
</ul>
