<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= ts("Bookmark") %>
</h2>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
  <li><%= link_to ts("My Bookmarks"), user_bookmarks_path(@bookmark.pseud.user) %></li>
</ul>
<!--/subnav-->

<% # FRONT END NOTE: Twitter widget JavaScript included here for share/_share to ensure it is only loaded once per page %>
<% content_for :footer_js do %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<% end %>

<!--main content-->
<ul class="index group"><%= render 'bookmark_blurb', :bookmark => @bookmark %></ul>
<!--/content-->
