<ul class="index group"><%= render 'bookmark_blurb', :bookmark => @bookmark %></ul>

<p class="navigation actions" role="navigation"><%= link_to ts("Back to Bookmarks"), user_bookmarks_path(@bookmark.pseud.user) %></p>