<!--Descriptive page name, messages and instructions-->
<% if @user %>
  <h2 class="heading"><%=h t('.items.by_user', :default => "Items by %{login} in Collections", :login => @user.login) %></h2>
  <% else %>
  <h2 class="heading"><%= h(ts("Items in ")) + link_to(@collection.title, @collection) %></h2>
<!--/descriptions-->
<!--subnav-->
<!--/subnav-->
<% end %>

<!--trying out the same dl.index pattern as used on inspired-by lists etc-->
<dl class="index">
<% @collection_items.each do |collection_item| %>
  <%= render 'item_form', :collection_item => collection_item %>
<% end %>
</dl>
<!--/content-->
