/* SKIN: Exploded Worker */
/* PARENTS: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31 */
/* DESCRIPTION: Advanced parenting reference parent--explodes the archive 2.0 cascade into all its component parents, 
so you can live edit the CSS in tabs with a plugin like Firefox Web Developer. 
ONLY use this for reference because it will SLOW DOWN your page load. 
You may also find it useful to have this open in a tab-- 
media.transformativeworks.org/training/front_end_coding/patterns/supertypes.html 
*/
/* END SKIN */

/* SKIN: Colour Flip Combos */
/* DESCRIPTION: Please DO copy and reuse and modify this code any way you like!
# instructions: colour flip
This is a finer tuned colour changing guide sheet for writing skins with. 
You will probably find it easier to read if you copy it out to a text editor and compress the formatting.
Load this up and switch the values to your own palette. You can then tack on buttons, icons, or anything else you like.
So I've grabbed all the main colour properties:
# BACKGROUNDS, COLORS, BORDERS, SHADOWS, NONES
combined all the selectors that match each colour, and then grouped into a simplified palette of contrasting blocks roughly:
#1: bright #f4effc, #fff 
#2: light #eee, #999, #ccc
#3: mid #ccc, #444, #666
#4: dark #ddd, #aaa, #222
#5: darkest #000, #111, #333

And then a KEY COLOUR:
#K: #900
*/

/*1*/
body,th,tr:hover,col.name,fieldset fieldset,fieldset dl dl,form blockquote.userstuff,input:focus,select:focus,textarea:focus, .autocomplete div.dropdown ul, #ui-datepicker-div, #ibox_wrapper, #ibox_content, .toggled form, .dynamic form, .secondary, .listbox .index, .dashboard .listbox .index, .nomination dt
        { background:#f4effc;}
#header h2, #footer ul, #footer ul.navigation a, .autocomplete .dropdown ul li:hover,li.selected,a.tag:hover
        { color:#f4effc;}
tbody tr,thead td, #header #small_login,fieldset,form dl,fieldset dl dl,fieldset fieldset fieldset,fieldset fieldset dl dl,dd.hideme,form blockquote.userstuff,form dt, .actions a:active, .current,a.current, .current a:visited, .search span.tip
        { border-color:#f4effc}
form .notice,form ul.notes
        { box-shadow:0px 0 3px #f4effc}

/*2*/
.actions a, .action, .actions input,input[type="submit"],button, .current, .actions label,li.relationships, .thread .even
        { background:#eee;}
a:hover { color:#999}
#login-block,li.blurb,fieldset,form dl, #dashboard ul.navigation, #dashboard ul, #symbols-key dl, .toggled form, .dynamic form,div.comment,li.comment, .comment div.icon, .autocomplete div.dropdown ul, #ibox_wrapper, .bookmark p.count span, .ui-sortable li:hover, .actions a:hover, .actions input:hover, .userstuff blockquote
        { border-color:#ccc;}
fieldset,form dl,fieldset dl dl,fieldset fieldset fieldset,fieldset fieldset dl dl,dd.hideme,form blockquote.userstuff
        { box-shadow:inset 1px 0 5px #999}
        
/*3 MID*/
#dashboard .current, .actions a:active, .current,a.current, .current a:visited,span.unread, .replied,span.claimed,dl.index dd, .own, .draft, .draft .wrapper, .unread, .child, .unwrangled, .unreviewed
        { background:#ccc;}
.actions a, .action, .actions input,input[type="submit"],button, .current, .actions label,a.cloud4, a.cloud5
        { color:#444;}
a:visited, a.cloud6
        { color:#666;}
        thead,tfoot,tfoot td,th,tr:hover,col.name,input,textarea, #ibox_content, .actions a, .action, .actions input,input[type="submit"],button, .current, .actions label,span.unread, .replied,span.claimed, .system .latest h3, .system div.news h3, .listbox,fieldset fieldset.listbox,dl.meta, .picture .header, .bookmark .user, ul.notes
        { border-color:#ccc;}
input,textarea
        { box-shadow:inset 0 1px 2px #ccc}
li.blurb, .blurb .blurb,.listbox .index, .dashboard .listbox .index
        { box-shadow:inset 1px 1px 3px #ccc}
#header ul.primary
        { box-shadow:inset 0 -5px 10px rgba(0,0,0,0.5)}
.autocomplete div.dropdown ul
        { box-shadow:1px 3px 5px rgba(0,0,0,0.5)}

/*4*/
table,thead td, #header #small_login, #dashboard a:hover,fieldset,form dl,fieldset dl dl,fieldset fieldset fieldset,fieldset fieldset dl dl,dd.hideme,form blockquote.userstuff, .ui-sortable li:hover, .listbox,fieldset fieldset.listbox, .comment h4.byline, .readings-index h3, .search span.tip, .flash, .notice, .error,.comment_error, ul.notes
        { background:#ddd;}
body, #main.error, #main.slow, #main.primarytenance, .required .autocomplete, .autocomplete .notice, .post .required .warnings, .listbox .heading, .listbox .heading a:visited, .userstuff h2, .userstuff caption, .userstuff table, .userstuff td, .userstuff col, .userstuff tr, .userstuff thead, .userstuff tfoot, .userstuff tbody, .userstuff th, .userstuff thead td, .userstuff th a, .userstuff th a:link, a.cloud3,#header .search input[type="text"]
        { color:#222;}
.draft  { border-color:#aaa;}
.actions a, .action, .actions input,input[type="submit"],button, .current, .actions label,span.unread, .replied,span.claimed
        { border-bottom-color:#aaa;}
.ui-sortable li:hover, .secondary, .wrapper, .ui-draggable form
        { box-shadow:1px 1px 5px #aaa}
#header #small_login
        { box-shadow:inset 1px 0 5px rgba(0,0,0,0.75)}
.delete a,span.delete
        { box-shadow:-1px -1px 2px rgba(0,0,0,0.75);}

/*5*/
#ibox_w { background:#000;}
a,a:link,a:visited:hover, #dashboard a, #dashboard span, .autocomplete div.dropdown ul, .actions a:visited, .actions a:active, .current,a.current, .current a:visited,a.tag, .tags a, a.cloud1, a.cloud2
        { color:#111;}
.userstuff h3, #header .primary a, #header .primary .current, #header .primary input, #header .search input
        { border-color:#333;}
.actions a:active, .current,a.current, .current a:visited
        { box-shadow:inset 1px 1px 3px #333}

/* K KEY COLOUR (DEFAULT IS STRONG RED)*/
#header ul.primary, #footer, .autocomplete .dropdown ul li:hover,li.selected,a.tag:hover
        { background:#900;}
#header #greeting img, #header h1 a, #header fieldset, #header form, #header p, #dashboard a:hover, .actions a:hover, .actions input:hover, .delete a, span.delete, span.unread, .replied, span.claimed, .draggable, .droppable, span.requested, a.work, .blurb h4 a:link, .blurb h4 img, .system .latest h3, .system div.news h3, .required, .error, a.cloud7, a.cloud8
        { color:#900;}
#greeting .icon, #dashboard.own,.error,.comment_error,#header ul.primary, .LV_invalid,.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active 
        { border-color:#900}

/*TRANSPARENT AND NONNERY*/
#dashboard a, #dashboard span, #dashboard.own, #footer ul.navigation a,fieldset dl,fieldset.actions,fieldset dl fieldset dl, .dynamic form fieldset, .toggled form fieldset, .toggled form dl, .secondary .toggled form, .dashboard .own, .mods li,dl.stats dt,dl.stats dd,dl.stats, .blurb .header .heading, .blurb .header ul, .blurb .header p.status, .preface h3,fieldset.comments, .userstuff table, .userstuff td, .userstuff col, .userstuff tr, .userstuff thead, .userstuff tfoot, .userstuff tbody, .userstuff th, .userstuff thead td, .userstuff th a, .userstuff th a:link
        { background:transparent;}
#footer a:hover,fieldset dl,fieldset.actions,fieldset dl fieldset dl, .dynamic form fieldset, .toggled form fieldset, .toggled form dl, .secondary .toggled form, .actions a, .action, .actions input,input[type="submit"],button, .current, .actions label, #outer.wrapper, #inner.wrapper,dl.index,dl.stats, .listbox,fieldset fieldset.listbox, .listbox li.blurb,fieldset.comments,dl.nomination
        { box-shadow:none}
h2, .system p#signup, #header h2
        { text-shadow: none;}
/* END SKIN */

/*SKIN: Trouble O'Head */
/* DESCRIPTION: Please DO copy and reuse and modify this code any way you like!
takes off the red background and red button borders on the header navigation. This is dead useful to just parent in when you don't want to drop the whole Archive header style.
To remove all buttons styling add 'Don't Care A Button'*/

#header ul.primary 
        { background:none; border:0; box-shadow:none;}
#header ul.primary a, #header ul.primary input, #header ul.primary .search input[type="text"], #header ul.primary .current 
        { border-color:#aaa;}
/* END SKIN */


/* SKIN: Key Colour*/
/* DESCRIPTION: Please DO copy and reuse and modify this code any way you like!
CREDITS
# code: adapted from 'colour flip combos' by lim @ ao3 note to admins, THIS IS THE REF SKIN TO UPDATE
*/

#header ul.primary, #footer, .autocomplete .dropdown ul li:hover,li.selected,a.tag:hover
        { background:#900;}
#header #greeting img, #header h1 a, #header fieldset, #header form, #header p, #dashboard a:hover, .actions a:hover, .actions input:hover, .delete a, span.delete, span.unread, .replied, span.claimed, .draggable, .droppable, span.requested, a.work, .blurb h4 a:link, .blurb h4 img, .system .latest h3, .system div.news h3, .required, .error, a.cloud7, a.cloud8
        { color:#900;}
#greeting .icon, #dashboard.own,.error,.comment_error,#header ul.primary, #header a, #header input, .LV_invalid,.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active 
        { border-color:#900 !important}
/* END SKIN */

/* SKIN: Region Drop */
/* PARENT_ONLY */ 
/* PARENTS: 1, 2, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31 */
/* DESCRIPTION: This is an advanced parenting parent for replacer layouts. It drops header, dash, footer, and main from AO3 default. In most cases you're better off overriding instead. Check out Trouble O'Head for fast header overrides and the Tile Puzzle series to move the dashboard around with overrides.*/
/* END SKIN */

