/* SKIN: Blurblings Shipper */
/* DESCRIPTION: emphasises the relationship tags */
li.blurb .relationships {
  font-weight: bold;
  font-style:oblique;
  border-bottom:2px solid;
}
/* END SKIN */

/* SKIN: Blurblings Faint Warning */
/* DESCRIPTION:  de-emphasises the warning tags */
li.blurb .warnings strong {font-weight:normal;}
/* END SKIN */

/* SKIN: Blurblings Hide fandom*/
li.blurb .header h5.heading{display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide datetime*/
li.blurb .datetime {display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide tags*/
li.blurb .tags {display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide warnings*/
li.blurb .warnings {display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide relationships*/
li.blurb .relationships {display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide characters*/
li.blurb .characters {display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide freeform tags*/
li.blurb .freeforms {display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide summary*/
li.blurb .summary {display:none;}
/* END SKIN */

/* SKIN: Blurblings Hide stats */
li.blurb .stats {display:none;}
/* END SKIN */

/* SKIN: Blurblings chain example*/
/* DESCRIPTION:  Just demonstrating how you can chain blurblings together*/
/* PARENTS: Blurblings Faint Warning, Blurblings Shipper, Blurblings Hide summary */
/* END SKIN */

/* SKIN: Blurblings Hide nearly everything */
/*  DESCRIPTION: on every blurb except the title, author, fandom*/
li.blurb p, .index li.blurb ul, li.blurb ol, li.blurb blockquote, li.blurb dl, li.blurb .user, li.blurb .icon {
display: none
}
li.blurb .header .heading {
margin: auto;
}
li.blurb, li.blurb .header {
box-shadow: none;
border: 0;
margin: auto;
min-height: 0
}
.index li.blurb .actions {
display: block;
padding: 0; margin:auto;
float: right;
}
/* END SKIN */

/* SKIN: Blurblings title author list*/
/* PARENTS: Blurblings Hide nearly everything */
li.blurb .header h5.heading{
  display:none;}
/* END SKIN */  
  
/* SKIN: Blurblings Header Only*/
li.blurb p, li.blurb ul, li.blurb ol, li.blurb blockquote, li.blurb dl, li.blurb .user {
display: none
}
li.blurb p.datetime {
  display:block;
  }
li.blurb, li.blurb .header {
box-shadow: none;
border: 0;
margin: auto;
}
.index li.blurb .actions {
display: block;
padding: 0; margin:auto;
float: right;
}
/* END SKIN */


/* SKIN: Blurblings Landmarks*/
/* DESCRIPTION: Show the blurb landmark headings*/
#main li.blurb .landmark {
height:auto;
width:auto;
margin:0.643em 0;
line-height:1;
font-size:100%;
opacity:1;
color:#000;
font-weight:bold;
}
/* END SKIN */

/* SKIN: Blurblings Blurb Drop */
/* DESCRIPTION: drops the blurb group entirely to make a plain text blurb */
/* PARENTS: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31 */ 
/* END SKIN */

/* SKIN: Typeset In My Ways */
/* DESCRIPTION: uses the Archive typography and layout, with plain text blurb and a limited width work view*/
/* PARENTS: Blurblings Blurb Drop */
#workskin {max-width:39em; margin:auto}
#inner {max-width:75%; margin:auto;}
/* END SKIN */ 


/* SKIN: Incommodious */
/* DESCRIPTION: takes off all the commas */
/* We add commas in lists of tags, mostly, which are displayed inline, but you can turn them off if you find them odious. */
.commas li:after
        { content:none }
/* END SKIN */

/* SKIN: Branch Line */
/* REPLACE: 431 */
/* PARENTS: Incommodious */
/* DESCRIPTION: Breaks warnings, relationships, characters, and freeform tags into separate groups. by Branch @ao3 */
.blurb .relationships {
  font-style: italic;
  background:none;
}
ul.tags {
  padding-top: .5em;
}

ul.tags li.warnings,
ul.tags li.relationships,
ul.tags li.characters,
ul.tags li.freeforms {
  float: left !important;
}

li.warnings + li.relationships,
li.relationships + li.characters,
li.characters + li.freeforms,
li.warnings + li.characters,
li.warnings + li.freeforms,
li.relationships + li.freeforms {
  clear: left;
}

ul.tags li.warnings:first-child:before {
  content: "Archive Warnings: ";
  color: #111;
  font-weight: bold;
}

li.warnings + li.relationships:before {
  content: "Relationships: ";
  color: #111;
  font-weight: bold;
}

li.relationships + li.characters:before {
  content: "Characters: ";
  color: #111;
  font-weight: bold;
}

li.characters + li.freeforms:before {
  content: "Freeform: ";
  color: #111;
  font-weight: bold;
}

li.warnings + li.characters:before {
  content: "Characters: ";
  color: #111;
  font-weight: bold;
}

li.warnings + li.freeforms:before {
  content: "Freeform: ";
  color: #111;
  font-weight: bold;
}

li.relationships + li.freeforms:before {
  content: "Freeform: ";
  color: #111;
  font-weight: bold;
}

/* END SKIN */

/* SKIN: Plain Text */
/* REPLACE: 2 */
/* PARENTS: Blurblings Blurb Drop */
* {font-family:serif !important;}
/* END SKIN*/

