/* SKIN: Don't Care A Button */
/* DESCRIPTION: takes off button styling to leave plain text */
/* Please DO copy and reuse and modify this code any way you like! */
.actions a,.actions a:visited,.action, input[type="submit"], button, .current, .actions label
        { background: none; border:0; padding:0.25em; border-radius:0; box-shadow:none;}
#outer .actions a:hover, .actions input[type="submit"]:hover 
        { border:0; text-decoration:underline;color:#999; box-shadow:none; }
/* END SKIN */

/* SKIN: Aqua Buttons */
/* Please DO copy and reuse and modify this code any way you like!
CREDIT- girliemac.com/blog/2010/02/04/css3-box-shadow-with-inset-values-the-aqua-button-rerevisited/
*/
.actions a,.actions a:visited,.action, input[type="submit"], button, .current, .actions label
        { background: #cde; border: 2px solid #ccc; border-color: #8ba2c1 #5890bf #4f93ca #768fa5; padding: 0.15em 1em 0.25em; font-weight:bold; color: #fff;text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px; 
text-overflow: ellipsis; 
border-radius: 1em;
box-shadow: 0 2px 3px rgba(66, 140, 240, 0.5), 0 -8px 12px 0 #6bf inset, 0 -8px 0 8px #48c inset, 0 -35px 15px -10px #7ad inset; }
.actions a:hover, .actions input[type="submit"]:hover 
        { text-shadow: rgb(255, 255, 255) 0px 0px 5px; color:#1f93ca}
/* END SKIN */

/* SKIN: Gel Buttons */
/* Please DO copy and reuse and modify this code any way you like!
CREDIT-  girliemac.com/blog/2010/02/04/css3-box-shadow-with-inset-values-the-aqua-button-rerevisited/
*/
.actions a,.actions a:visited,.action, .actions input, input[type="submit"], button, .current, .actions label
        { background: #900; border: 2px solid #ccc; border-color: #EA9A9A #a00 #800 #a00; padding: 0.15em 1em 0.25em; font-weight:bold; color: #fff;text-shadow: rgba(153, 10, 10, 0.5) 1px 2px 2px; 
text-overflow: ellipsis; 
border-radius: 1em;
box-shadow: 0 5px 8px rgba(255, 150, 150, 0.5), 0 -8px 12px 0 #900 inset, 0 -8px 0 8px #EA9A9A inset, 0 -35px 15px -10px #F2D7D7 inset;
}
.actions a:hover 
        { text-shadow: rgb(255, 255, 255) 0px 0px 5px; }
/* END SKIN */

/* SKIN: Massive Buttons */
/* DESCRIPTION: These are really big and bold. You might want to take off the box shadow */
/* Please DO copy and reuse and modify this code any way you like!  */
.actions a,.actions a:visited,.action, .actions input, input[type="submit"], button, .current, .actions label, .actions a:hover
{color:#2a2a2a;font-size:130%; margin: 0.15em; border:2px solid #777;
box-shadow:2px 2px 2px; }
.actions a:hover, .actions input[type="submit"]:hover, .current {background:#000; border-color:#fff; color:#fff; box-shadow:none;}
/* END SKIN */

/* SKIN: Scribble Buttons */
/* DESCRIPTION: 
Scribbly pencil background and marker font. 
Please DO copy and reuse and modify this code any way you like!
CREDITS-
# links to free, open font downloads: [ Trash Hand by Luce Averous @ http://www.luce.averous.com/]
or alt GoodDog: http://www.fontsquirrel.com/fonts/GoodDog 
# instructions: 
This component is useful for paper/notebook layouts like Desk Job
*/

#header .primary a, #header input[type="submit"], .actions a,.actions a, .action, input[type="submit"], button, .current, #dashboard .current, .actions label 
        { background: url("/images/skins/textures/tiles/black-scribble-x.png")  repeat-x;background-size: 40px;
          border:0; text-shadow:-1px 0px 0 #eee; font-size: larger; font-family:"TrashHand", "GoodDog", "Lucida Handwriting", cursive; color:#222 }
/* END SKIN */

/* SKIN: Dusted Buttons */
/* PARENTS: Dusted Off */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
CREDITS
# code: adapted from 'colour flip combos' by lim @ ao3 and 'Dusty Rose' by sistabro @ ao3
# and http://www.andrewgreig.com/2010/05/styling-pretty-buttons-with-css3/ 
*/
/*note to intrepid skinsers: 
there is an external bug in our CSS parser plugin meaning 
we can't use gradients (or actually multiple background instances),
which is obviously excessively vexing. 
Until the developer fixes this, I'm working around by 
inheriting the AO3 button gradient and tinting it 
with diffused, partially transparent box shadows. 
Anyway, this is why these buttons don't have 
fallback backgrounds or iterated backgrounds 
- the parser just eats them!*/
.actions a,.actions a:visited,.action, .actions input, input[type="submit"], button, .current, .actions label 
        { font-family:Arial, sans-serif; text-transform:uppercase; letter-spacing:0.06em; color:#fff !important; border-radius:0.5em; box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 5px 3px 20px rgba(207,77,105,0.75), inset 10px 10px 20px rgba(207,129,149,0.5), inset -10px -10px 20px rgba(207,129,149,0.5); text-shadow: -1px -1px 0 rgba(0,0,0,0.35); }

.actions a:hover, input[type="submit"]:hover, button:hover .actions label:hover, .action:hover
        { box-shadow:inset 1px 1px 2px; text-shadow:none; color: #600 !important}

/*tweak for header */
#greeting {min-width:200px;}
/* END SKIN */



