/* SKIN: Chained Buttons */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
 CSS3 Buttons you can chain in to your own design
CREDITS: http://www.red-team-design.com/just-another-awesome-css3-buttons */

/*note to intrepid skinsers: there is an external bug in our CSS parser plugin meaning we can't use gradients or multiple background instances, which is obviously excessively vexing. Until the developer fixes this, I'm working around by inheriting the AO3 button gradient and tinting it with diffused, partially transparent box shadows. See Dusted Buttons for a colour example. Anyway, this is why these buttons don't have fallback backgrounds or iterated backgrounds - the parser just eats them!*/
#outer .actions a,#outer #footer .actions a, #greeting .actions a,.symbol .question,.actions input,input[type="submit"],button,#outer .current,.actions label
        { white-space:nowrap; text-align:left; height:auto; 
        border:1px solid #777; padding:0 1.5em; margin:0.5em 0.25em; font-weight:bold; font-size:0.875em; line-height:1.75em; font-family: Helvetica,Arial, sans-serif; color:#333; 
        text-shadow:0 1px 0 rgba(255,255,255,.8); border-radius:.2em; box-shadow:0 0 1px 1px rgba(255,255,255,.8) inset,0 1px 0 rgba(0,0,0,.3); }

#outer .actions a:hover,symbol .question:hover,.actions input:hover,#outer input[type="submit"]:hover,button:hover,.actions label:hover
        { color:#555;   box-shadow:inset -5px -10px 10px rgba(0,0,0,0.2); }
.actions a:active,#outer .current
        { position:relative; top:1px;
        background:rgba(0,0,0,0.15); box-shadow:0 0 4px 2px rgba(0,0,0,.4) inset; }
.actions a:focus
        { outline:0; background:#fafafa; }
.actions a:before,.actions input:before,.actions label:before,#outer .current:before
        { background:#ccc; background:rgba(0,0,0,.1); float:left; width:1em; text-align:center; font-size:1.5em; margin:0 1em 0 -1em; padding:0 .2em; 
        box-shadow:1px 0 0 rgba(0,0,0,.5),2px 0 0 rgba(255,255,255,.5); border-radius:.15em 0 0 .15em; }
.actions a:before,.actions label:before,#outer .current:before
        { content:"•"; }
.symbol .question
        { padding:0.15em 0; }
input[type="submit"]
        { height:1.929em; }
/*tweak!*/
#inner li.blurb .stats 
        { margin:0.643em auto 1em; padding:0}

/* END SKIN */

/* SKIN: Chained Head */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
 CSS3 animation you can chain in to your own design*/
/* PARENTS: Trouble O'Head */

#greeting .icon 
        { height:50px; width:50px; background-size:50px; border-bottom:0}
#greeting ul 
        { margin-top:-100px; right:50px; text-align:right;font-size:smaller; width:50px;position:absolute; -moz-transition:all 0.8s ease-in;}
div#greeting:hover ul
        { margin-top:0 }
#header { min-height:0; margin-bottom:0; }
#main, #dashboard 
        { padding-top:2em; }
#header h1 img 
        { display:none}
#header ul.primary 
        { padding:0 50px 1em 0; font-size:75%; border-bottom:5px solid rgba(255,255,255,0.55);}
/* END SKIN */

/* SKIN: Chained Groups */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
 CSS3 group transparency palette you can chain in to your own design*/
.group, .flash, .notice, table,#footer
        { background:transparent;}
#footer { border:0}
#footer .beta 
        { display:none;}
.verbose fieldset
        { box-shadow:none;}
.group .group, .meta, th, tbody th, col.name, #header ul.primary, .flash, .notice, ul.notes
        { background:rgba(0,0,0,0.1);}
li.blurb, fieldset, .verbose legend, form fieldset
        { background:rgba(255,255,255,0.3); box-shadow: 1px 0 1px #777;border:10px solid rgba(255,255,255,0.7);}
.group .group.index, .listbox .index, #feedback .odd 
        { background:rgba(255,255,255,0.65);}
.heading{ text-shadow:-1px 0 0 #fff}
.heading a:visited 
        { color:#000;}
#inner .wrapper 
        { max-width:49em; margin:auto; box-shadow:none; border:1px solid #bbb}
#workskin
        { margin:auto; max-width:39em; padding:2.5em 5em; background:rgba(255,255,255, 0.75);border:10px solid rgba(0,0,0,0.2); box-shadow:0 0 5px}
.secondary, .toggled, .dynamic, dropdown {background:white;}
.picture .header 
        { border-bottom-width:3px; border-style:dashed}
/* END SKIN */

/* SKIN: Chained Quotes */
/*DESCRIPTION:
Please DO copy and reuse and modify this code any way you like!
 CSS3 blockquote styling you can chain in to your own design
 # links to free, open font downloads:
  http://www.fontsquirrel.com/fonts/Mido by Eva Grinder
  http://www.fontsquirrel.com/fonts/AUdimat by Jack Usine
  http://www.fontsquirrel.com/fonts/ostrich-sans by Tyler Finck*/
  
blockquote.userstuff {
  font-family: "Mido", "AUdimat", "Ostrich Sans Rounded","Lucida Grande", sans-serif !important;
   position: relative; background:rgba(0,0,0,0.1); padding:2%; border:1px solid rgba(0,0,0,0.15);
  box-shadow:0 0 2px rgba(0,0,0,0.4);
}
blockquote.userstuff:before, blockquote.userstuff:after 
        { content: "\201C"; font-style:italic; font-family:serif; color:#555;font-size:900%; position:absolute; opacity:0.5; line-height:0.2; top:50px; left:0; text-shadow:-1px -1px 1px #000;}
blockquote.userstuff:after 
        { content: "\201D";  right:0; top:auto; left:auto; }
/* END SKIN */

/* SKIN: Chained Icons */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
 CSS3 icon styling you can chain in to your own design*/
#greeting .icon 
        { border-bottom:0}
.icon, #greeting p.icon img
        { background:rgba(255,255,255,0.3); box-shadow: 1px 0 1px #777;border:10px solid rgba(255,255,255,0.7);}
.blurb ul.required-tags span, .bookmark .status span, .icon 
        { border:1px solid #eee; -moz-transform:scale(0.87); border-radius:0.5em; 
          box-shadow: 0 0 1px 5px rgba(255,255,255,.2) inset, 0 1px 0 rgba(0,0,0,.7);}
/* END SKIN */

/* SKIN: Chained Key */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
# CSS3 colour font background key you can chain in to your own design
# links to free, open font downloads:
 http://www.fontsquirrel.com/fonts/Mido by Eva Grinder
 http://www.theleagueofmoveabletype.com/fonts/7-league-gothic by The League of Moveable Type*/
body    { background:url('/images/skins/textures/tiles/grey-corrogated.jpg');
background-size:50px;}
body, .heading 
        { font-family: Mido, Georgia,serif;}
#inner h2.heading, #home .heading 
        { font-family:"League Gothic", "Franklin Gothic", sans-serif; text-transform:uppercase; letter-spacing:0.5px; text-shadow:-1px -1px 0 rgba(255,255,255,0.7);}
.picture .header, #dashboard.own,.error,.comment_error, .LV_invalid,.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active, ul.notes 
        { border-color:rgba(211,126,0,0.6) !important}
/* END SKIN */

/* SKIN: Chained Melody */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like! Chaining all the components together to make a complete theme*/
/* PARENTS: Chained Buttons, Chained Head, Chained Groups, Chained Quotes, Chained Icons, Chained Key */
/* END SKIN */
