/* SKIN: Fixie Fix*/
 /* PARENT_ONLY */
 /* PARENTS: 1,2,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22 */
/* DESCRIPTION: this fixes the header, dashboard, and footer to the viewport and scrolls the main content. It has a min-width of 480px. This is intended as a quick fix (sorry) that you can parent in to your own skin: it's "parent only". 
# The complete layout is called Fixie.  
# Please DO copy and reuse and modify this code any way you like!
*/


/* fixing the regions to the viewport*/
body    { background: #756d63 url("/images/skins/textures/tiles/purple-wood-desktop.jpg");}
#header, #footer, #dashboard 
        { position:fixed; background:#756d63 url("/images/skins/textures/tiles/black-noise.jpg"); z-index:100;box-shadow:0 0 2px}

#header { min-width:480px;z-index:120;top:0; height:8em; left:0; right:0; padding:0.375em 75px 0.375em 0.375em; border-bottom:5px solid #C67721}
#dashboard 
        { top:8.75em; height:100%;left:0; width:12em; padding:0.2em;text-align:right; font-size:90%; border-right:5px solid #C67721}
#dashboard li 
        { display:block;}
#dashboard.wrangling, #dashboard.admin 
        { padding-left:1em;}

#main   { min-height:380px; margin:8.75em 0 0 0; padding: 1.5em 0.75em 3em 0.75em; background:url("/images/skins/textures/tiles/white-handmade-paper.jpg"); background-size:350px;border:5px solid #C67721; border-top:0}
#main.dashboard 
        { margin: 8.25em 0 0 11.25em; padding: 1.5em 0.75em 3em 0.75em;}
#footer {  bottom:0; left:0; right:0; height:5em; overflow:hidden; font-size:60%; padding:0;; border-top:5px solid #C67721}
#footer ul 
        { padding:0;margin:-1em 0 0 0; }

/*header replacement, more complicated styling */
#header h1 
        { margin:auto auto auto 0.5em}
#header h1 img 
        { display:none;}
#header h1:before 
        { content:"AO3"; color:#fff9ef}

#greeting 
        { width:65px;  height:100px; font-size:60%; text-align:left }
#greeting 
        { position:absolute; right:0}
#greeting p.icon 
        { height:50px; width:50px; margin:-0.643em 0; text-align:center;}
#greeting img 
        { padding:3px; border:0; }
#greeting ul 
        { margin:15px auto auto}
#greeting li 
        { display:block; margin:auto ;}

#header ul.primary 
        { float:none; display:block; }
/* zeroing */
#header fieldset 
        { border:0; background:0; box-shadow:none}
#header .search input[type="text"] 
        { background:#fff9ef;}
/* END SKIN */

/* SKIN: Fixie Icons */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
*/
/*icons*/
.icon img 
        { height:50px; width:50px; padding:12px; background:none; border:3px dashed}
p.icon, div.icon, .blurb.picture .icon
        { background:url("/images/skins/textures/tiles/black-scribble-x.png") top left repeat-x; background-size:55px;height:50px; width:50px; padding:0;}
p.icon, div.icon
        { height:75px; width:75px; background-size:85px}


ul.required-tags span, .bookmark .status span 
        { border-radius:0.375em; border:1px dashed; opacity:0.9}
/* END SKIN*/

/* SKIN: Fixie Buttons */
/* DESCRIPTION: The buttons from the Fixie layout, broken out into a component so you can use them in another skin.
Please DO copy and reuse and modify this code any way you like!
CREDITS:
# links to free, open font downloads: 
http://www.fontsquirrel.com/fonts/Mido by Eva Grinder
http://www.fontsquirrel.com/fonts/cabinsketch by Pablo Impallari
*/

/* first zeroing bc Fixie doesn't drop actions.css*/
.actions a, .current, #header fieldset, .actions a:hover, #main .actions a:hover, #main input[type="submit"]:hover, button:hover, .submit input:hover 
        { border:0; background:0; box-shadow:none}
/*text styling*/
#outer .actions, .actions input, .submit input
        { text-align:right; text-transform:lowercase;}
.actions a, .current, .actions input, #header a:visited, #dashboard a:visited 
        { font-family:"CabinSketch"; color:#fff9ef}

/*scribble style*/
#main .actions a, #main .action, .actions input[type="submit"],.submit input,  button, .current, #dashboard .current, .actions label, label.action, #outer .actions a:hover, #outer .actions input[type="submit"]:hover 
        { background: url("/images/skins/textures/tiles/black-scribble-x.png")  repeat-x; border:0;background-size: 30px; color:#222;
}
#main .actions a:hover, #outer .actions input[type="submit"]:hover , button:hover
        { color:#fff9ef;}
/* END SKIN */

/* SKIN: Fixie Groups*/
/* DESCRIPTION:
These are the swooshy boxes and fonts from the Fixie layout. Please DO copy and reuse and modify this code any way you like!
CREDITS:
# links to free, open font downloads: 
http://www.fontsquirrel.com/fonts/Mido by Eva Grinder
http://www.fontsquirrel.com/fonts/cabinsketch by Pablo Impallari
*/

body, .userstuff 
        { font-family:Mido, Georgia, serif;}
.heading, .userstuff h3, .userstuff h4
        { font-family:"CabinSketch", Georgia,serif;}
#main .heading 
        { color:#756d63;}
        
/* groups */
#inner .group, #inner .heading, fieldset, .verbose legend, table, table th, col.name, span.unread, span.replied
        { outline:none; background:transparent; border-color:#888; border-style:dashed; box-shadow:none; border-radius:2em; border-bottom-right-radius:0; border-top-left-radius:0}
#inner .group .group .group, col.name
        { border-style:double; border-color:#bbb; box-shadow:0 0 2px #000}
#inner .bookmark .user.module, #inner .wrapper 
        { border:0; border-radius:0; border-top:3px double #bbb; box-shadow:none}
#workskin 
        { margin:auto 3.5em; }
.filters{ font-size:90%;}

.toggled form, .dynamic form, .secondary, .dropdown
        { background: #fff url("/images/skins/textures/tiles/white-handmade-paper.jpg"); }

/* END SKIN */

/* SKIN: Fixie */
/* PARENTS: Fixie Fix, Fixie Buttons, Fixie Icons, Fixie Groups*/
/* DESCRIPTION: fixed regions with scrolling body layout. Not supported in IE7 or lower. Better for wider screens but you can easily chain in 'Full Width Filters' to use on iPhone or similar. 
CREDITS:
# links to free, open font downloads: 
http://www.fontsquirrel.com/fonts/Mido by Eva Grinder
http://www.fontsquirrel.com/fonts/cabinsketch by Pablo Impallari*/
/* END SKIN */       
