/* SKIN: Simply Twilling */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
CREDITS:  images: [ http://www.fuzzimo.com/free-seamless-denim-jeans-textures/]
# instructions: 

this CSS3 skin is "add-on" and really simple. 
It demonstrates how you can use the #outer and #inner .wrappers
to layer semi-transparent white and black over a single image 
to build a complete skin
Swap the first background image to change the whole look.
Or load this as a parent and override the image in the skins form, 
see the skin "Threw Twill Out" for an example
*/
/*note to intrepid skinsers: there is an external bug in our CSS parser plugin meaning we can't use gradients or multiple background instances, which is obviously excessively vexing. See "Dusted Buttons" for a workaround using diffused, partially transparent box shadows. Anyway, this is why there are no fallback backgrounds or iterated backgrounds - the parser just eats them!*/
/*apply background*/
#outer  { background:#756d63 url(/images/skins/textures/tiles/brown-twill.jpg);}

/*and then semi-opaque overlays on some #regions and .groups 
http://media.transformativeworks.org/training/front_end_coding/patterns/supertypes.html */
#inner  { background:rgba(255,255,255,0.5); padding:1.5em 1em}
#header, #footer 
        { background:rgba(0,0,0,0.5); min-height:0; margin:0; padding:3em 0 0 0; box-shadow:1px 0 1px #000}
#main, li.blurb, .wrapper, .flash, .listbox, .listbox .index, .dashboard .listbox .index, #main fieldset, .verbose legend
        { background:rgba(255,255,255,0.5); }


/*robustification*/

/*override #region defaults (for more complicated headers, you might drop the header parent)*/
#header #greeting 
        { width:50px; }
#header #greeting .icon 
        { height:50px; width:50px;}
#header h1 
        { position:static;}
#header h1 img
        { display:none;}
#header h1 span.landmark 

        { line-height:0.7;height:auto; font-size:2em;
opacity:1; color:rgba(255,255,255,0.5); text-shadow:-1px 0 0 #000}
#header ul.primary 
        { background:rgba(0,0,0,0.35); display:block; margin-top:0.7em;padding: 0.25em 60px; text-align:right; border-color:rgba(0,0,0,0.5)}
#header .actions a, #header .current, #header input[type="submit"],#header fieldset
        { background:none; color:rgba(255,255,255,0.75); border:0; box-shadow:none;}
#header .current 
        { background:rgba(0,0,0,0.25); box-shadow:inset 0 0 3px #000}

/*tweak borders and shadows*/
.actions a, .current, #inner #dashboard ul,#dashboard.own
        { border-color:#beb5ac;}
#main, li.blurb, .wrapper, .flash, .listbox
        { box-shadow:0 1px 2px; outline:none }
/* END SKIN*/

/* SKIN: Threw Twill Out */
/* PARENTS: Simply Twilling */
/* DESCRIPTION: example of overriding background for different look */
#outer  { background:#756d63 url("/images/skins/textures/tiles/black-metal-grid.jpg");}
/* END SKIN*/

/* SKIN: The Hustings */
/* PARENTS: Slim Shaded */
/* DESCRIPTION: 
Please DO copy and reuse and modify this code any way you like!
CREDITS:  images: [ fuzzimo!]
links to free, open font downloads: 
www.fontsquirrel.com/fonts/MEgalopolis-Extra by Jack Usine
ww.fontsquirrel.com/fonts/ChunkFive by The League of Moveable Type
www.fontsquirrel.com/fonts/ostrich-sans by Tyler Finck
www.fontsquirrel.com/fonts/AUdimat by Jack Usine
# instructions: 
You could use the blockquote style in lots of places 
- this is an hurried-for-deploy version of a more complete skin I'm writing with this look
*/

#outer {background:url("/images/skins/textures/tiles/grey-canvas.jpg");}
#inner, #inner .group, .meta { background: rgba(0,0,0,0.15); border:1px solid rgba(255,255,255,0.5);}}
#feedback .group .heading, #feedback .group.odd {background: rgba(255,255,255,0.25);}

/*spiffy comments */

/*You could repurpose this blockquote style in work blurb like I have done in Chained Quotes*/
.comment blockquote.userstuff {
  font-family: "AUdimat", "Ostrich Sans Rounded","Monaco","Lucida Grande", sans-serif !important;
   position: relative; background:rgba(0,0,0,0.2); padding:2%; border:1px solid rgba(0,0,0,0.15);
  box-shadow:0 0 2px rgba(0,0,0,0.4);
}
.comment blockquote.userstuff:before, .comment blockquote.userstuff:after 
        { content: "\201C"; font-style:italic; font-family:serif; color:#555;font-size:900%; position:absolute; opacity:0.5; line-height:0.2; top:50px; left:0; text-shadow:-1px -1px 1px #000;}
.comment blockquote.userstuff:after 
        { content: "\201D";  right:0; top:auto; left:auto; }

#feedback,#main.comments-show  
        { margin-left:150px}
.comment div.icon
        { background:#fff url("/images/skins/iconsets/default/icon_user.png");position:absolute; top:0; left:-125px; overflow:hidden;
border:5px solid rgba(0,0,0,0.3);
        border-top-left-radius:5em; border-top-right-radius:5em; box-shadow:-1px -1px 2px rgba(0,0,0,0.5);}
.comment .heading, .comment h4.byline 
        { font-family:"MEgalopolis Extra", "ChunkFive",Georgia,serif; font-size:300%; margin:auto;padding:0.25em;
color:rgba(0,0,0,0.75); text-shadow:-1px 1px 2px rgba(255,255,255,0.3); }
.comment .heading a,.comment .heading a:link 
        { border:0; word-wrap:break-all}

/*tweaks*/
#header {margin-bottom:0; min-height:0}
#inner .group.index {padding:2%;}
.works-index .filters {display:none;}
#inbox-form, .works-index .index, .collections-index .index {width:100%;}
/* END SKIN */

/* SKIN: Panda Madness */
/* DESCRIPTION: this is pink and round and it, it has pandas on it
Please DO copy and reuse and modify this code any way you like!
CREDITS:images: [ Pandas by Evan Eckard @ http://www.dinpattern.com/2011/05/17/panda-madness/]
#         resources: [ example texture name by etc @ etc ]
#         code: [ based on The Bubbler ]
# links to free, open font downloads: [ fontname by person @ examplefoundry.com]
# instructions: [ etc]
*/

/*regions and groups*/
#outer {
background: url("/images/skins/textures/tiles/pink-illo-panda-madness.gif");
padding: 0.5em 2.5em;
}
#outer .region {
background: #f4effc;
padding: 1em;
}
#inner .region {
padding: 1.5em;
}
#outer .region, #inner .group, fieldset, .flash {
border: 4px solid #ddd;
box-shadow: inset 0 0 5px;
outline: 0;
border-radius: 2em;
box-shadow: 0 -10px 0 #DBA4C8, 0 10px 0 #CBA4C8,-6px 0 0 #EBA4C8,6px 0 0 #BBA4C8, inset 0 0 5px;
margin-bottom: 2em;
}
.blurb .module, #inner .group .group .group, fieldset fieldset {
border: 0;
box-shadow: none;
}
.group .header, .blurb ul.tags, .blurb blockquote,#outer .current {
background: #ddd;
border: 3px solid #fff;
border-radius: 1.5em;
padding: 0.5em;
}
.group .header {
width: 96%
}

/*header, dashboard, main, footer region overrides*/
#header h1 {
top: 0.5em;
left: 0.5em
}
#header #greeting {
right: 2em;
}
#header h1 img {
opacity: 0.75
}
#header li.search {
float: none;
display: block;
margin-top: 0.643em
}
#header li.search input {
border: none;
}
#dashboard {
width: 20%
}
#main.dashboard {
margin: auto 1.5em;
position: relative;
clear: none;
float: right;
width: 60%
}
#outer #footer .actions a {
color: #900;
}
/*bubble icons and buttons*/
.blurb ul.required-tags li span, .bookmark .status span, .actions a, .actions a:visited, .action, .actions input,input[type="submit"],button, .current, .actions label,legend,textarea,input,#header ul.primary a, .icon {
border: 1px solid #ddd;
border-radius: 1.5em;
box-shadow: 0 0 2px #555;
}
.icon {
border-radius: 5em;
}
/*ZEROING*/
#main .index, #header ul.primary {
box-shadow: none;
border: none;
background: transparent
}
/* END */

