/* SKIN: Low Vision Default*/
/* PARENTS: 1, 2, 4, 5, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31 */

/* DESCRIPTION: 
Please DO copy and reuse and modify 
this code any way you like!
CREDITS-- much owed to Amanda Bankier
# to go over what's going on here--
# takes out all "columns" and makes everything max-width, so 
dashboard is max, filters are max
# and so it puts the filters at the bottom of the page
# puts strong borders around some groups and buttons
# makes header and footer buttons max width blocks
# shows the header text instead of image
# removes the blurb icons and replaces with text
# enlarges the pre and textarea text by 200% so it scales in Firefox
# swaps a lot of margins and padding into percentages so 
they don't scale up as much and crowd out the text
# takes off the header and footer texture and makes it flat
There's not a lot else done with colours/images on the grounds you're probably overriding in your browser. 
If the skin doesn't do these things somewhere, please DO tell us via Support!
*/

#outer *{ box-shadow:none;}
.icon   { background:none;}
#main, #dashboard, #dashboard ul, #main.dashboard,fieldset, form dl, fieldset dl dl, fieldset fieldset fieldset, fieldset fieldset dl dl, dd.hideme, form blockquote.userstuff 
        { margin:2%; padding:2%;}
#dashboard, #dashboard ul, #main.dashboard, #inbox-form, .alphabet .listbox li, .media .listbox, .works-index .index, .collections-index .index
        {  float:none; width: auto; max-width:100%; }
media .listbox
        { width: 100%;}
#inner .filters, .filters dt  
        { width:100%;}
.group .group, .actions a, .actions input, .flash, fieldset, #header ul.primary li.search, .listbox fieldset,fieldset, form dl, fieldset dl dl, fieldset fieldset fieldset, fieldset fieldset dl dl, dd.hideme, form blockquote.userstuff 
        {  border:2px solid;}
li.blurb, .group  
        { visibility:visible;}
li.blurb{ padding:3%;}
.listbox .blurb,.group.listbox .index  
        {  margin:auto}
.group.listbox .index, fieldset.listbox.group  
        { padding:0; border:0}
fieldset dd dl, form .meta dd, fieldset dl fieldset dl, dd fieldset
        { margin: 2% 0; border:0}
textarea, pre 
        { font-size:200%;}

#header li, #footer li,.home .primary .navigation a, .blurb .actions a,#header li a, #header li .current, #footer li a  
        { display:block; }
#header ul.primary, #header li a, #header li .current, #footer ul, #footer li a  
        { float:none;}
#header h1 img,#header .tip  
        { visibility:hidden;}
#header h1 
        { position:static;}
#header h1 .landmark  
        { opacity:1; line-height:1; font-size:100%;height:auto; width:auto; color:#000;}
#greeting p {float:right;}

/*KEY COLOUR, change this to broadly change the livery (not very accurate, but check out colour flip combos for finer control)*/
#header, #header ul.primary, #footer,  .actions a:hover  
        { background: #900; color:#eee}
        
/* END SKIN */


