/* SKIN: One Point Faux */
/* DESCRIPTION: Spoofs the old style on top of the new style. */

/*colour*/
#outer {
background: #fffef9; color:#111}

/*regions*/
/*header */
#header {font-size:100%;min-height:0; padding-top:1em;position:relative;
background:url("/images/legacy/header-red.png") bottom left;
box-shadow:0 4px 8px;
}
#login .navigation,#header li.search
         { text-align:right;float:right;}
#header ul.primary {margin:auto; text-align:left;
background:none; box-shadow:none; padding:0 0 0 0.2em;
border-bottom:5px solid #000; }
#header ul.primary li {margin:0; padding:0}
#header ul.primary a {background:#fff url("/images/legacy/fffef9-ccc.png") bottom left repeat-x;}
#header ul.primary a:hover {background:#ddd; color:#000}
#header ul.primary a, #header ul.primary .current {border:2px solid #000; margin:-0.2em; padding: 0.5em}

#header img {display:none;}
#header h1 {position:static; margin-right:5em;}
#header h1 span.landmark, #header #greeting .landmark {height:auto; width:auto; display:inline; font-size:100%; color:#fff; opacity:1; line-height:1}

#outer #header #greeting, #header #greeting p, #header #greeting ul{text-align:left;top:1.7em; right:0; position:absolute; width:27em;}
#greeting p.icon{ border:0; }
#header #greeting ul {right:-5em; top:1em}
#greeting a {border:0; background:none; color:#fff;}
#greeting a:after {content:" |"}

/*dash*/
#dashboard, #dashboard.own  {border:3px solid #000; padding:0}
#dashboard ul {border:0; margin:0; padding:0}

/*footer*/
#footer, #outer #footer li a {background:none; color:#000}
#footer p.beta {background:none;}
#footer {border-top:1px solid #ddd;}

/*forms and groups*/
fieldset, fieldset fieldset, .verbose legend, #inner form dt, .listbox, .listbox .group.index, li.blurb, li.comment {border:0 ;background:transparent; box-shadow:none}
form .meta, .filters fieldset, dl.stats{background:#ddd;}
#outer .search input {border-radius:0; }

/*actions*/
#inner #main ul.navigation, #inner #main .actions, #inner #main .submit {border-radius:2em; border:1px solid #ccc;
background:#fffef9 url("/images/legacy/fffef9-ccc.png") bottom left repeat-x; float:right;
margin:0; padding:0 0.5em}
#inner #main ul.navigation a, #inner #main .actions a, #inner #main .submit input, #inner #main .actions input, button {border:0; 
background:none;border-left:1px solid #ccc; border-right:1px solid #ccc;}
#outer .current {background:#000 !important; color:#fff;}
#outer .actions a, #outer .current {border-radius:0;}

/* contexts */
#inner #main.works-index .actions.module {border:0; background:none !important;}
#home .intro p.actions {width:auto;}



