/* SKIN: Head Buoy*/
/* Please DO copy and reuse and modify this code any way you like!
# Pure CSS3 skin, slides the header up out of sight and slides down on hover 
Webkit (like Chrome or Safari) or Gecko (like Firefox) browsers only right now, but have added in all the alts 
for the future*/ 
#header 
        { margin-top:-7.75em; 
        -moz-transition:all 2s ease-in-out;
        -webkit-transition:all 2s ease-in-out;
        -o-transition:all 2s ease-in-out;
        -ms-transition:all 2s ease-in-out;
         transition:all 2s ease-in-out;
         }
#greeting 
        {-moz-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        -o-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform: scale(0.75);
        -moz-transition:all 2s ease-in-out;
        -webkit-transition:all 2s ease-in-out;
        -o-transition:all 2s ease-in-out;
        -ms-transition:all 2s ease-in-out;
         transition:all 2s ease-in-out;
         }
#header:hover, #header *:active, #header *:focus, #header:hover #greeting, #header:active #greeting 
        { margin-top:0; 
        -moz-transition:all 1s ease-in-out;
        -webkit-transition:all 1s ease-in-out;
        -o-transition:all 1s ease-in-out;
        -ms-transition:all 1s ease-in-out;
         transition:all 1s ease-in-out;}
#header:hover #greeting, #header:active #greeting 
        {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        }
/*END SKIN */

/* SKIN: Sliders*/
/* Please DO copy and reuse and modify this code any way you like!
# Pure CSS3 skin, slides the meta header off a work and slides out on hover. 
Webkit (like Chrome or Safari) or Gecko (like Firefox) browsers only right now, but have added in all the alts 
for the future*/
.works-show .wrapper 
        { box-shadow:none; width:100%; margin:0; position:absolute}
.works-show dl.meta 
        { margin-left:-90%; float:none; width:90%;
          box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
          background:rgba(0,0,0,0.25);}
.works-show dl.meta  
        { 
        -moz-transition:all 2s ease-in-out;
        -webkit-transition:all 2s ease-in-out;
        -o-transition:all 2s ease-in-out;
        -ms-transition:all 2s ease-in-out;
         transition:all 2s ease-in-out;
         }
.works-show .wrapper:hover dl.meta
        { margin:1.5em ; z-index:1000;
          background:rgba(255,255,255,0.95); }
/*END SKIN */

/* SKIN: The Bubbler */
/* Please DO copy and reuse and modify this code any way you like!
# CSS3 skin that bubbles everything. It's really flexible and only uses greyscale toning, so it can mash with your own pallette. V useful - try it! */
.blurb .module, .listbox .blurb, .icon a 
        { border:0;}
li.blurb, fieldset, .flash, .listbox, .comment, li.comment, .meta
        { border:4px solid #ddd; box-shadow:inset 0 0 5px ; outline:0;
          border-radius:2em; }
.blurb .header, .blurb ul.tags, .blurb blockquote
        { background:#ddd; border:3px solid #fff; 
          border-radius:1.5em;}
.blurb blockquote, .blurb ul.tags 
        { padding:0.5em;}
.blurb ul.required-tags li span, .bookmark .status span,.actions a,.actions a:visited,.action, .actions input, input[type="submit"], button, .current, .actions label, legend, textarea, input,
#header ul.main a, .icon
        { border:1px solid #ddd; 
          border-radius:1.5em; box-shadow:0 0 2px #555}
.icon   { border-radius:5em;}
.wrapper{ box-shadow:none; border:0}
#feedback .group .heading 
        { border-top-left-radius:5em; border-top-right-radius:5em; background:rgba(0,0,0,0.15);}
#feedback 
        { padding:1em 2.5em;}
.comment div.icon 
        { margin:0 0 0 -110px}
/*END SKIN */