/* SKIN: Exposure!*/
/*Exposes every heading, title, and name with the "landmark" class to the readers that can't read them*/
ul#skiplinks,
.landmark,
#outer .landmark,
.landmark a,
.index .heading.landmark {
  font-size: 100%;
  line-height: 1.5;
  height: auto;
  margin: auto;
  clear: both;
  color: #000;
  opacity: 1;
}
/* END SKIN */

/* SKIN: Oppression! /*
/*completely suppresses landmark headings, leaving only WAI-ARIA landmarks and ordinary headings*/
.landmark {
  display: none !important;
}
/* END SKIN */

/* SKIN: Drop It */
/*drops all archive parents except core
/* PARENTS: 1 */ 
/* END SKIN */

/* SKIN: She's Got Form */
/*drops all archive parents except core and interactions.*/
/* PARENTS: 1, 7 */ 
/* END SKIN */

/* SKIN: Shut It */
/*Any component you don't care to read, add to the beginning of this code, or remove ones you do want. Remember to separate with a comma! */
#footer,
.filters,
blockquote.userstuff,
.blurb .datetime,
.summary,
.warnings,
.meta,
.preface .notes {
  display: none;
}
/* END SKIN */

