/* SKIN: Typeset In My Ways Erasure*/
/* PARENTS: 1*/
/* drops all archive parents except core and loads a simple typographical style.*/
/*
set block elements' margins and padding to zero
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
margin: 0;
padding: 0;
}
/*
set base typographical unit
*/
body {
font-size: 100%;
font-size: 76%;
}
p {
font-size: 1em;
margin-top: 1.25em;
margin-bottom: 1.25em;
text-indent: 3em;
}
/*
set font styles
*/
body {
font-family: serif;
}
h1,h2,h3,h4,h5,h6,.heading {
font-family: serif;
font-variant: small-caps;
font-weight: 100;
letter-spacing: 0.06em;
}
.serif {
font-family: serif;
}
.sans {
font-family: sans-serif;
}
/*
set story styles
*/
body {
font-size: 1em;
}
a,a:link {
color: #111;
font-family: sans-serif;
text-decoration: none;
border-bottom: 1px dotted #666;
padding-right: 0.125em;
}
a:hover {
border-bottom: 0;
}
a:visited {
text-decoration: underline;
}


/*lists*/
dl {
font-family: sans-serif;
font-size: 105%;
margin: 1.5em 0;
border-bottom: 0.25em double #555;
}
dt {
font-weight: bold;
}
dd {
font-size: 1em;
margin-top: 1.25em;
margin-bottom: 1.25em;
text-indent: 3em;
}
dd p {
margin: 0;
padding: 0;
}
ul {
padding: 0 1em;
text-indent: 2em;
}
ol {
padding: 0 1.5em;
text-indent: 1.5em;
}
li {
font-weight: normal;
}


/*headings */
h1 {
font-size: 200%;
text-align: center;
}
h2 {
font-size: 160%;
font-variant: normal;
letter-spacing: -0.04em;
color: #333;
margin: 1em 0;
}
h3 {
font-size: 180%;
font-style: oblique;
font-weight: 100;
letter-spacing: 0.06em;
background: #444;
color: #fff;
border-bottom: 0.25em double #fff;
padding: 0 0.15em 0 0.15em;
}
h4 {
font-size: 168%;
font-variant: small-caps;
}
h5 {
font-size: 135%;
font-weight: bolder;
}
h6 {
font-size: 90%;
font-weight: bolder;
letter-spacing: 0.06em;
}
.title, .byline {color:#000; background:none; text-align:center}


/*quotes, stresses etc*/
blockquote {
font-family: sans-serif;
border-left: 2px solid #999;
padding: 0.75em;
}
blockquote blockquote {
font-family: serif;
border: 0;
padding: 0.25em;
}
cite em,
em cite,
cite i,
i cite,
i em,
em i {
font-style: normal;
}
em cite,
i cite {
text-decoration: underline;
}
abbr,
acronym {
font-variant: small-caps;
letter-spacing: -0.03em;
}
hr {
border: 0;
height: 1em;
margin: auto;
font-size: 2.5em;
text-align: center;
}
hr:after {
content: "* * *";
}
.flashback {
font-style: oblique;
}

/*colours and boxes*/
body {
color: #333;
background: #777;
}
#inner .region {
max-width: 39em;
margin: auto;
background: #fff;
padding: 3.5em 8.5em;
border: 1px solid #555;
}
h1, .tip, .hidden {
display: none;
}
.autocomplete {background:#fff;}
#greeting {
max-width: 25%;
float: right;
}
#skiplinks, #skiplinks a {
background: #000;
color: #eee
}
li.blurb {
  border:0;
  }
/* END SKIN */ 

/* SKIN: Typeset In My Ways Sans*/
/* PARENTS: Typeset In My Ways Erasure */
/* simple all sans serif text*/
* {font-family:sans-serif !important;}
/* END SKIN */ 

/* SKIN: Typeset In My Ways Serif*/
/* PARENTS: Typeset In My Ways Erasure */
/* simple all serif text*/
* {font-family:serif !important;}
/* END SKIN */ 

/* SKIN: Typeset In My Ways Negativity */
/* PARENTS: Typeset In My Ways Erasure */
/* light on dark*/
a,a:link{color:#fff;border-bottom:1px dotted #999;}
h2{color:#333;}
h3{background:#000;border-bottom:0.25em double #999;}
.title,.byline{color:#fff; background:none; border:0}
.userstuff p {line-height:1.5; margin:0.429em}

/*colours and boxes*/
body, .verbose legend, #inner .region, .autocomplete{color:#ddd;background:#222; border:0}
#skiplinks,#skiplinks a{background:#000;color:#eee}
/* END SKIN */ 

/* SKIN: Typeset In My Ways Terminal */
/* PARENTS: Typeset In My Ways Erasure */
/* simple console/terminal style */
body,#inner .region, .autocomplete, hr, h1, h2, h3, h4, h5, h6, .heading,#login-block,li.blurb,fieldset,form dl, blockquote {
  font-family: monospace;
  background:#000; color:#0f0; 
  border-color:#0f0;
}
h1, h2, h3, h4, h5, h6, .heading {
  text-decoration: underline;
}
a, a:link, a:visited{
  color: #0f0; border-color:#0f0;
}
a:visited {
  text-decoration: underline overline;
}
#inner .region{
  margin:0;
}
/* END SKIN */ 

/* SKIN: Typeset In My Ways Scully */
/* PARENTS: Typeset In My Ways Erasure */
/*Word Perfect style*/
/*
typographical styles, wordperfect - white on blue, 2007
*/

/*
set block elements' margins and padding to zero
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td 
							{margin:0;padding:0;}
/*
set base typographical unit
*/
body 						{ font-size: 86%;}
p							{ line-height 1.5em; font-size:1em; margin-top: 1.25em; margin-bottom: 1.25em; text-indent:3em; }

/*
set font styles
*/
body	 					{ font-family:sans-serif;}
h1,h2,h3,h4,h5,h6,p.end 	{ font-family:sans-serif; font-variant:small-caps; font-weight:100; letter-spacing:0.06em }
.serif 						{ font-family:serif;}
.sans						{ font-family:sans-serif;}

/*
set story styles
*/
body						{ font-size:1em;}
a,a:link					{ color:#ccc; font-family:sans-serif; font-weight:bold; text-decoration:none; border-bottom:1px dotted  #666; padding-right:0.125em}
a:hover						{ border-bottom:0}
a:visited					{ text-decoration:underline; color:#fff}

/*lists*/
dl							{ font-family:serif; font-size:105%; margin:1.5em 0; border-bottom:0.25em double; }
dt							{ font-weight:bolder; }
dd							{ line-height 1.5em; font-size:1em; margin-top: 1.25em; margin-bottom: 1.25em; text-indent:3em; }
dd p						{ margin:0; padding:0; }
ul							{ padding: 0 1em; text-indent:2em; }
ol							{ padding: 0 1.5em; text-indent:1.5em; }
li							{ font-weight:normal; }

/*headings */
h1							{ font-size: 200%; text-align:center;}
h2							{ font-size: 160%; font-variant:normal; margin:1em 0;}
h3							{ font-size: 180%; font-style:oblique; font-weight:100; letter-spacing:0.06em; border-bottom:0.25em double; padding:0 0.15em 0 0.15em}
h4							{ font-size: 168%; }
h5							{ font-size: 135%; font-weight:bolder}
h6							{ font-size: 90%; font-weight:bolder; letter-spacing: 0.06em}

/*quotes and stresses*/
blockquote					{ font-family:serif; border-left:2px solid; padding: 0.75em; }
blockquote blockquote		{ font-family:sans-serif; border:0; padding:0.25em; }
cite em, em cite, cite i, i cite, i em, em i	
							{ font-style:normal; }
em cite, i cite				{ text-decoration:underline; }
hr							{ border:0; height:1em; margin:auto; font-size:2.5em; text-align:center; }
hr:after					{ content:"* * *"; }

#inner .region {border:0;}
/* END SKIN */ 

/* SKIN: Typeset In My Ways 2.0 */
/* PARENTS: Blurblings Blurb Drop */
/*uses the Archive typography and layout, with plain text blurb and a max-width work view*/
#workskin {max-width:39em; margin:auto}
#inner {max-width:75%; margin:auto;}
/* END SKIN */ 

/* SKIN: Typeset In My Ways Landmarks*/
/* shows the landmarks and styles them for timways. Not supported by IE6*/
.landmark {font-size:100%; opacity:1;}
.landmark.heading{background:none; color:#000; border-bottom:3px solid}
/* END SKIN */

/* SKIN: Typeset In My Ways Textura*/
/* PARENTS: Typeset In My Ways Erasure */
/*omg background image, CSS3 transparency*/
body{background:url("/images/skins/textures/tiles/black-denim.jpg");}
#outer {background:rgba(255,255,255,0.35)}
/* END SKIN */