/* SKIN: Workings Hide meta*/
.works-show .meta {display:none;}
/* END SKIN */

/* SKIN: Workings Big margin*/
#chapters { margin:2% 10%;}
/* END SKIN */

/* SKIN: Workings Max Width*/
#workskin {max-width:39em; padding:1.5em 3.5em; margin:auto;}
/* END SKIN */

/* SKIN: Workings Fix Actions Right*/
.works-show ul.actions {position:fixed; background:#ddd; border:2px solid #fff; width:10em; right:0; z-index:1000; box-shadow:1px 1px 3px}
.works-show ul.actions li, .works-show ul.actions a{display:block; }
#workskin, .works-show .wrapper, #feedback {margin: auto 10em auto auto;}
#feedback ul.actions {position:static; background:none; border:0; width:auto; box-shadow:none}
#feedback ul.actions li, #feedback ul.actions a{display:inline-block; }
/* END SKIN */

/* SKIN: Workings Fix Actions Left*/
.works-show ul.actions {position:fixed; background:#ddd; border:2px solid #fff; width:10em; left:0; z-index:1000; box-shadow:1px 1px 3px}
.works-show ul.actions li, .works-show ul.actions a{display:block; }
#workskin, .works-show .wrapper, #feedback {margin: auto auto auto 10em;}
#feedback ul.actions {position:static; background:none; border:0; width:auto; box-shadow:none}
#feedback ul.actions li, #feedback ul.actions a{display:inline-block; }
/* END SKIN */

/* SKIN: Workings Hide feedback*/
#feedback {display:none;}
/* END SKIN */

/* SKIN: Workings Hide author notes*/
.works-show .preface .notes {display:none;}
/* END SKIN */

/* SKIN: Workings Hide author summary*/
.works-show .preface .summary {display:none;}
/* END SKIN */

/* SKIN: Workings Hide kudos*/
.works-show .kudos {display:none;}
/* END SKIN */
