.autocomplete ul {
  background: #fff;
    background: rgba(255,255,255,0.9);
  border: 1px solid #eee;
  padding: 0.125em;
  line-height: 1.286;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}

.autocomplete ul li {
  padding: 0.125em;
  margin: 0.25em auto auto;
}

.autocomplete input {
  display: block;
  margin: 0.25em 0 0;
}

.autocomplete ul li:hover, li.selected {
  background: url(/images/header-red.png) top left #900;
  color: #fff;
}

.required .autocomplete {
  color: #222;
}

.autocomplete .notice {
  font-size: 0.875em;
}

.autocomplete li.added {
  display: inline-block;
  white-space: nowrap;
}

/*note: plan to develop and generalise this to all buttons*/

.autocomplete span.delete {
  background: #eee;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.35) 10%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.95) 99%);
  color: #900;
  font-weight: 900;
  margin-right: 0.375em;
  padding: 0 0.1em 0.15em;
    opacity: 0.9;
    text-shadow: -1px 0px 1px rgba(255,255,255,0.95);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.75);
    -moz-border-radius: 0.875em;
    border-radius: 0.875em;
}