/* content inputted by a user into a textarea.*/

#main .userstuff p {
  margin: 1.5em auto;
  line-height: 1.50em;
}

/*lists */

.userstuff dl {
  font-size: 1em;
  margin: 1.5em 0;
  border: 0;
}

.userstuff dl dl {
  width: 90%;
  margin: auto;
}

.userstuff dt {
  font-weight: bold;
  text-indent: 0;
}

.userstuff dd {
  line-height: 1.5;
  font-size: 0.875em;
  margin: 1.25em auto 1.25em 3em;
}

.userstuff dd p {
  text-indent: 0;
  margin: 0;
  padding: 0;
}

.userstuff ul {
  margin: 1.125em auto;
  padding: 0 1em;
}

.userstuff li, .userstuff ol ul li {
  list-style-type: disc;
  margin: 0.75em 0 0.75em 1.75em;
}

.userstuff ol {
  margin: 0.75em auto;
  padding: 0 1.5em;
}

.userstuff ol li {
  list-style-type: decimal;
  margin: 0.75em 0 0.75em 1.75em;
}

.userstuff ol li ol li {
  list-style-type: lower-alpha;
}

.userstuff ol li ol li ol li {
  list-style-type: lower-roman;
}

.userstuff li {
  font-weight: normal;
}

/* headings */

.userstuff h1 {
  font-family: Cambria, Constantia, Palatino, Georgia, serif;
  text-align: center;
}

.userstuff h2 {
  color: #333;
  font-variant: normal;
  text-align: left;
  text-transform: none;
  margin: 1.5em 0;
}

.userstuff h3 {
  font-weight: 500;
  padding: 0.125em;
  border-bottom: 0.25em double #333;
}

.userstuff h5 {
  font-weight: 600;
  font-size: 1em;
}

.userstuff h6 {
  font-size: 0.975em;
  border-bottom: 1px solid;
}

.userstuff h3 a, .userstuff h3 a:link, .userstuff h3 a:visited {
  font-weight: 500;
  border-bottom: 0;
  text-decoration: none;
}

/*tables */

.userstuff caption {
  height: auto;
  font-size: 1em;
  color: #222;
}

.userstuff table, .userstuff td, .userstuff col, .userstuff tr, .userstuff thead, .userstuff tfoot, .userstuff tbody, .userstuff th, .userstuff thead td, .userstuff th a, .userstuff th a:link {
  background: transparent;
  color: #222;
  border: none;
}

/* quotes and stresses */

.userstuff blockquote {
  font-size: 1em;
  margin: auto auto auto 1.5em;
  padding: 0.75em;
  border-left: 2px solid #999;
}

.userstuff blockquote blockquote {
  padding: 0.25em;
  border: 0;
}

.userstuff hr {
  width: 33%;
  margin: 0.875em auto 1.2525em auto;
  border: 1px solid;
}

/*expected behaviours, exceptioning*/

.userstuff center {
  font-size: 0.875em;
  line-height: 1.286;
  margin: 0.643em 0;
}

.userstuff center p {
  font-size: 1em;
}