/* MEDIA: handheld  do not remove this comment, it is used to determine the role automatically */
/*linearise content, suppress large images, suppress custom fonts and other large downloads*/

.blurb dl.tags dt, .blurb dl.tags dd, dl.meta dt, dl.meta dd {
  width: auto;
  float: none;
}

.blurb dl.tags dd, dl.meta dd {
  margin-left: 1em;
}

