/* IE_CONDITION: IE  MEDIA: all do not remove this comment, it is used to determine the role automatically */

/* Put any IE-specific overrides into this file -- it will be loaded last and conditionally, only if the browser is IE. */

/* custom font cleanup*/

h1, h2, h3, h4, h5, h6, #header .navigation a {
  font-weight: bold;
}

/* pathing and inheritance*/

html body #header #login-block #greeting.logged-out li #signin form #small_login {
  width: 99% !important;
}

#work-form p.submit {
  text-align: right;
}

form.new_collection p, form.new_user p {
  font-size: 1em;
}

#signin #small_login p.submit {
  float: none;
  display: inline;
}

#home #home-header #login-block ul#login li {
  display: inline;
}

.blurb .stats dd, #comment_form p {
  position: static;
}

/*layer stacking*/

.home #search p {
  text-align: right;
  z-index: 1;
}

#header .navigation li {
  z-index: 0;
}

#new_comment .module {
  position: static;
}

/*explicit widths*/

/*margin and padding quirks*/

#header ul.admin {
  position: absolute;
  z-index: 50;
  right: 0;
  margin-top: auto;
}

.profile-show .datetime {
  top: 0;
}

#main .navigation li {
  margin-right: 0.25em !important;
}

#user-page {
  margin-top: 1em;
}

.bookmark ul.required-tags, .comment div.icon, #main .bookmark .required-tags li {
  margin: 0;
}

#main .required-tags li .warnings {
  margin-top: 3px;
}

.blurb .external .required-tags {
  left: 0;
}

/*min-height */

.titles {
  height: 70px;
}

.media-index li.category {
  height: 15em;
}

/*line-height and baseline */

.heading h3, .heading h4 {
  font-weight: bold;
  line-height: 1.125;
}

/*hasLayout */

.index, .profile, .module, a, li a, form dd, .bigwrapper, .bookmark li, #feedback, .series, #header #signin, .blurb .tags li, #comment_form code, .autocomplete li.added {
  zoom: 1;
}

/*and zoom resets */

.stats a, .preface a, .meta .series {
  zoom: normal;
}

/*float clear quirks */

.collection #login-block #greeting {
  clear: none !important;
}

form dd {
  float: none;
}

/*form width quirks on Post New*/

#work-form input[type="text"] {
  width: 70em;
}

#work-form select {
  width: 73.5em;
}

#work-form textarea {
  width: 73em;
}

#seriesmanage input[type="text"] {
  width: 45em;
}

#seriesmanage select {
  width: 47.5em;
}

#number-of-chapters input[type="text"] {
  width: 56em;
}

#number-of-chapters input[type="text"].number-field {
  width: 10em;
}

#work-form #chapter-ordering input.number-field {
  width: 5em! important;
}

#managePublicationDate select {
  width: auto;
}

#work-form p.submit input {
  font-size: 1em;
  width: auto;
  text-align: center;
}

/* font for performance */

@font-face {
  font-family: 'FertigoProRegular';
  src: url('Fertigo_PRO.eot');
}