/* IE_CONDITION: IE6  MEDIA: all do not remove this comment, it is used to determine the role automatically */

/* stacking */

#header {
  z-index: -50;
}

#header h1 {
  z-index: -40;
}

#header h1 a, #header.collections h1 {
  z-index: 10;
}

#header .navigation a, #header .navigation a:visited {
  z-index: 20;
  color: #000;
  border: 1px solid;
}

#header .navigation .current {
  z-index: 25;
  border: 1px solid;
}

#header a#signin_closed {
  z-index: 60;
}

.own {
  z-index: -30;
}

form.filters {
  z-index: -50;
}

.index .user {
  z-index: 20;
}

/*best fit - a moderately acceptable layout for bookmarks on ie6*/

.bookmark ul.required-tags {
  width: 25px;
}

.bookmark .work {
  margin-top: -5em;
}

/*hL*/

form.filters {
  position: relative;
}

.index .user, .index .blurb .heading {
  zoom: 1;
}

/* Issue 2222 Media fandoms page */

.fandoms-index .index li, .fandoms-index .index, .fandoms-index li, .fandoms-index ul {
  float: none !important;
}

.fandoms-index .index .even {
  margin-left: 0 !important;
}

.fandoms-index .letter h3 .top {
  display: none !important;
  float: none !important;
}