/* IE_CONDITION: IE7  MEDIA: all do not remove this comment, it is used to determine the role automatically */

/*#dynamic-bookmark #bookmark-form form#new_bookmark dl {height:16em; 
overflow:scroll;} */

/* bookmarks index has funny float issues */

.bookmarks-index .blurb {
  position: relative;
}

.bookmark p.count {
  float: none; 
  position: absolute; 
  right: 0;
}

#main.admin_posts-index .module { 
  float:none;
} /* float issues on admin posts index */


