/* IE_CONDITION: IE8 MEDIA: all do not remove this comment, it is used to determine the role automatically */

textarea.summary-field {
  height: 5em; 
  width: 73em;
}

textarea.notes-field {
  height: 7em; 
  width: 73em;
}

dd.notes textarea, dd.summary textarea { 
  height: 7em; 
  width: 73em;
}

#work-form .rtf-html-field textarea#content {
  width: 73em; 
  height: 31.25em;
}

textarea#series_notes, textarea#series_summary {
  height: 20em;
  width: 70em;
}

textarea#comment_content, #main.users-edit textarea#profile_attributes_about_me {
  width: 70em; 
  height: 12em;
}

#bookmark-form textarea {
  width: 70em;
}

#new_user_invite_request textarea, .admin_users-notify textarea, textarea#feedback_comment, textarea#abuse_report_comment {
  height: 20em; 
  width: 73em;
}

.edit_collection textarea, .new_collection textarea { 
  height: 10em;
  width: 60em;
}

.edit_collection textarea.description-field, .new_collection textarea.description-field {
  height: 5em; 
  width: 30em;
}