<!-- if we got to this page, it's because the signup summary is still generating in the background -->
<h2><%= ts("Signup Summary for %{collection}", :collection => @collection.title) %></h2>

<p>
  The summary for this challenge is currently being generated. Please try again in a few minutes.
</p>
