<h2><%= t('challenge_signups.signups_listing', :default => "Signups for {{collection}}", :collection => sanitize_title_for_display(@collection.title)) -%></h2>

<!-- render differently based on the challenge -->
<%- if @collection && @collection.challenge %>
  <%= render :partial => "challenge/#{challenge_class_name(@collection)}/challenge_signups" -%>
<% end %>
