<h1>Editing comment</h1>

<%= error_messages_for :comment %>

<%= render :partial => @comment, :locals => { :button_name => "Update" } %>

<%= link_to 'Show', [@post, @comment] %> |
<%= link_to 'Back', post_comments_path(@post) %>