<tr>
  <td><%= tagging.tag.name %></td> 
  <td><%= tagging.taggable.name %></td>
  <td><%= link_to "delete", tagging, :method => :delete, :confirm => "This destroys the relationship for these tags, are you sure?"%></td>
</tr>
