<h1>Editing tag_relationship</h1>

<%= error_messages_for :tag_relationship %>

<% form_for(@tag_relationship) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tag_relationship %> |
<%= link_to 'Back', tag_relationships_path %>
