.DS_Store
.bundle
.idea
# /
/*.tmproj
/sphinx
/.DAV
/rerun.txt
/capybara-*.html
/.dropbox
/.dropbox.attr
/.rspec
REVISION

# /config/
/config/database.yml
/config/local.yml
/config/backup.yml
/config/*.sphinx.conf
/config/s3.yml
/config/sphinx.yml
/config/unicorn.rb
/config/newrelic.yml
/config/redis.yml
/config/redis-cucumber.conf

# /config/environments/
/config/environments/development.rb

# /db/
/db/*.sqlite3
/db/*.sql
/db/backup
/db/sphinx
/db/seed

# /log/
/log/*

# /public/
/public/system
/public/downloads
/public/stylesheets/cached_for_screen.css
/public/stylesheets/skins

# /public/images/
/public/images/Thumbs.db

# /tmp/
/tmp/*

# /vendor/
/vendor/gems

# /vendor/gems/
/vendor/gems/*

# /vendor/plugins/

# fix for vcr
features/cassette_library/cucumber_tags/work_import_special_characters_auto_latin.yml
features/cassette_library/cucumber_tags/work_import_special_characters_man_cp.yml
features/cassette_library/cucumber_tags/work_import_special_characters_man_latin.yml
features/cassette_library/cucumber_tags/import_lj_comm.yml
