language: ruby
env:
  - TEST_GROUP="rspec spec"
  - TEST_GROUP="cucumber -f progress -r features features/importing"
  - TEST_GROUP="cucumber -f progress -r features features/prompt_memes"
  - TEST_GROUP="cucumber -f progress -r features features/gift_exchanges"
  - TEST_GROUP="cucumber -f progress -r features features/collections"
  - TEST_GROUP="cucumber -f progress -r features features/users"
  - TEST_GROUP="cucumber -f progress -r features features/works"
  - TEST_GROUP="cucumber -f progress -r features features/tags_and_wrangling"
  - TEST_GROUP="cucumber -f progress -r features features/other"
rvm:
  - "1.9.3"
services:
  - elasticsearch
  - redis-server
  - memcached
script:
  - bundle exec rake db:create:all --trace
  - bundle exec rake db:schema:load --trace
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec $TEST_GROUP
before_script:
  - mysql -e 'create database otwarchive_test;'
  - cp config/database.travis.yml config/database.yml
  - cp config/newrelic.example config/newrelic.yml
  - cp config/redis-cucumber.conf.example config/redis-cucumber.conf
  - cp config/redis.travis.example config/redis.yml
notifications:
  email:
    recipients:
      - otw-coders@transformativeworks.org
    on_success: change
    on_failure: always
  irc:
   channels:
     - "irc.freenode.org#otw-dev"
   on_success: always
   on_failure: always
