sudo: required
dist: xenial

language: ruby
cache: bundler

env:
  - TEST_GROUP="./script/check_syntax"
  - TEST_GROUP="rake db:otwseed"
  - TEST_GROUP="rspec spec/controllers"
  - TEST_GROUP="rspec spec/miscellaneous"
  - TEST_GROUP="rspec spec/models"
  - TEST_GROUP="cucumber -r features features/admins             -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/bookmarks          -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/collections        -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/comments_and_kudos -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/gift_exchanges     -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/importing          -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/other_a            -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/other_b            -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/prompt_memes_a     -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/prompt_memes_b     -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/prompt_memes_c     -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/search             -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/tag_sets           -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/tags_and_wrangling -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/users              -f Ao3Cucumber::Formatter --color"
  - TEST_GROUP="cucumber -r features features/works              -f Ao3Cucumber::Formatter --color"

services:
  - mysql
  - redis
  - memcached

before_install:
  - bash script/travis_ebook_converters.sh

before_script:
  - bash script/travis_configure.sh
  - bash script/travis_elasticsearch_upgrade.sh
  - bash script/travis_multiple_redis.sh
  - bash script/travis_mysql.sh

script:
  - RAILS_ENV=test bundle exec rake db:schema:load --trace
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec $TEST_GROUP

after_failure:
  - tail -v -n +1 $TRAVIS_BUILD_DIR/tmp/capybara/*.html

notifications:
  email:
    recipients:
      - otw-coders-extra@transformativeworks.org
    on_success: change
    on_failure: always
