<h1><%= "Log in as Admin" .t %></h1>

    <div id="passwd"><%= render :partial => "passwd" %></div>
    <% if ArchiveConfig.USE_OPENID %>	
      <div id="openid" style="display: none"><%= render :partial => 'openid' %></div>
    <% end -%>

