<% content_for :message do %>
<p>Hello <%= style_bold("Tag Wrangler Supervisors") %>,</p>

<p>The wrangler <%= style_bold(@old_username) %> has changed their name to <%= style_bold(@new_username) %>.

<p>Best,<br/>
  AO3</p>
<% end %>
