<% content_for :message do %>
  <p>Dear <%= @user.default_pseud.byline %>,</p>
  
  <p>Your work <i><%= style_bold(@work.title.html_safe) %></i> was deleted from the Archive by our Abuse team.</p>
  
  <p>If you have questions regarding this action, please contact <%= style_link("Abuse", "#{root_url}abuse_reports/new") %>.</p>
  
  <p>Attached is a copy of your work for your reference.</p>
<% end %>