<% content_for :message do %>
  <%= style_bold(@user.login) %>, your account has been activated!  To visit the site, follow the link:

  <p><%= style_link(ArchiveConfig.APP_NAME, root_url) %></p>
<% end %>
