<% content_for :message do %>
  <p>Dear <%= @user.default_pseud.byline %>,</p>
  
  <p>Your work <i><%= style_bold(@work.title.html_safe) %></i> was deleted from the Archive by an site admin.</p>
  
  <p>If you work was part of an import project managed by our Open Doors team, please <%= style_link("contact Open Doors", "http://opendoors.transformativeworks.org/contact/open%20doors") %> with any further questions.
 
   <p>If it's possible your work violated the Archive's Terms of Service, please <%= style_link("contact our Abuse Committee", "#{root_url}abuse_reports/new") %>.</p>
  
  <p>Attached is a copy of your work for your reference.</p>
<% end %>
