<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal_html", name: style_bold(@user.login)) %></p>

  <p><%= t(".flagged_as_spam.html", work_link: style_creation_link(@work.title, @work)) %></p>

  <p><%= t(".future") %></p>

  <p><%= t(".questions.html", contact_abuse_link: abuse_link(t(".contact_abuse"))) %></p>
<% end %>
