<% content_for :message do %>
  <p>
    Dear <%= style_bold(@user.login) %>,
  </p>
  
  <p>
    <%=raw @message %>
  </p>
<% end %>

<% content_for :sent_at do %>
  <%= Time.now.to_s(:time_for_mailers) %>
<% end %>

<% content_for :sent_by do %>
  <%= @admin_login %>
<% end %>
