<h2 class="heading">
  Hello from the Archive of Our Own!
</h2>
<p>
You're receiving this e-mail because <a href="http://852prospect.org/archive/">852 Prospect</a>, the Sentinel Adult Fiction Archive, has recently been imported by <a href="http://opendoors.transformativeworks.org/">Open Doors</a> into the <a href="http://archiveofourown.org/">Archive of Our Own</a>. Because this e-mail address is connected to one registered on 852 Prospect, the associated 852 Prospect stories have been automatically added to your AO3 account.
</p>
<p>
  852 Prospect's software has become somewhat creaky over the years, to the point where all updates are now required by hand. Looking for a more sustainable home for the archive, the archivist alice ttlg has decided to move 852 Prospect to AO3. (You can read the rest of the announcement in the post <a href="http://archiveofourown.org/admin_posts/215">852 Prospect Moves In With The AO3</a>, and find additional information on <a href="http://opendoors.transformativeworks.org/faq">Open Doors' FAQ page</a>. For any questions not answered in the FAQ or this e-mail, please <a href="http://archiveofourown.org/support">contact Support</a>.) 
</p>
<p>
  <strong>If this is a mistake and these are not your stories, please don't delete them!</strong> <a href="http://opendoors.transformativeworks.org/contact/open%20doors">Contact Open Doors</a> and we will whisk them away to wait until someone else comes along to claim them. :)
</p>
<p>
  All of these imported stories are restricted to registered users only (to keep them out of Google searches), so your works will only be readable by logged-in users unless you choose to make them fully visible. By the current archivist's request, all unclaimed imported works will be unrestricted and open to all visitors 3 months after the import, just like the original archive site. For help removing restrictions, orphaning, or deleting your works, please <a href="http://archiveofourown.org/support">contact Support</a>.
</p>

<p>
  These works were written under the e-mail: <%= @external_email %>
</p>

<ul>
  <% @claimed_works.each do |work| %>
    <li><%= work.title.html_safe %><br />
    <%= link_to work_url(work), work_url(work) %></li>
  <% end %>
</ul>


<p>To preserve rec lists and bookmarks, the imported archive's web addresses will redirect to the imported copy of these works. If you've already uploaded a copy of these stories, a merge tool is currently in development to combine the hit counts and reviews of both copies, while keeping only one story body (and preserving the redirect link). You may also request that Open Doors reset the redirect to point toward the pre-existing copy on AO3. To do so, please <a href="http://opendoors.transformativeworks.org/contact/open%20doors">contact Open Doors</a> with your AO3 account name, imported archive's account name, and links to both the original archive URL, and the URL of the fanwork designated as the redirect.</p>

<p>If you have other stories on the imported archive under an e-mail address you can no longer access, please <a href="http://opendoors.transformativeworks.org/contact">contact Open Doors</a> with any information that can help verify your identity.</p>

<p>For other inquiries, please <a href="http://archiveofourown.org/support">contact Support</a>.</p>

<p>Many thanks!</p>

<p>- The Open Doors team</p>
