<p><%=h User.current_user.login %> <%=h 'listed you as a co-author of the following creation:' %></p>

<p><%= link_to(@creation.title, @creation.class == Series ? series_url(@creation, :host => @host) : work_url(@creation, :host => @host)) %></p>

<p>
<%= link_to("Edit the #{@creation.class.name.underscore.humanize.downcase}", @creation.class == Series ? edit_series_url(@creation, :host => @host) : edit_work_url(@creation, :host => @host)) %>
 to remove yourself as author if you've been added in error or don't want to be listed as an author.
</p>
