<% content_for :message do %>
  <% creation_type = @creation.class.name.underscore.humanize.downcase %>

  <p><%= t 'user_mailer.coauthor_notification.part1', type: creation_type %></p>

  <p>
    <i><b><%= style_link(@creation.title, (@creation.class == Series ? series_url(@creation) : work_url(@creation))) %></b></i>
  </p>

  <p><%= t('user_mailer.coauthor_notification.html.part2',edit: style_link("Edit the " + creation_type, (@creation.class == Series ? edit_series_url(@creation) : edit_work_url(@creation))).html_safe</p>
<% end %>
