<p><%=h @work.poster.login %> listed you as a co-author of the following story:</p>

<p><a href="#"><%=h @work.title %></a></p>

<p><a href="#">Click here</a> if you've been added in error or don't want to be listed as an author.</p>



