<% content_for :message do %>

  <p>Dear Collection Maintainers!</p>

  <p>
    You have received a message about your collection <%= style_link(@collection.title, collection_url(@collection)) %>:
  </p>

  <%= style_quote(raw @message) %>
<% end %>

<% content_for :sent_at do %>
  <%= Time.now.to_s(:time_for_mailers) %>
<% end %>
