<p><%=h @comment.comment_owner_name -%> replied to your comment on <%=h @commentable.commentable_name -%>:</p>

<p><%=h @comment.content %></p>

<%= render :partial => 'comment_notification_footer' -%>
