<% content_for :message do %>
<p><%= t("mailer.general.greeting.formal_html", name: style_bold(@user.login)) %></p>
<p><%= (@work.pseuds.count > 1 && @user != User.current_user) ?
t('.deleted_other.html',
        title: style_creation_title(@work.title),
        pseud: style_pseud_link(User.current_user.default_pseud)) :
t('.deleted_yourself.html',
        title: style_creation_title(@work.title)) %></p>
<p><%= t('.questions.html', support: support_link(t '.support')) %></p>
<p><%= t('.attachment') %></p>
<% end %>
