<% content_for :message do %>
<p><%= t('.hello', user:  @user.default_pseud.byline) %></p>
<p><%= (@work.pseuds.count > 1 && @user != User.current_user) ?
t('.part1_other',
        title: "<i>#{style_bold(@work.title.html_safe)}</i>".html_safe,
        pseud: style_pseud_link(User.current_user.default_pseud)).html_safe :
t('.part1_yourself',
        title: "<i>#{style_bold(@work.title.html_safe)}</i>".html_safe).html_safe %></p>
<p><%= t('.part2', support: support_link(t '.support')).html_safe %></p>
<p><%= t('.part3') %></p>
<% end %>
