<p><%=h 'Your story'.t %> <%=h @work.title %> <%=h 'was deleted at your request.'.t %></p>
<p><%=h "If you have questions, please contact <a href="mailto:support@archiveofourown.org">support</a>.".t %></p>