<% content_for :message do %>
  <p><%= t("mailer.general.greeting.informal.addressed_html", name: style_bold(@user.login)) %></p>

  <p><%= t(".body.html", count: @total, invitation_page_link: style_link(t(".invitation_page_link_text"), user_invitations_url(@user))) %></p>

  <p>
    <%= t("mailer.general.closing.informal") %><br />
    <%= t("mailer.general.signature.app_short_name") %>
  </p>
<% end %>
