<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal.addressed_html", name: style_bold(@user.login)) %></p>

  <p><%= t(".would_like_to_include.html",
           collection_link: style_link(@collection.title, collection_url(@collection)),
           work_link: style_creation_link(@work.title, work_url(@work))) %></p>

  <p><%= t(".approve.html", collection_items_page_link: style_link(t(".approve.collection_items_page"), user_collection_items_url(@user))) %></p>

<% end %>
