<% content_for :message do %>
  <p>
    <%= t(".work_listed.html",
          work_link: style_creation_link(@related_work.parent.title, @related_parent_link),
          related_work_link: style_creation_link(@related_work.work.title, @related_child_link),
          work_creators: if @related_work.work.anonymous?
                           t(".anonymous")
                         else
                          to_sentence(@related_work.work.pseuds.map { |p| style_pseud_link(p) })
                         end) %>
  </p>

  <p>
    <%= style_link(t(".approve.html"), related_work_url(@related_work)) %>
  </p>

  <p><%= t(".can_come_back") %></p>
<% end %>
