<% content_for :message do %>
  <p>
    Your work <i><%= style_bold(link_to(@related_work.parent.title.html_safe, @related_parent_link)) %></i> was listed as the inspiration of <i><%= style_bold(link_to(@related_work.work.title.html_safe, @related_child_link)) %></i> by <%= @related_work.work.anonymous? ? "an anonymous author" : (work.pseuds.map{|p| style_pseud_link(p)}.to_sentence) %>.
  </p>

  <p>
    <%= style_link("Approve relationship and link back to this work from your work", related_work_url(@related_work)) %>
  </p>
  
  <p>(You can come back to this page if you change your mind.)</p>
<% end %>
