<%=h @user.login %>, Your password has been reset. Your new password is:

<%=h @user.password %>

<p>When you log in, you'll be asked to change that to something more secure and easier to remember.</p> 

