<%=h @user.login %><%=h ', Your password has been reset. Your new password is:'.t %>

<%=h @user.password %>

<p><%=h "When you log in, you'll be asked to change that to something more secure and easier to remember.".t %></p> 

