<% content_for :message do %>
  <p><%= t('user_mailer.reset_password.part1', user: style_bold(@user.login), password: style_bold(@password)).html_safe %></p>

  <p><%= t 'user_mailer.reset_password.part2' %></p>

  <p><%= t 'user_mailer.reset_password.part3' %></p>
<% end %>
