<% content_for :message do %>
  <%= style_bold(@user.login) %>, the following generated password has been created for you: <%= style_bold(@password) %>

  <p>
    After you log in using this generated password you will be asked to change your password to something you can remember. If you do not use this generated password within a week, it will expire, and you will have to request a new one.
  </p>

  <p>
    If you did not request this password reset, you may ignore this email and your previous password will continue to work.
  </p>
<% end %>
