<h1><%=h "Listing admins".t %></h1>

<table>
<caption><%=h "A list of all the administrator accounts in the archive.".t -%></caption>
  <tr>
  </tr>

<% for admin in @admins %>
  <tr>
    <td><%= link_to 'Show'.t, admin %></td>
    <td><%= link_to 'Destroy'.t, admin, :confirm => 'Are you sure?'.t, :method => :delete %></td>
  </tr>
<% end %>
</table>
