<h2>Hi, <%= current_admin.login %>!</h2>

<p>You are now logged in as an admin. That means you will probably encounter information that is personal or confidential (e.g. usernames, email and IP addresses, creator names on anonymous works, etc). Please do not use this information in ways unrelated to your OTW role. If you have questions about what you can or cannot do with information you see here, contact your committee chair(s).</p>

<p><strong>With great power comes great responsibility.</strong></p>

<hr />

<h3>Your admin roles:</h3>
<% if current_admin.roles.any? %>
  <ul>
  <% current_admin.roles.each do |role| %>
    <li><%= role.titleize %></li>
  <% end %>
  </ul>
<% else %>
  <p>You currently have no admin roles assigned to you.</p>
<% end %>

<hr />

<p>Please remember to log out before resuming your normal site activity and leaving comments and kudos!</p>