<h1><%=h "Listing admins".t %></h1>

<table>
<caption><!--A summary of the table contents and purpose here please--></caption>
  <tr>
  </tr>

<% for admin in @admins %>
  <tr>
    <td><%= link_to h('Show').t, admin %></td>
    <td><%= link_to h('Destroy').t, admin, :confirm => h('Are you sure?').t, :method => :delete %></td>
  </tr>
<% end %>
</table>
