<!-- BEGIN comments -->
<%- div_for(commentable, :comments_display) do -%>
  <p>
    <%= create_add_comment_link(commentable) %>              
    | <%- content_tag_for(:span, commentable, :comments_link) do -%>
    	  <%- unless @comments.empty? -%>
			  <%= show_hide_comments_link(commentable, (is_work ||= false)) %>
		    <%- end -%>
		  <%- end -%>
	</p>

	<%- div_for(commentable, :add_comment, :style => "display : none;") do -%>   
    <%= render :partial => @comment = Comment.new, :locals => {:commentable => commentable, :button_name => 'Create'}%> 
  <%- end -%> 
  
  <%- div_for(commentable, :comments) do -%>   
    <%- if params[:show_comments] -%>   
      <%= render :partial => 'comments/comment_view' %>
	  <%- end -%>     
  <%- end -%>
  
<%- end -%>
<!-- END comments -->