<!-- START thread -->
<ol class="thread">
  <% for comment in comments %>
    <% if comment.approved? || logged_in_as_admin? %>
    
      <%= render :partial => 'comments/single_comment', :object => comment %>	  
      
      <% if comment.comments && comment.comments.size > 0 %>
        <!-- cut off the recursion when we get too deep, but not if there's just one last measly comment left -->
        <% if depth >= ArchiveConfig.COMMENT_THREAD_MAX_DEPTH && comment.children_count > 1 %>
          <li class="comment"><p>(<%= ts("%{count} more comments in this thread", :count => comment.children_count) %>)</p></li>
        <% else %>
          <li><%= render :partial => 'comments/comment_thread', :locals => {:comments => comment.comments, :depth => depth+1 } %></ol></li>
        <% end %>
      <% end %>
    
    <% end %>
  <% end %>
<!-- END thread -->
