<%# TODO: Make this an h5 %>
<h3 class="heading"><%= t(".delete_confirmation") %></h3>
<ul class="actions">
    <li><%= button_to t(".confirm_button"), comment, method: :delete %></li>
	<li><%= cancel_delete_comment_link(comment) %></li>
</ul>
