<h3><%=h t('comments.delete.are_you_sure', :default => "Are you sure you want to delete this comment?") %></h3>

(<%= link_to t('comments.delete.yes', :default => 'Yes, delete!'), comment, :method => :delete %>)

<%= cancel_delete_comment_link(comment) %>