<h3 class="heading"><%= t(".delete_confirmation") %></h3>
<ul class="actions" role="menu">
	<li><%= button_to t(".button"), comment, method: :delete %></li>
	<li><%= cancel_delete_comment_link(comment) %></li>
</ul>
