<h1>Editing comment</h1>

<%= error_messages_for :comment %>

<%= render :partial => @comment, :locals => {:commentable => @comment.commentable, :button_name => 'Update'}%>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
