<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= title_for_comment_page(@commentable) %></h2>
<%= error_messages_for :comment %>
<!--/descriptions-->

<!--main content-->
<%= render :partial => 'comments/comment_form', :locals => {
    :comment => @comment, 
    :commentable => @commentable,
    :button_name => t(".actions.comment")
  } 
%>
<!--/content-->

<!--subnav-->
<!--/subnav-->
