<h1>New comment</h1>

<%= error_messages_for :comment %>

<%= render :partial => @comment, :locals => {:commentable => @comment.commentable, :button_name => 'Create'}%>

<%= link_to 'Back', comments_path %>
