<%= flash_div :comment_error, :comment_notice -%>

<h2><%=h 'Comment on'.t %>  <%= link_to_comment_ultimate_parent(@comment) %></h2>

<%= render :partial => 'comments/comment_thread', :locals => { :comments => @comments, :depth => 0 } %>
