<%= render :partial => 'download_preface.html' %>

<div id="chapters">
  <% if @chapters.size > 1 %>
    <% for chapter in @chapters %>
      <%= render :partial => 'download_chapter.html', :locals => {:chapter => chapter} %>
    <% end %>
  <% else %>
    <%=raw sanitize_field(@chapters.first, :content) %>
  <% end %>
</div>

<%= render :partial => 'download_afterword.html' %>
