<% # expects either instance vars or local vars %>
<% @work ||= work %>
<% @chapters ||= chapters %>
<% @page_title ||= page_title %>
<%= render 'downloads/download_preface', :formats => [:html] %>

<div id="chapters" class="userstuff">
  <% if @chapters.size > 1 %>
    <% for chapter in @chapters %>
      <%= render 'downloads/download_chapter', :formats => [:html], :chapter => chapter %>
    <% end %>
  <% else %>
    <%=raw sanitize_field(@chapters.first, :content) %>
  <% end %>
</div>

<%= render 'downloads/download_afterword', :formats => [:html] %>
