<!-- descriptions BACK END is this really a collection page? Is it in a Home View? where does this show up? HALP - have made a guess for now to make it valid-->
<div id="collection-page" class="collection prompt home">
<h3 class="heading"><%= ts("#{@prompt.class.name} by %{person}", :person => @prompt.anonymous? ? "Anonymous" : @prompt.challenge_signup.pseud.byline) %></h3>

  <!--/subnav-->

  <ul class="index group">
    <%= render "prompts/prompt_blurb", :prompt => @prompt %>
  </ul>
  <!--/content-->

</div>

