<ul class="navigation actions">
  <li><%= span_if_current t(".index"), admin_banners_path %></li>
  <% if policy(AdminBanner).new? %>
    <li><%= span_if_current t(".new"), new_admin_banner_path %></li>
  <% end %>
  <% if params[:id] %>
    <li><%= span_if_current t(".edit"), edit_admin_banner_path(@admin_banner) %></li>
    <% if policy(AdminBanner).destroy? %>
      <li><%= link_to t(".delete"), confirm_delete_admin_banner_path(@admin_banner), data: { confirm: t(".confirm_delete") } %></li>
    <% end %>
  <% end %>
</ul>
