<div class="admin">
  <!--Descriptive page name, messages and instructions-->
  <h2 class="heading"><%= ts("Banner") %></h2>
  <!--/descriptions-->
  
  <!--subnav-->
  <%= render 'navigation' %>
  <!--/subnav-->
 
  <!--main content-->
  <div class="announcement group">
    <blockquote class="userstuff">
      <%=raw sanitize_field(@admin_banner, :content) %>
    </blockquote>
  </div>
  <!--/content--> 
</div>
