<h2 class="heading">Work Search: Beta</h2>

  <%= render :partial => 'works/search_form' %> 

<h2 class="heading"><%= link_to t("tag_search", :default => "Tag Search: Beta"), search_tags_path %></h2>



<h2 class="heading"><%= link_to t("bookmark_search", :default => "Bookmark Search: Beta"), search_bookmarks_path %></h2>



<h2 class="heading"><%= link_to t("people_search", :default => "People Search: Alpha"), search_people_path %></h2>
