<h2>Work Search: Beta</h2>

  <%= render :partial => 'works/search_box_main' -%> 

<h2>Tag Search: Beta</h2>

  <%= render :partial => 'tags/search_form' -%> 

<h2>Bookmark Search: Beta</h2>
  
  <%= render :partial => 'bookmarks/search_form' %>

<h2>People Search: Alpha</h2>

  <%= render :partial => 'people/search_form' %>
