/* CSS Document */

#ibox_w{
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color: #000;
	margin:0;
	padding:0;
	filter:alpha(opacity=0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

#ibox_progress {	
	margin:0;padding:0;
	position: absolute;
	z-index:105;
}

#ibox_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index:1000;
	padding: 0.625em ;
	border:20px solid #eee;
	width:18.75em;
/*	height:18.75em;*/
	background-color:#eee;
	padding-bottom:2.25em;
	margin:0;
}

#ibox_content {
	background-color:#eee;
	width:100%;
	height:100%;
	margin-bottom:0.25em;
	position:relative;
	top:0;
	left:0;
	padding:0;
}

#ibox_footer_wrapper {
	border-top:1px solid #ccc;
	padding: 0.5625em;
	position:relative;
	padding-top:0.375em;
	margin:0 -0.625em;
	top:0;
	left:0;
	vertical-align: top;
}

#ibox_footer{
	font-size: 1em;
	font-weight: 600;
	color:#000;
}

.ie #ibox_footer{
	margin-top:-1em;
}

#ibox_close{
	float: right;
	padding-top:0;
}

#ibox_close a{
	font-size: 1.125em;
	padding: 0 0.5625em;
	text-decoration: none;
	background:#eee;
	color: #000;
}

#ibox_close a:hover{
	background: #000;
	color:#fffef9;
}
	

