#outer * {
  box-shadow: none;
}

.icon {
  background: none;
}

#main,
#dashboard,
#dashboard ul,
#main.dashboard,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff {
  margin: 2%;
  padding: 2%;
}

#dashboard,
#dashboard ul,
#main.dashboard,
#inbox-form,
.alphabet .listbox li,
.media .listbox,
.works-index .index,
.collections-index .index,
.bookmarks-index .index {
  float: none;
  width: auto;
  max-width: 100%;
}

#inner .filters,
.filters dt,
media .listbox,
.bookmark .recent .index {
  width: 100%;
}

.group .group,
.actions a,
.actions a:link,
.actions a:hover,
.actions a:focus,
.actions input,
.actions input:hover,
.actions input:focus,
.actions button,
.actions button:hover,
.actions button:focus,
.flash,
fieldset,
#header ul.primary li.search,
.listbox fieldset,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
form.single fieldset,
dd.hideme,
form blockquote.userstuff {
  border: 2px solid;
}

ul.navigation + .index {
  clear: both;
}

li.blurb,
.group {
  visibility: visible;
}

li.blurb,
.bookmark div.user {
  padding: 3%;
}

.listbox .blurb,
.group.listbox .index {
  margin: auto;
}

.group.listbox .index,
fieldset.listbox.group {
  padding: 0;
  border: 0;
}

fieldset dd dl,
form .meta dd,
fieldset dl fieldset dl,
dd fieldset {
  margin: 2% 0;
  border: 0;
}

.meta .stats dl dd,
.meta .stats dl dt {
  display: inline-block;
}

textarea,
pre {
  font-size: 200%;
}

#header li,
#footer li,
.home .primary .navigation a,
.blurb .blurb,
.blurb .actions a,
#header li a,
#footer li a,
#footer li button,
#header .open .menu {
  display: block;
}

#header .navigation,
#header li a,
#footer * {
  float: none;
}

#header h1 img,
#greeting p.icon,
#header .tip {
  visibility: hidden;
  display: none;
}

#header .menu {
  display: none;
  position: static;
}

#header,
#header .open a,
#header .primary .dropdown a:focus,
#header .user .dropdown a:focus,
#footer,
.actions a:hover,
.actions a:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
  background: #900;
  color: #eee;
}

#header h1 a {
  color: #fff;
}

#header .dropdown {
  background: transparent;
}

#header .dropdown .menu a {
  background: #111;
  color: #fff;
}

#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
  background: #ccc;
  color: #111;
}

#footer button {
  cursor: pointer;
  height: unset;
  width: 100%;
  white-space: normal;
    box-sizing: border-box;
}

.bookmark div.user {
    box-sizing: border-box;
}

.bookmark .recent,
.bookmark .recent .index {
  border: none;
}

.javascript .work.navigation .secondary {
  width: 100%;
    box-sizing: border-box;
}

.javascript .work.navigation .expanded + .secondary,
.javascript .work.navigation .secondary li,
.javascript .work.navigation .secondary p,
.javascript .work.navigation .secondary a {
  display: block;
}

.javascript .work.navigation .secondary p {
  padding-block-start: 0.375em;
}

.javascript .work.navigation .secondary select {
  max-width: 100%;
  min-width: auto;
}

.javascript .work.navigation .secondary a {
  height: 100%;
  min-height: 1.286em;
  padding-inline: 0.5em;
  white-space: normal;
}

body .narrow-shown {
  display: block;
}

.actions li.narrow-shown {
  display: inline;
}
