<ul class="menu" role="menu">
  <li><%= span_if_current ts("Works"), search_works_path %></li>
  <li><%= span_if_current ts("People"), search_people_path %></li>
  <li><%= span_if_current ts("Bookmarks"), search_bookmarks_path %></li>
  <li><%= span_if_current ts("Tags"), search_tags_path %></li>
</ul>