<ul class="menu" role="menu">
  <li><%= span_if_current ts("Works"), works_path %></li>
  <li><%= span_if_current ts("Bookmarks"), bookmarks_path %></li>
  <li><%= span_if_current ts("Tags"), tags_path %></li>
  <li><%= span_if_current ts("Collections"), collections_path %></li>
</ul>