<ul class="menu">
  <li><%= link_to t(".works"), search_works_path %></li>
  <li><%= link_to t(".bookmarks"), search_bookmarks_path %></li>
  <li><%= link_to t(".tags"), search_tags_path %></li>
  <li><%= link_to t(".people"), search_people_path %></li>
</ul>
