<ul class="menu">
  <li><%= link_to t(".works"), works_path %></li>
  <li><%= link_to t(".bookmarks"), bookmarks_path %></li>
  <li><%= link_to t(".tags"), tags_path %></li>
  <li><%= link_to t(".collections"), collections_path %></li>
</ul>
