<ul class="menu" role="menu">
  <li><%= span_if_current ts("About Us"), about_path %></li>
  <li><%= span_if_current ts("News"), admin_posts_path %></li>
  <li><%= span_if_current ts("FAQ"), archive_faqs_path %></li>
  <li><%= span_if_current ts("Donate or Volunteer"), donate_path %></li>
</ul>