<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t("Clear Entire History") %></h2>

<!--main content-->
<%= form_with(model: :reading, method: :post, url: {action: "clear"}, class: "simple destroy") do |f| %>
  <p class="caution notice">
    <%= t("Are you sure you want to <strong><em>clear</em></strong> your entire history? This <strong>cannot be undone</strong>.").html_safe %>
  </p>
  <p class="actions">
    <%= f.submit t("Yes, Clear Entire History") %>
  </p>
<% end %>
<!--/content-->
