<h1><%=h 'History' %></h1>
<% if logged_in? && !current_user.readings.empty? %>
  <ul>
    <%= render :partial => 'reading', :collection => @readings %>
  </ul>
<% end %>

<div class="pagination">
	  <%= will_paginate @readings, :prev_label =>  "&laquo; Previous",:next_label => "Next &raquo;" %>
</div>
