<div class="external_author_name">
<p>
    <%= form.label :name, t('label_external_author_name', :default => "Name: ") %>
    <%= form.text_field :name %>
    <%= remove_name_link(form) %>
</p>
</div>