<h2 class="heading"><%= ts('New external author identity') %></h2>

<%= render "external_author_form" %>

<p class="navigation actions" role="navigation"><%= link_to ts('Back'), user_external_authors_path(@user) %></p>

