<!-- app/views/publication_datas/show.html.erb -->
<p>
  <b>Publisher:</b>
  <%=h @publication_data.publisher %>
</p>

<p>
  <b>Pagelength:</b>
  <%=h @publication_data.pagelength %>
</p>


<%= link_to 'Edit', [:edit, @book, @publication_data] %> |
<%= link_to 'Back', book_publication_datas_path(@book) %>