<% content_for :message do %>

  <%= commenter_pseud_or_name_link(@comment) %> edited the following comment on <%= commentable_title_link(@comment) %>

  <p>
    <%= style_quote(raw(@comment.sanitized_mailer_content)) %>
  </p>

  <%= render 'comment_notification_footer' %>

<% end %>
