<h2 class="heading">Welcome to <%= @collection.title %>!</h2>

<div><%=raw sanitize_field(@collection, :description) %></div>

<ul class="navigation actions" role="navigation">
  <li><%= link_to "Profile", collection_profile_path(@collection) %></li>
</ul>
