<h3 class="landmark heading"><%= t(".landmark") %></h3>
<% if policy(KnownIssue).admin_index? %>
  <ul class="navigation actions">
    <li><%= span_if_current t(".known_issues"), known_issues_path %></li>
    <li><%= span_if_current t(".new_known_issue"), new_known_issue_path %></li>
  </ul>
<% end %>
