<%- if logged_in_as_admin? -%>
<%= render :partial => "admin_index" %>
<%- else -%>
<h1><%= t("known_issues", :default => "Known Issues") -%></h1>
<div id="tos" class="work-show">
	<% @known_issues.each do |known_issue| %>
			<h6>
				<b>Updated:</b> <%=h known_issue.updated_at %>  
			</h6>
	    <%=sanitize_and_format_for_display known_issue.content %>
<% end %> 
<% end %>

