<!--Descriptive page name, messages and instructions-->
<%- if logged_in_as_admin? -%>
<%= render :partial => "admin_index" %>
<%- else -%>
<h2><%= t("known_issues", :default => "Known Issues") -%></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->

<% @known_issues.each do |known_issue| %>
				<div class="admin user-generated-view" role="article"><h4>Updated <%=h known_issue.updated_at %></h4>
	    <%=sanitize_and_format_for_display known_issue.content %>
	</div>
<% end %>

<% end %>

