<!-- BEGIN admin options -->
<div id="admin-options">
  <% if item.hidden_by_admin? %>
    <%= link_to 'Make visible'.t, {:controller=>"admin/user_creations", :action=>"hide", :id=>item, :creation_type => item.class, :hidden=>'false'} %> | 
  <%- else -%>
    <%= link_to 'Hide'.t, {:controller=>"admin/user_creations", :action=>"hide", :id=>item, :creation_type => item.class, :hidden=>'true'} %> | 
  <%- end -%>  
  <%= link_to 'Delete'.t, {:controller=>"admin/user_creations", :action=>"destroy", :id=>item, :creation_type => item.class}, :confirm => 'Are you sure?'.t, :method => :delete %>
</div>
<!-- END admin options -->