<div class="navigation">
    <span class="navitem"><%= link_to_unless_current "AO3 News", admin_posts_path %></span>
    <span class="navitem"><%= link_to_unless_current "Archive FAQ", archive_faqs_path %></span>
    <span class="navitem"><%= link_to_unless_current "Known Issues", known_issues_path %></span>
  </div>