<!-- extra navigation tabs for admin users -->
<li>
  <span>&mdash;</span>
</li>
<li>
  <%= link_to_unless_current "<span>" + "users".t + "</span>", admin_users_path %>
</li>
<li>
  <%= link_to_unless_current "<span>" + "invitations".t + "</span>", new_admin_invitation_path %>
</li>
<li>
  <%= link_to_unless_current "<span>" + "abuse reports".t + "</span>", abuse_reports_path %>
</li>
