<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".page_heading") %></h2>

<p class="note"><%= t(".write_codes_down") %></p>
<!--/descriptions-->

<!--main content-->
<ul>
  <% @backup_codes.each do |code| %>
    <li>
      <code><%= code %></code>
    </li>
  <% end %>
</ul>

<p class="actions">
  <%= link_to t(".finish"), admins_path %>
</p>
<!--/content-->
