<p class="note">
  <%= ts("Your challenge doesn't have any match settings defined, so the matching 
  will be purely random. 
  (You can adjust the assignments by hand afterwards, though!)
  If you want participants matched up on the tags they signed up with, 
  please update your ") %>
  <strong><%= link_to ts("challenge match settings"),
                      if  @collection.prompt_meme? then
                        edit_collection_prompt_meme_path(@collection, :anchor => 'match_settings')
                      else
                        edit_collection_gift_exchange_path(@collection, :anchor => 'match_settings')
                      end %></strong>.
</p>
