<% if @assignments_with_no_recipient.present? %>
  <div class="matching listbox group">
    <dl class="index group">
    <% @assignments_with_no_recipient.each do |assignment| %>
      <%= render "assignment_with_no_request", assignment: assignment %>
    <% end %>
    </dl>
  </div>    
<% else %>
  <p><%= ts("No assignments are missing recipients!") %></p>
<% end %>
