<ul class="navigation actions" role="menu">
	<li><%= ts("Select") %></li>
	<li><a href="#" class="check_all"><%= ts("All") %></a></li>
	<li><a href="#" class="check_none"><%= ts("None") %></a></li>
</ul>
