<div class="edit-multiple-controls">
  <p class="submit">
    <%= button_to_function t('select_all', :default => "Select All"), "$$('input[type=checkbox]').each(function(box) {box.checked = true})" %>
    <%= button_to_function t('deselect_all', :default => "Deselect All"), "$$('input[type=checkbox]').each(function(box) {box.checked = false})" %>
     - 
    <%= submit_tag t('edit_checked', :default => "Edit Checked") %>
    <%= submit_tag t('delete_multiple', :default => "Delete Checked") %>
  </p>
</div>