
<%- form_tag(current_filter_path, :class => 'story-filters') do -%>
  <%- field_set_tag 'Filter the works' do -%>
		<dl class="story-filters">
      <%- for filter in @filters -%>
      <dt><%=h filter.name %></dt>
        <%- for tag in @tags_by_filter[filter][0..9] -%>
        <dd>
	        <%= check_box_tag "filters[#{filter.id}][]", tag.id, @selected_tags.include?(tag.id.to_s) %>
	        <%= label_tag "filters[#{filter.id}][#{tag.id}]", tag.name %>
        </dd>
        <%- end -%> 
			<%- end -%>
		</dl>
		<p class="submit"><%= submit_tag "Filter Stories" %></p>
  <%- end -%>
<%- end -%>
