<dl id="story-meta">
<% TagCategory.official.each do |category| -%>
<dt>
  <%= category.display_name %>:
</dt>
<% @work.tags(category).each do |tag| -%>
<dd class="<%= category.display_name -%>">
  <%= link_to(tag.name, tag_path(tag)) %>
</dd>
<% end -%>
</li>
<% end -%>
</dl>
