<% approved_unrevealed_collections = item.approved_unrevealed_collections %>
<div class="mystery header picture module">
  <h4 class="heading"><%= ts("Mystery Work") %></h4>
  <% if approved_unrevealed_collections.any? %>
    <h5 class="heading"><%= t(".part_of_html", collection_links: show_collections_data(approved_unrevealed_collections)) %></h5>
  <% end %>
  <div class="icon"></div>
</div>
<h6 class="landmark heading"><%= ts("Summary") %></h6>
<blockquote class="userstuff summary">
  <p><%= ts("This is part of an ongoing challenge and will be revealed soon!") %></p>
</blockquote>
