<!--approved children-->

<div id="children" class="children module">
  <h3 class="heading"><%= t(".inspired_by.title") %>:</h3>
  <ul>
    <% for child_work in inspired_by %>
      <li>
        <%= related_work_note(child_work.work, "inspired_by") %>
      </li>
    <% end %>
  </ul>
</div>
