<!--approved children-->

<div id="children" class="children module">
  <h3 class="heading"><%= t(".inspired.title") %>:</h3>
  <ul>
    <% for child_work in inspired_by %>
      <li>
        <% relation = child_work.translation ? "translated_to_afterword" : "inspired" %>
        <% work_link = link_to child_work.work.title, polymorphic_url(child_work.work) %>
        <% creator_link = byline(child_work.work) %>
        <% language = tag.span(child_work.work.language.name, lang: child_work.work.language.short) %>

        <% if child_work.work.is_a?(ExternalWork) || !child_work.work.unrevealed? %>
          <%= t(".#{relation}.revealed_html",
              language: language,
              work_link: work_link,
              creator_link: creator_link) %>
        <% elsif child_work.work.restricted? && !logged_in? %>
          <%= t(".#{relation}.restricted_html",
              language: language,
              creator_link: creator_link ) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
