<ul class="work mystery">
	<li class="heading">
	<span class="mystery">?</span>
	<h3><%= t('works.mystery', :default => "Mystery Work") %></h3>
	</li>
	<li class="summary"><%= t('works.will_be_revealed', :default => "This work is part of an ongoing challenge, {{challenge}}, and will be revealed soon!",
    :challenge => @challenge ? link_to(@challenge.title, challenge_path(@challenge)) : "") %></li>
</ul>
