<!-- footer for work -->

 	
 	<%- unless @work.approved_children.blank? -%>
 	<div id="children" class="module">
 	  <h4><%=h t('inspired_by_this', :default => 'Works inspired by this one:') -%></h4>
 	  <ul>
 	  <%- for child in @work.approved_children -%>
 	    <li><%= link_to child.title, child %></li>
 	    <%- if is_author_of?(@work) -%>
    		<%= link_to t('remove_link', :default => 'Remove link'), {:controller => :related_works, :action => :update, :parent_id => @work.id, :work_id => child.id}, :method => :put %>
    	<%- end -%>
 	  <%- end -%>
 	  </ul>
	</div>
 	<%- end -%>
<!-- end of footer for work -->
