<div class="header module mystery">
	<h4 title="title"><%= t('.works.mystery', :default => "Mystery Work") %></h4>
	<h5><%= t('.works.part_of', :default => "Part of: {{collections}}", :collections => work.collections.unrevealed.map {|challenge| link_to(challenge.title, collection_path(challenge))}.join(", ")) %></h5>
	</div>
	<h6 class="landmark">Summary</h6>
	<blockquote class="user-generated-view summary" title="summary">
		<p><%= t('.works.will_be_revealed', :default => "This work is part of an ongoing challenge and will be revealed soon!") %></p>
	</blockquote>
