<h1><%=h 'Editing work'.t %></h1>

<%= error_messages_for :work %>

<%= render :partial => 'work_edit_navigation' %> 
					
<%= render :partial => 'work_form', :locals => {:button_text => "Update".t} %> 

