<h1>Editing work</h1>

<%= error_messages_for :work %>

<%= render :partial => "work_form", :locals => { :button_text => "Update" } -%>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
