<h2>Imported Works</h2>

<% if @works && !@works.empty? %>
  <p>
    <%= t('.import.successful', :default => "We were able to successfully upload the following works.") %>
  </p>
  <ul>
    <%- for work in @works -%>
    <li><%= link_to(work.title, work_path(work)) -%></li>
    <%- end -%>
  </ul>

<%- end -%>


