<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Merge Work') %></h2>

<!--/descriptions-->

<!--main content-->

<form id="mergeform"  method="put" action="merge_work">
  <div class="form_description">
    <h2>Test</h2>

  </div>
  <ul >

    <li id="li_1" >
      <label class="description" for="element_1">Text </label>
      <div>
        <input id="target_id" name="target_id" type="text" maxlength="255" value=""/>
      </div>
    </li>




      <input id="domerge"  type="submit" name="submit" value="Submit" />
    </li>
  </ul>
</form>


<% end %>
<!--/content-->


