<h2 class="heading"><%= t(".page_heading_html", work_link: link_to(@work.title, @work), creators: byline(@work)) %></h2>

<ol class="chapter index group" role="navigation">
<% for chapter in @chapters %>
  <li><%= link_to chapter.display_title.html_safe, [chapter.work, chapter] %> <span class="datetime">(<%= chapter.published_at.to_date %>)</span></li>
<% end %>
</ol>

