<h3>
  <%=h t('.chapter_index', :default => "Chapter Index for") %> 
  <%= t('.work_title_by_author', :default => "{{title}} by {{author}}", :title => link_to(sanitize_title_for_display(@work.title), @work), :author => byline(@work)) %>
</h3>

<ol class="navigation" role="navigation">
<% for chapter in @chapters %>
  <li><%= link_to chapter.display_title, [chapter.work, chapter] %> (<%= chapter.published_at.to_date %>)</li>
<% end %>
</ol>