<%= error_messages_for :work %>

<div>
  <h2 class="nomargin"><span class="list-left">Post Story</span></h2>
  
  <!-- The "morefeatures" span can be removed at will without breaking the page. -->
  <span class="list-left leftmargin">Further features coming soon.  Questions? <%= mail_to ArchiveConfig.QUESTION_ADDRESS, "Email us" %>.</span>
  
  <span class="list-right required">* Required field</span>

  <p class="clearbothdrop"></p>

</div>
<%= render :partial => "work_form" %>
<%= link_to 'Back', works_path %>
