<!--Descriptive page name, messages and instructions-->
<h2 id='work-form-heading' class="landmark"><%=h ts('Post New Work') %></h2>

<%= error_messages_for @work %>
<!--/descriptions-->

<!--main content-->
<%= render :partial => "standard_form" %>
<!--/content-->
