<%= error_messages_for :work -%>
<div>
  <h2 class="nomargin"><span class="list-left">Preview Story</span></h2>
  
	<span class="list-left leftmargin">Further features coming soon.  Questions?  <a href="mailto:<%=ArchiveConfig.QUESTION_ADDRESS%>">Email us.</a></span>
	<div class="clearboth"></div>
</div>

<%= render :partial => 'preview_edit' -%>
