<h2><%=h "Works To Edit" -%></h2>

<% form_tag edit_multiple_user_works_path(@user) do %>

<div style="text-align: center; margin: 0 auto;">
<%= render :partial => 'edit_multiple_controls' %>

  <table class="story-list">
    <tr>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Fandom</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    
    <%- for work in @works -%>
      <%= render :partial => 'work_blurb_short', :locals => {:work => work} %>
    <%- end -%>
  </table>

<%= render :partial => 'edit_multiple_controls' %>
</div>

<% end %>
