/*==CORE: basic functionality*/
body {
background: #f4effc;
color: #2a2a2a;
font: 100%/1.125 "Lucida Grande", Verdana, Helvetica, sans-serif;
margin: 0;
padding: 0
}
h1,h2,h3,h4,h5,h6 {
font-family: Georgia,serif;
}
a,a:link {
color: #900;
text-decoration: none;
}
#header,#footer,#main,#dashboard {
padding: 1em 3em
}
.landmark {
font-size: 0;
opacity: 0;
}
#login-block,li.blurb,fieldset,form dl {
border: 1px solid #ddd;
padding: 1em;
overflow:hidden;
}
.blurb li,.navigation>*,.stats>*,.meta ul li {
list-style: none;
display: inline;
}

/*DEVELOPMENT ONLY. DO NOT DEPLOY */
#debug {display:none;}