/*==REGION: DASHBOARD is #2 of the 4 regions shown on every page */
#dashboard  
        { width: 12em; float: left; padding: 0 0.5625em; }
#dashboard a,#dashboard span
        { color: #111; display: block; white-space:normal; padding: 0 0.5625em; border: none; background:transparent; }
#dashboard a:hover 
        { background:#ddd; color:#900; }
#dashboard ul.navigation, #dashboard ul 
        { float:none; display:block; padding:1.286em 0; text-align:right; line-height:2; border-top: 2px solid #ddd; }
#dashboard .current 
        { background:#ccc; }
#dashboard .subnav
        { left:2.5em; right:auto; }
        


