/* FOOTER */
#footer
        { background: url(/images/header.png) top no-repeat #f8f1fe; clear:both }
#footer ul
        { border:0; clear: both; color: #999; font-size: 0.75em; margin: 1.5em 0; padding: 1em; text-align: center; float:none }
#footer ul.navigation a   
        { background:transparent; border: 0; font-weight: 400; margin: auto; padding: 0 }
#footer a:hover
        { box-shadow:none; background:#ccc;}

