/*==ACTIONS: navigation, actions, submit, etc (buttons)*/

.navigation * 
        { display:inline; text-transform:lowercase;}
ul.navigation, p.navigation, li.navigation, span.navigation, fieldset.navigation, p.submit, dd.submit, span.submit
        { padding:0.429em 0.25em 0.25em 0; float:right;  text-align:center; }
.navigation a, .submit input, .submit a, .navigation input, .current, .delete a, .action, input[type="submit"],button, .close a, .cancel a
        { background:#eee; color:#444; display: inline-block; padding: 0.25em 0.75em; white-space: nowrap; overflow: visible; position: relative; cursor: pointer; text-decoration: none; border: 1px solid #bbb; border-bottom:1px solid #aaa; text-transform:lowercase;
          background:-moz-linear-gradient(#fff 2%,#ddd 95%, #bbb 100%);
          background:-webkit-linear-gradient(#fff 2%,#ddd 95%, #bbb 100%);
          background:-o-linear-gradient(#fff 2%,#ddd 95%, #bbb 100%);
          background:-ms-linear-gradient(#fff 2%,#ddd 95%, #bbb 100%);
          background:linear-gradient(#fff 2%,#ddd 95%, #bbb 100%);
          border-radius:0.25em;}
.submit input.text, .navigation input.text,.navigation input[type="text"]
        { cursor: text; }

.navigation a:visited
        { color: #111; }
.navigation a:hover, .submit a:hover, .submit input:hover, .navigation input:hover, .pagination a:hover 
        {  color:#900; border-top:1px solid #999; border-left:1px solid #999; 
          box-shadow:inset 2px 2px 2px #bbb  }
.navigation a:active, .current,a.current, .current a:visited, .pagination em
        { color:#111; background:#ccc; outline:none;
          box-shadow:inset 1px 1px 2px #333;}
.navigation .pagination a, .pagination a:hover 
        { border: 0; padding: 0; 
          box-shadow:none;}
/*SUBTYPES AND MODES: pagination, skiplinks, landmark, current, delete.*/
.pagination
        { margin: .5em auto; padding: 0.5em; text-align: center }
.pagination a 
        { padding: 0.25em 0.375em; border: 0}
.pagination em
        { padding: 0.25em 0.375em;}
.delete a
        { color:#900; font-weight:900; margin-right:0.375em; padding:0 0.1em 0.15em;
          box-shadow:-1px -1px 2px rgba(0,0,0,0.75); border-radius:0.875em; }
ul#skiplinks, .landmark , .landmark a
        { border: 0; font-size: 0; line-height: 0; height: 0; margin: 0; clear:both; color:transparent;
          opacity:0; }
.subnav    
        { background: #f4effc; position: absolute; z-index: 99; border:2px solid #bbb; margin: auto; padding:0.375em;overflow:hidden; right:2.5em; 
          box-shadow:2px 2px 5px #bbb; border-radius:0.15em }
/* CONTEXTS */
form dd .navigation
        { float: left;}
dl.stats + h6 + .navigation 
        { margin:-2em auto 0; float: left; }
.navigation .subnav .submit
        { float:none;}
.chapter .subnav
        { top:2.5em;}
.dashboard .landmark 
        { clear:right; }
        




