/*NAVIGATION, ACTIONS, and SUBMIT (BUTTONS)*/

.navigation * 
        { display:inline; }
ul.navigation, p.navigation, li.navigation, span.navigation, p.submit, dd.submit, span.submit
        { padding:0.15em 0.25em 0.25em 0; float:right;  text-align:center}
.navigation a, .submit input, .submit a, .navigation input, .current, .delete a
        { background:#eee; color:#444; display: inline-block; padding: 0.25em 0.75em; white-space: nowrap; overflow: visible; position: relative; cursor: pointer; text-decoration: none; border: 1px solid #bbb; border-bottom:1px solid #aaa;
          background:-moz-linear-gradient(#fff 2%,#ddd 95%, #bbb 100%);
          border-radius:0.375em;  
          zoom: 1; }
.submit input.text, .navigation input.text
        { cursor: text;}

.navigation a:visited
        { color: #111; }
.navigation a:hover, .submit a:hover, .submit input:hover, .navigation input:hover
        {  color:#900;border-top:1px solid #999; border-left:1px solid #999; 
          box-shadow:inset 2px 2px 2px #bbb  }
.navigation a:active
        { color:#111;background:#ccc; outline:none
          box-shadow:inset 2px 2px 2px #333;}
.navigation .pagination a
        { border: 0; padding: 0 }

/* CONTEXTS */
form dd .navigation
        { float: left;}
/* a little happy tweak for non-trident browsers */
dl.stats + h6 + .navigation 
        { margin:-2em auto 0; float: left; }

/*SUBTYPES AND MODES: pagination, skiplinks, landmark, current, delete*/
.pagination
        { margin: .5em auto; padding: 0.25em; text-align: center }
.pagination a 
        { border:0;}
.pagination a:hover 
        { background: #bbb; }
.current,a.current, .current a:visited, .pagination em
        { background:#ccc; border: 1px solid #bbb; border-bottom:2px solid #aaa;
          border-radius:0.375em }
.delete a
        { color:#900; font-weight:900; margin-right:0.375em; padding:0 0.1em 0.15em;
          box-shadow:-1px -1px 2px rgba(0,0,0,0.75); border-radius:0.875em; }
ul#skiplinks, .landmark , .landmark a
        { border: 0; font-size: 0; line-height: 0; height: 0; margin: 0; opacity:0; clear:both; }
.sidebar .landmark 
        { clear:none; }
ul#subnav, .subnav    
                { background: #f8f1fe; position: absolute; z-index: 99; border:2px solid #bbb; width: 20em;margin: 2em auto auto -10em; padding:2em;overflow:hidden; box-shadow:2px 2px 5px #bbb;
                  border-radius:0.15em }

        .subnav form select {width:auto !important;}
        




