/* anything in here should override other styles for admin users */
#main 
        { margin: auto 3.5em;}
#header, #footer 
        { border-top:25px solid #066; background:transparent }
#header ul.admin       
        { margin:auto; text-align:right; background:#f8f1fe; border-right:25px solid #066}
#admin-options a 
        { color: #900; }

/* TABLES AND LISTS */
table, thead td 
        { background: #e0efe9 }
#admin_users_table th a:visited 
        { color: #ddd; }
#admin_users_table th a:hover 
        { color: #066; }


