/*==ROLES AND STATES */
.own, .relationships, .draft .wrapper, .unread
        { background:#eee; }
.draft 
        { background: #eee; border: 2px dashed #ddd }
.draggable,.droppable,     
        { color: #900 }
.canonical       
        { font-weight: 700 }
.hidden 	   	    
        { display:none }
/*(this unread span in user inbox is mimicking the ".navigation .current" style)*/
span.unread
        { background:#ccc; color:#000; display: inline-block; padding: 0.25em 0.75em; white-space: nowrap; overflow: visible; position: relative; cursor: pointer; text-decoration: none; border: 1px solid #bbb; border-bottom:1px solid #aaa; text-transform:lowercase;
          border-radius:0.375em; }

/* Requests and offers in challenges */
li.requested 
        { font-weight: bold; }
span.requested 
        { color: #900; }
span.offered 
        { color: #008080; }
span.offered.requested 
        { color: #daa520; }

/* CONTEXTS */
.dashboard .own
        { background:transparent;}
	



