
/*TAGS */
 #main ul.tags li      { display:inline;}

/*CLOUD */
 a.cloud1           { color: #111; font-size: 0.625em; font-weight: 100 }
 a.cloud2           { color: #240F0F; font-size: 0.75em; font-weight: 200 }
 a.cloud3           { color: #380C0C; font-size: 0.875em; font-weight: 300 }
 a.cloud4           { color: #4B0A0A; font-size: 1em; font-weight: 400 }
 a.cloud5           { color: #5F0707; font-size: 1.125em; font-weight: 500 }
 a.cloud6           { color: #720505; font-size: 1.5em; font-weight: 600 }
 a.cloud7           { color: #860202; font-size: 1.875em; font-weight: 700 }
 a.cloud8           { color: #900; font-size: 2.25em; font-weight: 800 }

