/* BLURB

The blurb class is used wherever we show a list of works, collections, bookmarks, etc; each list item is a blurb*/

.blurb ul li, .blurb dd ul li  
        { display: inline }
li.blurb             
        { position: relative; clear:left; min-height: 100px; padding: 0.75em 1em; 
          box-shadow:inset 1px 1px 3px #bbb; border-radius:0.15em; }
.blurb .module         
        { float:none;}
.blurb .header
        { min-height:55px; margin-bottom:0.643em}
.blurb .header h4,.blurb .header h5, .blurb .header ul        
        { margin: 0.375em 5.25em 0 65px }
.blurb .header img     
        { position: relative; margin: 0; }
.blurb h4 a:link, .blurb h4 img 
        { color: #900; vertical-align: bottom }

.blurb ul.required-tags     
        { position: absolute; top: 0; width:60px; margin:0;}
.blurb ul.required-tags li, #main.blurb ul.required-tags li img, .blurb ul.required-tags li a
        { position:static; display: inline; height: 25px; width: 25px; border:none; }
.blurb ul.required-tags li  span.text 
        { display:none }
.blurb ul.required-tags li span
        { background-repeat:no-repeat; height: 25px; width: 25px; display:block;}
.blurb ul.recent-bookmarks li 
        { display: block; }
.blurb .category, .blurb .iswip, .blurb.external-work
        { position: absolute; left: 28px; }
.blurb .category
        { top: 0; }
.blurb .iswip, .blurb .external-work
        { top: 28px; }
.blurb .rating, .blurb .required-tags .warnings
        { margin:0 0 3px }

 /*icon image replacement*/
 .blurb .rating-general-audience {background:url("/images/rating-general-audience-s.png");}
 .blurb .rating-explicit {background:url("/images/rating-explicit-s.png");}
 .blurb .rating-mature {background:url("/images/rating-mature-s.png");}
 .blurb .rating-notrated {background:url("/images/rating-notrated-s.png");}
 .blurb .rating-teen {background:url("/images/rating-teen-s.png");}
 .blurb .category-femslash {background:url("/images/category-femslash-s.png");}
 .blurb .category-gen {background:url("/images/category-gen-s.png");}
 .blurb .category-slash {background:url("/images/category-slash-s.png");}
 .blurb .category-het {background:url("/images/category-het-s.png");}
 .blurb .category-multi {background:url("/images/category-multi-s.png");}
 .blurb .category-other {background:url("/images/category-other-s.png");}
 .blurb .category-none {background:url("/images/category-none-s.png");}
 .blurb .complete-no {background:url("/images/complete-no-s.png");}
 .blurb .complete-yes {background:url("/images/complete-yes-s.png");}
 .blurb .warning-yes {background:url("/images/warning-yes-s.png");}
 .blurb .warning-no {background:url("/images/warning-no-s.png");}
 .blurb .warning-choosenotto {background:url("/images/warning-choosenotto-s.png");}
 .blurb .external-work {background:url("/images/external-work-s.png");}

.blurb .datetime 
        { position:absolute; top:0; right:0; margin:0;}
.blurb blockquote, .blurb .series, .blurb ul.wranglers, .blurb form
        { clear: none; margin: 0.375em auto; text-align: justify }
.blurb dl.stats
        { background: #eee; font-size: 0.8575em; text-align: right; padding: 0 0.3em 0.3em; margin: 1.286em auto 0; }
.blurb.own dl.stats
        { padding-left: 11em; }
.blurb .stats dd 
        { border-right:10px solid #eee;}
	
/*modification: PICTURE 
use this along with "index" and "blurb" for indices where we have icon pictures,
eg collections, users, skins, instead of the 4-icon list
*/
.picture .icon img 
        { position: absolute; top:0; height:55px; width:55px;}
.picture .header 
        { border-bottom:1px solid #ccc }

/* modification: BOOKMARK*/

.bookmark p.count	
        { right:0.5em; position:absolute; z-index:50 }
.bookmark .count img,  .bookmark .symbol img
        { height: 25px; width: 25px }
.bookmark p.count span	
        { background: url(/images/category-none.png) top left no-repeat; border: 1px solid #eee; display: block; float: left; height: 25px; line-height: 1.875; margin: 0 2.5px 0 0; text-align: center; width: 25px }
.bookmark .blurb	
        { border: 1px solid #ccc; padding: 0.125em 0.4em; }
.bookmark .user	
        { border: 1px solid #ddd; width:auto; margin: 0.25em 0.125em; padding: 0.125em; clear:right;}
.bookmark .picture .header
        { min-height:25px; }
	

