/*==GROUP: PREFACE 
-title, notes and footnotes, description, collections faq, rules, etc; 
this is mostly user notes, describing a work, collection, or challenge
these selectors have some #id weights as preface sometimes appears within .userstuff 
but comes before in the cascade, so to override you must specify an additional #id
*/

div.preface
        { margin: 1.5em 3em; padding: 0.643em 0.643em 0; float:none; }
#main .preface .module      
        { float:none; margin:0; padding:0;  width:auto; border:0; }
.chapter .preface
        { border-top: 1px solid;}
#main .preface h3        
        { background: transparent; border-bottom: 1px solid; }
.preface h2.title, #main .preface h3.title
        { font-weight: 700; text-align: center; border-bottom:0; clear: right;}
.dashboard .preface h2.title, .dashboard .preface h3.title
        { clear:right;}
#main .preface h3.byline, #main .preface .byline a
        { border: 0; text-align: center; text-decoration: none }
.preface a:hover         
        { text-decoration: underline }
#main .preface blockquote    
        { border: 0 }
#main div.preface .notes, #main div.preface .summary
        { min-height:5em;}

