#feedback 
        { margin:auto 2.5em;}

div.comment,li.comment 
        { position: relative; border:1px solid #ddd; overflow:hidden}
.comment img.icon 
        { height: 100px; width: 100px; float: left; margin:-1.5625em 0.5625em 0.5625em 0; }
.comment h4 
        { background:#ddd; padding:0.25em;margin:0 auto -.25em 100px }
.comment ul 
        { margin-top:-1.286em}
.thread .thread 
        { margin-left: 3em; }
.thread .even 
        { background: #eee; margin:0 } 

fieldset.comments 
        { background:transparent; border:none; 
          box-shadow:none }

.comment .datetime {position:absolute; top:1.5em; right:0}