/* PROFILE -user profile user home, collections and challenges profiles and home, tag home */

.profile p.alt      
        { margin: 8.5em auto 3em auto; }
.profile .header 
        { margin-bottom:0.643em;}
.profile .header img, .profile .header .icon      
        { position: absolute; top: 0; left:0}
.profile .header .icon
        { background: #900; height:100px; width:100px; margin-top:0}
.profile .header h2
        { margin: 0.675em 0 0 100px; text-align: right; border-bottom:2px solid; }
.profile .header .userstuff
        { margin-left: 120px;}

.profile .module h3
        { background: #ddd;  margin:0; padding: 0.125em;}
.profile .fandom.module, .profile.tag .module 
        { border:1px solid #ccc; margin:1.286em auto 0.643em auto; overflow:hidden; }
.profile .fandom.module .index
        { padding-left: 0.75em; 
          box-shadow:inset 1px 1px 3px #bbb; border-radius:0.15em }
.profile.tag .header.module  
        { border:0;}