
/* PROFILE -user profile user home, and soon collections and challenges profiles and home */
 #main .profile p.alt      { margin: 3em auto 3em 100px }
 .profile .header img       { left: 0; margin: 0 0 0.5625em; position: absolute; top: 0 }
 .profile .header h2       { font-size:2.25em; margin: 0.675em 0 0 100px; text-align: right; border-bottom:2px solid; }
 .profile .header .userstuff
                                { margin-left: 120px;}
 .profile .module h3      { background: #222; color: #f8f1fe; margin:0; padding: 0.125em; border-bottom: 4px double #f8f1fe;}
 .profile .series         { clear:left; float:none;}
 .profile li.blurb        { margin-top: 0 }
 .profile .meta dt        { width:12em}
 #main .profile .meta dd     { margin: -1.125em auto 1.125em 13em;}

