/*==ZONE: SYSTEM
SUBSECTIONS:
  1. SPLASH, 2. SESSIONS, 3. DOCS, 4. COMMS
/*

/*1. ZONE: SYSTEM: SPLASH PAGE*/
.system .intro
        { font:1.5em Georgia,serif; margin:0 auto 2.5em; max-width:39em; float:none; overflow:hidden }
.system .module h2
        { font:bold oblique 2.5em Georgia,serif;text-transform:lowercase;margin-bottom:-0.25em; }
.system .intro p
        { text-indent:2.5em; }
.system .intro a, .system .intro em
        { font:bold oblique 100% Georgia,serif; }
.system p#signup
        { width:100%; text-indent:0; font-style:normal;
          text-shadow:-1px -2px 3px #fff;}
.system .latest,.news
        { width:49%;float:left; }
.system .latest h3,.news h3	
        { text-align:center; color:#900;border-bottom:1px solid #c8c8c8; font:bold 2.5em Georgia,serif;text-transform:lowercase; }
.system .latest dl
        { margin-left:2em; }

/* 2. ZONE: SYSTEM: SESSIONS (login and signup)*/
.session #logo,.session #signin  
        { display: block; float: left; margin-bottom: 1.5em; width: 48% }
.admin_sessions-new form 
        { width:75%; margin:auto;} 

/*3. ZONE: SYSTEM: DOCS */
.docs #tos .toc li
        { list-style-type: upper-roman }
.docs #contents     
        { margin: auto; padding: 1em; width: 60% }
.docs #contents h2
        { text-align: center }
.docs #contents ul li
        { border-bottom: 1px solid #ddd; list-style-type: upper-roman }

/*4. ZONE: SYSTEM: ADMIN COMMS
admin comms, user facing, are a type of Home Zone 
admin zone, admin facing, has no special rules
admin role is only admin facing, and changes normal views*/
.admin.module 	
        { width: 75%; clear: right; margin: 0.5em 3em; padding: 0.5em 3em 0; border:1px solid; overflow:hidden }
.admin .header  
        { clear:right;}
.admin .header h3 
        { font-weight:500; padding: 0.125em; border-bottom:0.25em double #f4effc; color: #f4effc; background: #333; }
.admin .header h3 a,.admin .header h3 a:link, .admin .header h3 a:visited 
        { border-bottom:0; text-decoration: none; color: #f4effc; }
