/*3. ZONED BY ACTIVITY AND PAGE BY PAGE, where page is a class of main, 
1. page: home
2. zone: sessions
3. zone: header linked index pages: fandoms, works, people, bookmarks, tags, collections
4. zone: home: managing works, managing collections, managing skins, setting preferences, editing options (form rules in interactions.css); and that same data displayed to another user
5. zone: tags and tag wrangling
6. zone: displaying admin content like TOS and archive news
*/

/*1. PAGE: HOME */
.home .intro
        { font:1.5em Georgia,serif; margin:0 auto 2.5em; max-width:39em; float:none; overflow:hidden }
.home .module h2
        { font:bold oblique 2.5em Georgia,serif;text-transform:lowercase;margin-bottom:-0.25em; }
.home .intro p
        { text-indent:2.5em; }
.home .intro a,.home .intro em
        { font:bold oblique 100% Georgia,serif; }
.home p#signup
        { width:100%; }
.home .latest,.news
        { width:49%;float:left; }
.home .latest h3,.news h3	
        { text-align:center; color:#900;border-bottom:1px solid #c8c8c8; font:bold 2.5em Georgia,serif;text-transform:lowercase; }
.home .latest dl
        { margin-left:2em; }

/* 2. ZONE: SESSIONS (front front pages - login, create, logout(feedbacks)etc)*/
.session #logo,.session #signin  
        { display: block; float: left; margin-bottom: 1.5em; width: 48% }
.admin_sessions-new form 
        { width:75%; margin:auto;} 

/*3. ZONE: header linked index pages*/

/* WORKS INDEX */ 
.works-index .index 
        { width:75%;}

/* MEDIA INDEX, SHOW, FANDOMS INDEX, SHOW*/
.media-index li.category      
        { min-height: 15em; margin: 1em 2em; border:1px solid #ccc; 
          box-shadow:inset 1px 1px 3px #bbb; border-radius:0.15em; }
.media-index ol
        { margin: 0 0 1em 1em;  list-style-type: decimal }
.media-index li.odd,  .media-index li.even  
        { float: left; width: 40% }
.category h3, .letter h3, .category h3 a:visited, .letter h3 a:visited
        { color:#222; background:#ddd; margin-top:0; padding:0.25em; 
          text-shadow:-1px -1px 2px #fff; }
.letter, .letter .index 
        { clear:both; margin:auto auto 1.286em auto; }
.fandoms-index .index li 
        { display:inline; padding-left:0.25em}
.media-index p, .fandoms-index .letter span 
        { float:right; font-size:smaller }

/* COLLECTIONS INDEX*/
.collections-index .index
        { width:75%; }
.collections-show h2 span 
        { font-size: smaller }

/* BOOKMARKS INDEX*/
.bookmarks-index .user .module
        { float: none; }

/*4. ZONE: HOME */

/* DASHBOARD: HISTORY */
.readings-index h3 
        { background:#ddd; margin:-0.5em 0 -0.25em 0; padding:0.25em}
/* DASHBOARD: INBOX */
#inbox-form
        { float:left; width: 75%;}

/* USER PROFILE SHOW, general profile rules are in group-profile*/
.profile-show .module h3
        { margin-top: 2.75em }
.profile-show .datetime
        { top:-3.25em }
/* USER PROFILE NEW or EDIT PSEUD */
 .edit_pseud p.icon, .new_pseud p.icon 
         { position: static; }

/*5. ZONE: TAGS and TAG WRANGLING */
/* TAGS INDEX */
.tags-index ul
        { margin: 2em auto; text-align: center; line-height: 2; }
.tags-index li
        { display: inline; padding: 0.25em 0.5625em }
/*TAGS SHOW */
.tags-show ul.tags
        { margin: .5em 1em; }
.tags-show ul.tree 
        { display: block; }
.tags-show ul.tree li
        { display: block; list-style-type:disc; }

/*6. ZONE: ADMIN, TOS, FAQ */
.admin.module 	
        { width: 75%; clear: right; margin: 0.5em 3em; padding: 0.5em 3em 0; border:1px solid; overflow:hidden }
.admin .header  
        { clear:right;}
.admin .header h3 
        { font-weight:500; padding: 0.125em; border-bottom:0.25em double #f8f1fe; color: #f8f1fe; background: #333; }
.admin .header h3 a,.admin .header h3 a:link, .admin .header h3 a:visited 
        { border-bottom:0; text-decoration: none; color: #f8f1fe; }
#tos .toc li
        { list-style-type: upper-roman }
.home-tos_faq #contents     
        { margin: auto; padding: 1em; width: 60% }
.home-tos_faq #contents h2
        { text-align: center }
.home-tos_faq #contents ul li
        { border-bottom: 1px solid #ddd; list-style-type: upper-roman }