/*GLOBAL FORM RULES */

form    { clear:right; }
fieldset, form dl 
        { background:#ddd; border:2px solid #f3efec; margin:0.643em; padding:0.643em;
          box-shadow:inset 1px 0 5px #999; }
fieldset dl 
        { background:transparent; border:none; clear:right;
          box-shadow:none; }
fieldset fieldset 
        { background:#f8f1fe; }
legend  { height:0; width:0; font-size:0; opacity:0; }
input   { font-size:100%; }
input[type="radio"] + label
        { padding-left: 1em }
input[type="text"], input[type="password"], textarea, input.text 
        { width:100%; border:1px solid #ccc; 
          box-shadow: inset 0px 1px 2px #ccc }
textarea 
        { min-height:12em;}
form select 
        { vertical-align:text-top; width:100% }
form p input, form p select 
        { width:auto; }
form .datetime select 
        { width:32.5%; }
form p.submit, input.submit, dd.submit 
        { text-align:right;}
form .submit input, input[type="submit"],button 
        { background:#eee; color:#444;border: 1px solid #bbb; border-bottom:1px solid #aaa; display: inline-block; padding: 0.25em 0.75em; white-space: nowrap; overflow: visible; position: relative; cursor: pointer; text-decoration: none;
          background:-moz-linear-gradient(#fff 2%,#ddd 95%, #bbb 100%); 
          border-radius:0.375em; zoom: 1; }
form p  { clear:both; margin:auto; padding:0.643em }
form dt { float:left; clear:left; min-width:12em; width:25%; margin: 0; padding:0.25em 0.5625em 0.25em 0; border-bottom:1px solid #f3efec; }
form dd { float: left; width:72.5%; overflow:hidden; padding-top:0;}
form code 
        { display:block;}

/* CUSTOM ELEMENT: CHARACTER COUNTER */
p.character_counter 
        { font-size:smaller; text-align:right ;}
.character_counter span 
        { display:inline-block; width: 3.75em;}

/*CUSTOM ELEMENT: LIVE VALIDATION*/
.LV_validation_message 
        { font-weight:bold; }
.LV_valid 
        { color:#0c0;}
.LV_invalid 
        {color:#c00;}
.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active 
        { border: 1px solid #c00; }
        
/* CUSTOM ELEMENT: AUTO COMPLETE */
.autocomplete ul 
        {	background: #fff; border: 1px solid #eee; padding: 0.125em; line-height: 1.286;
	        background: rgba(255,255,255,0.9); box-shadow: 1px 3px 5px rgba(0,0,0,0.5) }
.autocomplete ul li 
        { padding: 0.125em;	margin: 0.25em auto auto; }
.autocomplete input
        { display: block;	margin: 0.25em 0 0;}
.autocomplete ul li:hover, li.selected 
        { background: url(/images/header-red.png) top left #900; color: #fff; }
.required .autocomplete
        { color:#222; }
.autocomplete .notice
        { font-size:0.875em; }
.autocomplete li.added
        { display: inline-block; white-space: nowrap; }

/* CUSTOM ELEMENT: SORTABLE LIST */
.ui-sortable li 
        { border: 2px solid transparent; box-shadow:1px 1px 3px transparent}
.ui-sortable li:hover 
        { background: #ddd; border: 2px solid #999; cursor: move; 
          box-shadow:1px 1px 3px #bbb }

/* CUSTOM ELEMENT: DYNAMIC BOOKMARK (note: dynamic/overlay form generally) */
#dynamic-bookmark fieldset, #dynamic-bookmark dl
        { border:none; background:transparent; margin:0; padding:0; 
          box-shadow:none; }
#dynamic-bookmark 
        { background:#ddd; border:2px solid #f3efec; max-width:15em; padding:0.5em; z-index:500;
          box-shadow:1px 2px 5px; }

/* SEARCH */
.search input[type="text"] 
        { width:60%; }

/* CONTEXT: SIDEBAR */
form.filters 
        { width:22.5%; float:right; }
.sidebar fieldset 
        { clear:right;}
.sidebar .filters dt 
        { width:auto;}

/*INTERACTION: LOGIN SIGNUP*/


/* MODE: VERBOSE */
dd.hideme {box-shadow:inset 1px 0px 2px #999; border:2px solid #f3efec;padding:0.5em; margin:auto;}

/* INTERACTION: ENTERING LONG COPY
INTERACTION: TAGGING
INTERACTION: SETTING PREFERENCES
INTERACTION: MANAGING ASSETS 
INTERACTION: MAKING ASSOCIATIONS 
MODE: SIMPLE 
.simple input[type="text"] {font-size:2em;}
form.simple h3 {width:10%; float:left; clear:left; text-transform:lowercase; opacity:0.75; }
form.simple p {width:85%; float:left; clear:none}
 */






