/*==ZONE: TAGS and TAG WRANGLING 
tag wrangling is a type of Home Zone
tags shown in many contexts across the site are set in 10-types-groups.css*/

/* TAGS INDEX */
.tags-index li
        { padding: 0.25em 0.5625em }
/*TAGS SHOW */
.tags-show ul.tags
        { margin: .5em 1em; }
.tags-show ul.tree 
        { display: block; }
.tags-show ul.tree li
        { display: block; list-style-type:disc; }
.tag_wranglers-index #tag_wranglers 
        { width:75%; float:left;}