/* ==SYSTEM MESSAGES 
System messages use the following colours:
* notice => blue: success,messages,additional information, no action needed, can proceed
* caution => yellow: user may wish to change their mind, action optional, can proceed
* error => red: mistake, go back and fix this problem, action needed before you can proceed
*/

.important 
        { font-weight:900; }
.required, .error 
        { color:#900; }
.footnote 
        { font-size: 0.75em; float:right}
.datetime 
        { font-family:monospace; }

.flash  { margin:0.643em auto; padding:0.25em 0.375em;
          border-radius:5em; }
.notice, .comment_notice, ul.notes, .caution, .error, .comment_error
        { background:#d1e1ef; border:1px solid #c2d2df; padding:0.25em 0.375em; clear:right;
           box-shadow:inset 1px 1px 2px; }
.caution{ background:#ffe34e; border-color:#d89e36;}
.error,.comment_error
        { background:#efd1d1; border-color: #900;}

.notes  { clear:right;}
form .notice, form ul.notes
        { box-shadow:0px 0 3px #fff;}
ul.notes, .error ul	 
        { position:static; margin:auto 2.5em; padding:1em 2.5em  }
ul.notes li,.error ul li
        { list-style-type:disc; padding-left:1.5em }
span.error 
        { border:0;}

/* SYMBOLS (help button, arguably an action but hey ho); this block has an unexpected effect on blurb that needs detangling before restyle*/
span.symbol 
        { color:#2a547c; font-family:Georgia,serif; height:1em; width:1em; margin:0 0.25em; border:1px solid; vertical-align: super;
          border-radius:0.75em; }
span.symbol span 
        { height:1em; width:1em; padding:0.425em; }
#main .symbols a, #main .symbol a 
        { text-decoration:none; border:none }
span.question 
        { background:#d1e1ef; border-color: #2a547c;
          box-shadow:-1px -1px 2px rgba(0,0,0,0.25); }
a.question
        { border:0; font-weight: bold;}


/*SYMBOLS KEY (help content) */
dl#symbols-key, dl#bookmark-symbols-key 
        { background: #f4effc }
dl#symbols-key dt 
        { width: 100px }
dl#symbols-key h3 
        { margin: 0 }
dl#symbols-key dd 
        { margin: -55px auto auto 100px }
#symbols-key dl 
        { border: 1px solid #ddd; margin-bottom: 1.2525em; padding: 0.15em }
#symbols-key dl dt img, #bookmark-symbols-key dt img 
       { height: 25px; width: 25px }
#symbols-key dl dt, #bookmark-symbols-key dt 
        { width: 25px }
#symbols-key dl dd, #bookmark-symbols-key dd 
        { margin: -1.2525em auto auto 35px }




