/* anything in here should override other styles for admin users */

#header .landmark {
  color: #066 !important;
}
#header {
  background: #066 top left no-repeat;
}

#login-block {
  background: #066;
}

.home #login-block {
  background: transparent;
}

/*  this breaks under safari
    and is the cause of a bunch of
    GET /stylesheets/%E2%80%A0 errors in the log files
.login-admin:after {
  content: url( "\2020" );
}
*/

#admin-options a {
  color: #900;
}

#admin_users_table th a:visited {
  color: #ddd;
}

#admin_users_table th a:hover {
  color: #066;
}

/* TABLES AND LISTS */
table, thead td {
  background: #E0EFE9
}


