a.tag {
speak: no-punctuation
}
em {
voice-stress: moderate;
}
strong, .warning {
voice-stress: strong;
}
cite {
voice-rate: 95%;
}
acronym {
speak: spell-out;
}
abbr {
content: attr(title);
}
code, kbd, tt {
voice-rate: 95%;
}

#work {
speak-numeral: continuous;
}

.meta {
voice-rate: 110%;
}

.blurb {
voice-rate: 105%;
}

#work h1, #work h2.title {
voice-rate: 90%;
pause: 5ms 10ms;
}

.chapter {
  pause: 10ms 10ms;
}

#work dt {
voice-balance: leftwards;
}
#work dd {
voice-balance: rightwards;
}

.navigation {
voice-stress: moderate;
speak: no-punctuation;
}

/*SAY-INSTEAD DRAFTS

[recs] say-instead: "wrecks";
acronym[ToS] say-instead: "toss";
[TOSd] say*/



