/* All CSS for the site as a whole is stored in the site-specific stylesheet.  This stylesheet contains only the styles needed to place and style elements on the login/create account pages. */

/* Merging styles, site-specific */
	/* Subheading style for login page, "A project of..." */
.authentication-subheading {
	margin-top: -20px;
	font-size: 90%;
}

/* Page-specific styles, site-independent */
	/* Login page */
.authentication-loginheading {
	margin-bottom: -10px;
}	
#authentication-logo { width: 50%;
}
#authentication-loginform { width: 50%;
	float:right;
}
	/* Create account page */
	/* Account confirm page */
/* Style for "Return to home page" link; adds visual space between link and preceding elements */
.authentication-return { margin-top: 60px;
}

	/* Universal styles */
/* Afterthought-type content, such as "New tester? Create an account" */
.authentication-footnote { border-top: 1px #000 solid;
	margin: 15px 0px 15px 0px;
	padding: 15px 0px;
}
.authentication-wideleftmargin {
	margin-left: 500px;
}
.authentication-widebottommargin {
	margin-bottom: 50px;
}
	/* Form-related styles */
.authentication-checkbox { margin: 0px 10px 0px 0px;
}
.authentication-checkboxfield { margin: 10px 0px 15px 0px;
}
.authentication-label { margin: 10px 0px 10px 0px;
}
.authentication-largebutton {
	font-size: 115%;
	margin-top: 15px;
	margin-right: 10px;
}
.authentication-selectfield { margin: 10px 0px 15px 0px;
}
.authentication-textareafield { text-align: left;
	margin: 10px 0px 0px 0px;
}
.authentication-textfield { width: 250px;
	text-align: left;
	margin: 10px 0px 15px 0px;
}
.openid-url {
   background: url(/images/openid.png) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   padding-left: 18px;
   width: 250px;
   text-align: left;
   margin: 10px 0px 15px 0px;
}

