/* All CSS for the site as a whole is stored in the site-specific stylesheet.  This stylesheet contains only the styles needed to place and style elements on the login/create account pages. */


/* Page-specific styles, site-independent */
	/* Login page */
.authentication-loginheading {
	margin-bottom: -10px;
}	
#authentication-logo { width: 50%;
  display: inline; /* Needed for IE */
}
#authentication-loginform { width: 50%;
	float:right;
}
	/* Create account page */
	/* Account confirm page */
/* Style for "Return to home page" link; adds visual space between link and preceding elements */
.authentication-return { margin-top: 60px;
}

	/* Universal styles */
/* Afterthought-type content, such as "New tester? Create an account" */
.authentication-footnote { border-top: 1px #000 solid;
	margin: 15px 0px 15px 0px;
	padding: 15px 0px;
}
.authentication-wideleftmargin {
	margin-left: 500px;
}
.authentication-widebottommargin {
	margin-bottom: 50px;
}
.authentication-small {
	margin-top: -20px;
	font-size: 90%;
}

	/* Form-related styles */
.authentication-checkbox { margin: 0px 10px 0px 0px;
}
.authentication-checkboxfield { margin: 10px 0px 10px 0px;
  vertical-align: middle;
}
.authentication-label { margin: 10px 0px 10px 0px;
}
.authentication-largebutton {
	font-size: 115%;
	margin-top: 15px;
	margin-right: 10px;
}
.authentication-selectfield { margin: 10px 0px 15px 0px;
}
.authentication-textareafield { text-align: left;
	margin: 10px 0px 0px 0px;
}
.authentication-textfield { width: 250px;
	text-align: left;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
}
.authentication-submitbutton {
	margin-left: 76px;
	vertical-align: middle;
}
.authentication-openidlogo {
	margin-left: -20px;
	vertical-align: middle;
}
