.autocomplete ul, ul.ui-autocomplete {	
	background: #fff;
	background: rgba(255,255,255,0.9);
	border: 1px solid #eee;
	padding: 0.125em; 
	line-height: 1.286;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.5)
	}
.autocomplete input, .autocomplete ul li, .ui-autocomplete ul li {
	width:95%;
	display: block;
	padding: 0.125em;
	margin: 0.25em auto auto;
	}
.autocomplete ul li:hover, li.selected, .ui-autocomplete ul li a:hover {
	background: url(/images/header-red.png) top left #900; 
	color: #fff;
	}
.required .autocomplete .added, .autocomplete .added,.autocomplete span.delete {
	background:#eee;
	color:#222; 
	padding:0.15em;
	margin-right: 1em;
	opacity:0.9;
	box-shadow:1px 1px 2px rgba(0,0,0,0.5);
	}
.autocomplete span.delete {
	color:#900; 
	font-weight:900;
	-moz-border-radius:0.875em;
	border-radius:0.875em;
}
.autocomplete .notice {
	font-size:0.875em;
	}


