#click_to_globalize {
  position: absolute;
  top: 0; right: 0;
  padding: 0;
  padding-right: 10px;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 78%;
  background-color: #DDD;
}

#click_to_globalize a:link, #click_to_globalize a:visited {
  color: #333;
  text-decoration: none;
}

#click_to_globalize a:hover, #click_to_globalize a:active {
  background-color: #333;
  color: #fff;
}

#click_to_globalize ul {
  color: #666;
  margin: auto;
  margin-left: -30px;
  list-style-type: none;
}

#click_to_globalize ul li {
  display: inline;
}

.inplaceeditor-form input[type=text],
.inplaceeditor-form textarea {
  border: 1px solid #999;
}

.inplaceeditor-form a:link, .inplaceeditor-form a:visited, .inplaceeditor-form a:hover, .inplaceeditor-form a:active {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 78%;
}