#feedback .navigation, .comment .navigation {text-align:right;}

div.comment {
    position: relative;
}

.comment img.icon {
    height: 100px;
    width: 100px;
    float: left;
    margin: 0 0.5625em 0.5625em 0;
}

h4.datestamp {
    font-size: 0.75em;
    text-align: right;
	clear: left;
}

.comment ul {
    margin-top: -1.5em;
}

.comment ul li {
    display: inline;
}

.thread .thread {
    margin-left: 3em;
}

.thread .even {
    background: #eee;
}