/*TEMP BODGE LIM 16/09/11*/

/*==ACTIONS: buttons! temp
subtypes:
.submit, .cancel, .close, .delete, .pagination, .current
input[type="submit"], button, label.action*/

.actions * 
        { display:inline; text-transform:lowercase;}
ul.actions, p.actions, li.actions, span.actions, fieldset.actions, dd.actions
        { padding:0.429em 0.25em 0.25em 0; float:right;  text-align:center; }
.actions a, .action, .actions input, input[type="submit"], button,  a.toggle
        { background:#eee; color:#444; width:auto; font-size:100%; height:1.286em; line-height:1.286; vertical-align:middle; display:inline-block; padding: 0.25em 0.75em; white-space: nowrap; overflow: visible; position: relative; cursor: pointer; text-decoration: none; border: 1px solid #bbb; border-bottom:1px solid #aaa; 
          background:-moz-linear-gradient(#fff 2%,#e9e2dd 95%, #bbb 100%);
          background:-webkit-linear-gradient(#fff 2%,#e9e2dd 95%, #bbb 100%);
          background:-o-linear-gradient(#fff 2%,#e9e2dd 95%, #bbb 100%);
          background:-ms-linear-gradient(#fff 2%,#e9e2dd 95%, #bbb 100%);
          background:linear-gradient(#fff 2%,#e9e2dd 95%, #bbb 100%);
          border-radius:0.25em; box-shadow:none; }
input[type="submit"] 
        { height:1.929em; }
p.submit, input.submit, dd.submit 
        { text-align:right; }
.actions input.text,.actions input[type="text"]
        { cursor: text; }
/*subtypes and modes */

.actions a:visited
        { color: #111; }
.actions a:hover, .actions input:hover, a.toggle:hover, .action:hover, .submit input:hover
        { color:#900; border-top:1px solid #999; border-left:1px solid #999; 
          box-shadow:inset 2px 2px 2px #bbb  }
.actions a:active
        { color:#111; background:#ccc; outline:none; border-color:#fff;
          box-shadow:inset 1px 1px 3px #333;}
.delete a, span.delete
        { color:#900; font-weight:900; margin-right:0.375em; padding:0 0.1em 0.15em;
          box-shadow:-1px -1px 2px rgba(0,0,0,0.75); border-radius:0.875em; }
.secondary    
        { background: #fffef9; position: absolute; z-index: 99; border:2px solid #bbb; margin: auto; padding:0.375em;overflow:hidden; right:2.5em; 
          box-shadow:2px 2px 5px #bbb; border-radius:0.15em }
/* CONTEXTS */
form dd .actions,dl.stats + h6 + .actions
        { float: left;}
dl.stats + h6 + .actions, li.news .actions 
        { margin:-2em auto 0; }
.actions .secondary .submit
        { float:none;}
.chapter .secondary
        { top:2.5em;}
.dashboard .landmark 
        { clear:right; }
        
/*==INTERACTIONS: global form rules TEMP*/

form    { clear:right; }

fieldset, form dl, fieldset dl dl, fieldset fieldset fieldset, fieldset fieldset dl dl, dd.hideme 
        { background:#e9e2dd; border:2px solid #f3efec; margin:0.643em; padding:0.643em; overflow:hidden;
          box-shadow:inset 1px 0 5px #999; }
fieldset dl, fieldset.navigation, fieldset dl fieldset dl
        { background:transparent; border:none; clear:right;
          box-shadow:none; }
fieldset fieldset, fieldset dl dl 
        { background:#fffef9; clear:right;}
fieldset dd dl, form .meta dd, fieldset dl fieldset dl, dd fieldset
        { margin: 0.643em 0;}
/*end nesting */

legend, input[type="hidden"]
        { height:0; width:0; font-size:0; opacity:0; padding:0; margin:0}
label   { cursor: pointer; margin-right:0.375em}
dd label{ white-space: nowrap;}
input,textarea   
        { font-size:100%; width:100%; border:1px solid #bbb; background:#fff; 
          box-shadow: inset 0px 1px 2px #ccc; }
textarea 
        { min-height:12em;}
input:focus, select:focus, textarea:focus
        { background:#f3efec; }
input[type="radio"] + label, input[type="checkbox"] + label
        { padding-left: 1em }
select  { vertical-align:text-top; width:100% }
.datetime select 
        { width:32.5%; }
input[type="radio"], input[type="checkbox"], input[type="file"], p input, p select, h4 select 
        { width:auto; margin-right:0.375em}
input.number
        { width: 4em; margin-right:0.375em}
option, .navigation option, form code  
        { display:block; }
form p  { clear:right; margin:auto; padding:0.643em; }
form dt, form .meta dt 
        { float:left; clear:left; min-width:10.5em; width:25%; padding:0.25em 0.5625em 0 0; border-bottom:1px solid #f3efec; }
form dd, form .meta dd
        { float: left; width:72.5%;}
form dt .warning 
        { background:transparent; border:0}

/* CUSTOM ELEMENT: CHARACTER COUNTER */
p.character_counter 
        { font-size:smaller; text-align:right;}
.character_counter span 
        { display:inline-block; width: 3.75em;}
.comment .character_counter 
        { float:left}

/*CUSTOM ELEMENT: LIVE VALIDATION*/
.LV_validation_message 
        { font-weight:bold; }
.LV_valid 
        { color:#0c0;}
.LV_invalid 
        {color:#c00;}
.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active 
        { border: 1px solid #c00; }
        
/* CUSTOM ELEMENT: AUTO COMPLETE */
/* FRONT END: this currently duplicates auto_complete.css, which is winning? Also is there a way we could make the drop-down list a scrolling list if it is long? 
duplication doesn't matter for now - auto_complete.css is gone in my webdev. max-height added (but won't work in ie6)*/
.autocomplete div.dropdown ul 
        {	background: #fff; border: 1px solid #eee; padding: 0.125em; line-height: 1.286; color:#000;
	        background: rgba(255,255,255,0.9); box-shadow: 1px 3px 5px rgba(0,0,0,0.5) }
.autocomplete ul li 
        { padding: 0.125em;	margin: 0.25em auto auto; }
.autocomplete input
        { display: block;	margin: 0.25em 0 0;}
.autocomplete ul li:hover, li.selected 
        { background: url(/images/header-red.png) top left #900; color: #fff; }
.required .autocomplete
        { color:#222; }
.autocomplete .notice
        { font-size:0.875em; margin-top:0 !important}
.autocomplete li.added, .post .meta dd ul li.added
        { display: inline-block; white-space: nowrap; }

/* CUSTOM ELEMENT: SORTABLE LIST (note: hope to merge with .sortable and .draggable etc)*/
.ui-sortable li 
        { border: 2px solid transparent; box-shadow:1px 1px 3px transparent}
.ui-sortable li:hover 
        { background: #ddd; border: 2px solid #999; cursor: move; 
          box-shadow:1px 1px 3px #bbb }

/* CUSTOM ELEMENT: TOGGLED FORMS (bookmark and collection - hidden with jS) */
.toggled form dd 
        { width:99%;}
.toggled form p.footnote
        { float:none; margin:auto; padding:0; line-height:0.5;}
.toggled form
        {  padding:0.5em; border:1px solid #ccc;
          box-shadow:1px 2px 5px; }
.toggled form fieldset, .toggled form dl, .secondary .toggled form
        { border:none; background:transparent; margin:0; padding:0; 
          box-shadow:none; }

/*CUSTOM ELEMENT: IF MANY SHOW MORE
should probably generalise this to all height-based show more toggles*/
div.many{ overflow: auto; max-height:10em; border:1px solid #ddd;}
form .module p.actions 
        { background:#f3efec; border:1px solid #ddd; float:none; text-align:left; margin:0 !important }
div.all { height: auto;}
form div.lots ul li, form div.all ul li 
        { display:block;}

/* INTERACTION: SEARCH */
.search p, li.search form p
        { position:relative;}
.search span.tip 
        { background:#ddd;  border:1px solid #fff; padding:0.15em; position:absolute; left:-999em; font-size:0.75em}
.search:hover .tip
        { left:1em; top:3.5em; }
li.search:hover .tip 
        { left:0; top:2.5em;}
.search .tags dd.submit 
        { margin:-3em 0.643em 0;}
/* INTERACTION: FILTER */
form.filters 
        { width:22.5%; float:right; }
.filters .tags
        { display:block;}
form.filters dl 
        { margin-top:0.375em;  padding-top:0 }
.filters dd 
       { width:100%; }

/*INTERACTION: LOGIN SIGNUP*/
/*INTERACTION: POST (work, chapter, comment, news, feedback, challenge etc) */
.post .required .warnings
        { font-weight:normal; color:#2a2a2a;}
.post .text textarea
        { height: 36em; clear:right}
/* MODE: VERBOSE
forms with more than three fieldsets 
(01/09/11 all forms show nearly all options at the moment, some nested fieldsets hidden with .hideme
but I suggest simple and verbose views, 
with simple as default and verbose as child of simple, especially for 
.post (work, bookmark, challenge etc)*/
.verbose .landmark
        { height:auto; width:auto; min-width:10.5em; width:25%; font-size:100%; opacity:1; color:#111; line-height:1 }
.verbose legend
        { height:auto; width:auto; font-size:100%; opacity:1; background:#fffef9;border:2px solid #ddd; padding:0.5em; 
           box-shadow:1px 2px 3px #999}
/* MODE: SIMPLE, 3 or fewer
experimental, developing here, (may combine with .toggled rules)*/
.simple .search, .simple.search 
        { display:table; margin:auto}
.simple span.actions 
        { float:none;}

/* CONTEXT: dashboard*/
.dashboard fieldset 
         { clear:right; }
.dashboard .filters dt 
         { width:auto;}

/*TEMP OVERRIDES */
#header h1 a, #header fieldset, #header form, #header p
        { background:transparent;border:0; padding:0; margin: 0;
          box-shadow:none; }
.dashboard .meta .clear
        { clear:none; clear:right;}
.work-form .meta dd ul li 
        { display: block; }
#main .work-form .meta dd {margin-left:22.5%;}
#main .work-form .preface { margin:0.643em; border-bottom:0 }
#main .navigation input[type="text"] {background:#fff;}
.current {border-radius:0;}
#main form .datetime {position:static;}
.autocomplete .dropdown {max-height:22.5em; overflow:auto;}
.autocomplete .dropdown li {display:block !important;}


/* Added for timepicker currently used on gift exchange */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }



          
 /*TAGSET TEMP */         
form.tagset dd.info {border:2px solid #f3efec; box-shadow:inset 1px 0px 2px #999; padding:0.375em; clear:left;}
fieldset.tagset ul li, .tagset .mods li {display:inline;}

/* challenge signup forms (see prompt_form partial esp) */
.tag_set_nominations-index li.odd {display: block; background:#fffef9}
.tagset h3, .tagset ul.options {clear:right;}
ul.tagset,.tagset ul.options  {border:1px solid #ddd; clear:both; padding:0.15em;}
#main form .tagset .navigation {float:left;}





/*TEMP LEGACIES */
/*COMMENT */
p.comment_form.instructions, dd.comment_form.instructions {font-size: 0.8575em;}
.comment_form dd.module {width:70%; margin-top:-0}
textarea.comment_form {width:99%; height:12em;}
#feedback li dl{ font-size:1.142857em; } 
.comment_form {clear:right; margin-top:1.5em;}   

/*TAG WRANGLINGS*/
form#wrangle-select-fandom p, form#wrangle-select-media p{ display:inline; margin-right:0.5625em;}
.tag_wranglings-index form fieldset {border:1px solid #bbb; padding:0.5em}

/* TAGS */
#edit-tag input[readonly] { background:#ededde; border:1px solid #dfdffd;}

/* BOOKMARKING */
#dynamic-bookmark { position: absolute;  z-index: 50; background:#fffef9;}
#dynamic-bookmark #bookmark-form { border: 2px solid; height: 100%; width: 36em; padding: 1em; overflow:auto;}
#dynamic-bookmark p#close-popup {top:0; right:2em; position:absolute; z-index:60;}
#bookmark-form h4 {margin:auto;}
#bookmark-form dd { margin-top: 0; padding:0.25em 0.5625em 0.25em 0;}
#bookmark-form fieldset { background:#fffef9; font-size:0.875em; margin: 0.5625em 0; padding:0.375em 1.5em; border:1px solid #bbb; clear:both; width:inherit}
#bookmark-form p.character_counter {display:block; text-align:right}
#bookmark-form p label {padding-right: 2em;}
#bookmark-form input#tag_string, #bookmark-form textarea {width:99%;}
#bookmark-form fieldset input {width:28em;}

#dynamic-collection_item 		{ background: #fffef9; border: 2px solid; bottom: 2em; height: 8em; padding: 1em 2em; position:absolute; z-index: 42 }

#reply-to-comment                   { position: absolute; background: #fffef9; border: 2px solid; z-index: 42; width: 65%; padding: 1em;}
#reply-to-comment #comment_form dd.module   
                                    { width: 100%; }
#reply-to-comment #new_comment      { margin-top: 0; }                                    
#reply-to-comment p#close-popup     { top:0; right:2em; position:absolute; z-index:60;}




  

 






