/* GLOBAL */
legend	{ margin-left:-999em; position:absolute; }
form p.submit { text-align:right; }
form p { line-height:2; clear:both;}
form dl { position:relative; }
form dt { float:left; clear:left; width:12em; margin: 0; padding:0.25em 0.5625em 0.25em 0}
form dd { float: left; }


/* SIGN IN BOX */
#signin		{ float:right;width:16.25em; }
#signin dl	{ float:left; }
#signin dt	{ font-size:0.625em; width:4.875em; margin:0.25em 0 0.125em; padding:0.25em 0 0 .125em;}
#signin p.footnote	{ font-size:0.5625em; float:left; clear:left; margin:0 0.5625em 0 4.875em; padding:0.125em 0 0 .125em;}
#signin input#remember_me	{ margin:0.125em 0.125em 0.125em 0; vertical-align:middle; }
#signin p.submit	{ width:5em; float:right; margin:-3.5em 0 0 0; font-size:0.625em; }
#signin img.openid	{ vertical-align:top; }
#signin dd { position:relative; }
#signin dd a img { position:absolute; right:-0.875em; top:0 }

/* sign in box when present in #header #login-block */
#login-block #signin { width:121%; }
#login-block #signin { font-family:Candara,Corbel,Arial,Tahoma,sans-serif; }
#login-block #signin a img { right:-1.75em;}
#login-block #signin p.submit	{ text-align:left; width:7.5em; margin:-3.5em 0 0 0; }

/* SEARCH */
#search p { font-size: 0.75em; float: left; clear: both; padding: 0; margin: 0; }
/*ADMIN */
admin_session-new dt { width:6em; }
/*REPORT ABUSE */
#main.abuse_reports-new dt { width:100%; float:none; }

/*SESSIONS (front front pages - login, create, etc)*/
.session img#openid	{ margin-left:-20px; vertical-align:middle; }
.session form	{ margin-bottom:1.5em; padding-bottom:1.5em; border-bottom:1px solid; }
.session input#login	{ float:none; }
.session input#login, .session input#password, .session input#openid_url	{ width:24em; }
.session form input.submit	{ font-size:1.125em; margin:0 0 0 9em; }

form .footnote	{ font-size:0.75em; }
form p.openid	{ margin-top:6em; }

#main.users-new form dt {width:100%; float:none;}

/* POST WORK */
/*story-meta  and story-show rules in story-views.css */
#story-form legend {position:static; margin:0; padding:0.375em; background:#fffef9; border:1px solid #bbb;}
#story-form input, #story-form select, #story-form textarea {width:99%; margin:auto}
#story-form fieldset { background:#fffef9; font-size:0.875em; margin: 0.5625em 0; padding:0.375em 1.5em; border:1px solid #bbb; }
#story-form fieldset fieldset { line-height:1.5; margin: 0 auto 0.5625em auto; }

#story-form #chapter-ordering input.number-field { width:5em! important;}
#story-form fieldset.story-meta {background:#ddd; }
#story-form .story-meta dt{ float:left; clear:left; width:9em; margin: 0; padding:0.25em 0.5625em 0.25em 0}
#story-form .story-meta dd{ float: left; margin:0; padding:0; width:60%}

#story-preface textarea {height:10em;}
#story-form #story-preface dt {float:none;}
#story-form #story-preface dd { margin-bottom:0.5625em;float:none;}

dd.story-title input, input#chapter_title { width:80%; }
#story-form #story-preface { border:0; }

fieldset#associations { font-size:0.875em;}
dt.story-parent, dd.story-parent {float:none; width:99%; margin:auto}
dd#co-authors { margin:0 auto 0.875em auto; padding:0.375em; border:1px solid #bbb;}
input#work_parent_url {margin:0.375em auto 0.875em auto;}
dd#seriesmanage {clear:both; float:none;}
#seriesmanage dt, dt.story-restricted, dt.story-is_wip, dt.story-is_serial	{ width: 50%;}
#seriesmanage dd, dd.story-restricted, dd.story-is_wip, dd.story-is_serial	{ clear:right; margin:0; }
p.rtf-html-switch {margin:0; padding:0 0.875em 0; text-align:right; }
.rtf-html-switch span {background:#f0f0ee; padding:0.5625em 0.5625em 0 0.5625em; border:1px solid #ddd;}
#story-form textarea#content { height:31.25em;  margin:-0.625em auto auto;}

#story-form p.submit input { font-size:1em; width: 4.75em; text-align:center}

/*EDIT CHAPTERS */ 
#main.chapters-edit dt {width:100%;float:none;}
#main.chapters-new #story-form p input {width:auto}
#main.chapters-new.chapter_title input { width:80%; }
#main.chapters-new dt, #main.chapters-new dd {clear:both; width:100%;}
#main.chapters-new dd textarea {width:99%;margin:auto;}

/*EDIT PREFERENCES */
form.edit_preference ul { margin:0.5625em auto; padding:1.5em 0; }
.edit_preference li { margin:0.5625em 0;}

/*EDIT PROFILE*/
#main.users-edit form { position:absolute; }
#main.users-edit dt	{ width:12em; }
#main.users-edit textarea#profile_attributes_about_me { height:12em; }
#main.users-edit hr.clear {margin-top:39em;}
#main.users-edit #link_to_openid, #main.users-edit #link_to_passwd {clear:both; margin:0 0.25em 0.5625em 11.125em; font-size:1.125em;}

/* NEW PSEUD */
form#new_pseud {position:absolute;}

/*WORKS-INDEX -filters*/
form.story-filters	{ background:#ddd; font-size:0.875em; width:12.25em; float:right;  padding:0.75em 0.5625em;}
.story-filters dt	{ font-weight: 600; text-transform: capitalize; margin:0.5625em auto 0; padding:0; border-bottom:1px solid #fffef9; }
.story-filters dd {padding:0;}
.story-filters dt:hover	{ color:#fffef9; background:#777; } 
.story-filters span {font-size: 0.75em; font-weight: 500;}
.story-filters p.submit {font-size:0.75em;}

/*COMMENTS */
#comment_form_div dt	{ width:6em; }
textarea#comment_content	{ width:32em !important; height:11em !important}
#comment_form_div p.submit		{ width:32em}

/* GLOBALIZE (in footer) you can find this in globalize.css*/