#globalize {
  font-size: 78%;
  margin: auto;
  position: absolute;
  left: 30px;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

#globalize a:link, #globalize a:visited {
  text-decoration: none;
}

#globalize a:hover, #globalize a:active {
  background-color: #333;
  color: #fff;
}

#globalize ul {
  color: #666;
  list-style-type: none;
  margin-left: -30px;
}

#globalize ul li {
  display: inline;
  margin: 3px;
}

#globalize form {
  display: inline;
}

#globalize select {
  border:1px solid #999;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  /* font-family:"lucida grande",tahoma,verdana,arial,sans-serif;*/
  font-size:11px;
  padding:2px;
  background-color: #fff;
  color: #000;
}

.inplaceeditor-form {
}

.inplaceeditor-form input[type=text],
.inplaceeditor-form textarea {
  border: 1px solid #999;
  width: 300px;
}

.inplaceeditor-form a:link, .inplaceeditor-form a:visited, .inplaceeditor-form a:hover, .inplaceeditor-form a:active {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 78%;
}