#main.home .wrapper {
    width: 29%;
    float: left;
    margin: 2% 2% 2.5em 2%;
}

#main.home .wrapper h3, #main.home h4 {
    color: #900;
    font: oblique 100 1.25em "Gill Sans", Fertigo, Georgia, serif;
    text-align: center;
    margin: 0
}

#main.home h4 {
    color: #222;
    border-bottom: 1px solid;
}

#main.home .wrapper h4 a {
    color: #222;
    font: 100 2.25em "Gill Sans", Fertigo, Georgia, serif;
    text-decoration: none;
    text-transform: lowercase;
}

#main.home h5 {
    text-align: right;
    font: 100 2.25em "Gill Sans", Fertigo, Georgia, serif;
}

h5#signup {
    clear: left;
    margin: 2.25em auto 0;
    color: #fff;
    text-align: center;
    width: 9em;
    border: 3px groove #333;
    background: url(header-red.png) bottom right repeat-x #900;
    padding: 0.625em
}

h5#signup a {
    color: #fff;
    text-decoration: none
}

blockquote#quotebox {
    margin: 2.5em auto;
    width: 23.25em;
}

#main.home img {
    clear: left;
    display: block;
    margin: auto;
}

#quotebox p.attribution {
    text-align: right;
}