#main.home {
padding: 0;
}
.home .home-header {position: relative;}
.home h1 {
text-align: center;
margin: 0.75em 0 0.125em 0;
border: 0;
font-size:1.5em;
font-family:Fertigo,Cambria,Constantia,Palatino,Georgia,sans-serif;
font-weight:400;
}
.home h1 a {
text-decoration: none;
}

.home h2 {
font: 100 0.75em "Gill Sans", Georgia, Verdana, sans-serif;
margin: 0.5em 0 0.5em 0;
text-align: center;
}

.home #signin {
text-align: right;
}
.home #greeting, .home #login {width:inherit; text-align: right;}
.home #signin form {
background: url(/images/fff-ccc.png) bottom left repeat-x #fff;
margin: -1.5em -0.25em 1em;
padding: 0.25em;
border: 1px groove #777
}
.home input {
background: url(/images/ccc-fff.png) top left repeat-x #fff;
border: 1px groove #222;
}
.home input:hover {
background: #ddd;
}
.home .greeting {position: absolute; right: 0;}

.home .searchbox {position: absolute; right: 0; top: 3.75em;}
.home .logo  {position: absolute; left: 10px;}

.home ul#main-navigation {left: 30%; width: 60%; border-left: 0;}
.home #main-navigation a {border-bottom: 1px; border-left: 0px; border-right: 0px; padding: 0.15em 1em;}
.home #main-navigation li {margin-bottom: 0;}
.home #main-navigation a {text-decoration: none;}

.home .clear {
border: 0;
border-bottom: 2px solid #777;
clear: both; 
height: 0; 
margin-bottom: 0; 
margin-top: 0;
}

.home .wrapper {
padding: 0 2em 1em 2em;
width: 22%;
margin-right: 3em;
min-width: 9em;
min-height: 7em;
float: left;
}

.home .box {
background: url(/images/box2.jpg) bottom left no-repeat;
padding: 0 2em 2em 2em;
min-height: 11.5em;
margin-top: 1.5em;
margin-bottom: 0;}

.home .bigwrapper {position: static; margin-left: 4em;}

.home .col1 {clear: left;}

.home .lines {
border-width: 1px 0px 1px; 
border-color: #222; 
border-style: solid; 
margin-bottom: 1em; 
margin-top: 0;
text-align: left;}

.home .wrapper h3, .home .wrapper .h3 a, .home #red a, .home #red a:visited  {
color: #900;
font: oblique 100 1.25em "Gill Sans", Georgia,Verdana, sans-serif;
text-align: center;
margin: 0.3em 0 0.3em;
}

.home #red a, .home #red a:visited {
text-decoration: none;
}

.home #red a:hover {
text-decoration: underline;
color: #222;
}

.home .wrapper h4 {
color: #222;
font-weight: 600;
font-size: 2.25em;
font-family: Fertigo,Cambria,Constantia,Palatino,Georgia,sans-serif;
text-decoration: none;
border-bottom: 1px solid #777;
margin-bottom: 0.4em;
text-align: center;
}
.home .wrapper ul {
margin: 1em 0 0 0;
}
.home .wrapper ul span {
font-weight: 900;
font-size: larger;
}

.home h5 {
text-align: right;
font: 100 2.25em "Gill Sans", Georgia,Verdana, sans-serif;
padding: 0 1em
}

h5#signup {
clear: left;
margin: 2.25em auto 0;
color: #fff;
text-align: center;
width: 9em;
border: 3px groove #333;
background: url(/images/header-red.png) bottom right repeat-x #900;
padding: 0.625em
}

h5#signup a {
color: #fff;
text-decoration: none
}

#quotebox {
font: 100 1em/1.5 "Gill Sans", Georgia, Verdana, sans-serif;
margin: auto;
text-align: center
}
#quotebox p.attribution {
text-indent: 3em;
}
#closed-sign img {
clear: left;
display: block;
margin: auto
}
