#home {
padding: 1em 0;
font-family: Helvetica, Arial, Verdana, sans-serif;
}

.home .logo {
position: absolute;
left: 0.75em;
top: -0.5em;
}

.titles {
padding-left: 110px;
margin-bottom: -0.5em;
margin-right: 13.75em;
min-height: 70px;
}
#home-header {
position: relative;
border-bottom: 2px solid #000;
}
#home-header #login-block 
{  
width:17.75em;	
float:right;
}
#home-header  h1 , #home-header h2 {
font-family: Fertigo, Cambria, Candara, Corbel, Geneva, Verdana, Tahoma, Helvetica, Arial, sans-serif;
margin: 0;
}
#home-header h1 {
font-size: 1.5em;
color: #900;
padding-left: 0.75em;
}
#home-header h2 {
font-size: 1em;
padding-left: 1.125em;
padding-top: 0.25em;
}

.home h1, .home h2, .home h3 {
font-family: Helvetica, Arial, Verdana, sans-serif;
}

.home h1 {
margin: 0.75em;
border: 0;
font-size: 1.5em;
font-weight: 400;
}
.home h1 a {
text-decoration: none;
}

.home h2 {
margin: 0.75em;
font-size: 1em;
}

.home #signin form {
background: url(/images/fffef9-ccc.png) bottom left repeat-x #fffef9;
margin: -1.5em -0.25em 1em;
padding: 0.25em;
border: 1px groove #777;
text-align:right;
}
.home #signin #small_login .submit input {
padding:0.06em; 
border:0; 
line-height:1;
font-size: smaller;
}
.home input:hover {
background: #ddd;
}

#home-header ul.navigation {
float: none;
border: 0;
background: 0
}
#home-header .navigation a,#home-header .navigation .current {
background: #000;
border: 1px solid #111;
border-bottom: 0;
color: #fff;
display: block;
float: left;
font-family: FertigoProRegular, Cambria, Candara, Corbel, Geneva, Verdana, Tahoma, Helvetica, Arial, sans-serif;
font-weight: 100;
margin: 0 0.15em;
padding: 0.5625em;
text-decoration: none !important;
}

#home-header .navigation a:hover {
	background:#900 !important;
}
.home h5 {
text-align: right;
padding: 0 1em
}

h5#signup {
clear: left;
margin: 2.25em auto 0;
color: #fff;
text-align: center;
width: 9em;
border: 3px groove #333;
background: url(/images/header-red.png) bottom right repeat-x #900;
padding: 0.625em
}

h5#signup a {
color: #fff;
text-decoration: none
}

.open-beta-box {
float: left;
width: 50%;
margin: 2% 5%;
text-align: center;
background-color: #6a6a6a;
color: #fff;
font-size: 2em;
padding: 1em;
}

.open-beta-box h1 {
font-size: 1.5em;
color: #fff;
}
.open-beta-box a {
color: #fff;
}
.open-beta-box p {
padding: .5em;
}

.sidebar {
float: left;
width: 25%;
margin: 2% 0;
}
.sidebar-box {
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
background-color: #900;
color: #fff;
padding: 1em;
margin-bottom: 1em;
}
.sidebar-box a {
color: #fff;
}
.sidebar-box h3 {
font-size: 1.5em;
padding-bottom: .5em;
border-bottom: 1px solid #fff;
}


