/*ARCHIVE HOME PAGE WIREFRAME DRAFT STYLE */
#main.home {
    margin: 1em 2em;
}

#main.home h1 {
    font-family: "Gill Sans", Georgia, Verdana, sans-serif;
    text-align: left;
    float: left;
    width: 50%;
    margin: 1.25em 0 0.25em;
	border-bottom:0;
}

#main.home h2 {
    font: 100 0.75em "Gill Sans", Georgia, Verdana, sans-serif;
    margin: 0.125em auto 2em;
    clear: left;
}
/* LOGIN BOX
 *could be qualified ( #main.home #signin ) and integrated into forms.css
 */
#main.home #signin {
    float: right;
	border:1px solid;
}

#main.home #signin dl {
    position: relative;
    float: right
}

#main.home #signin dt {
    clear: left;
    float: left;
    width: 6em;
    margin: 0.25em 0 0.125em;
    padding: .25em 0 0 .5em;
}

#main.home #signin dd {
    float: left;
    margin: 0 .25em 0;
    padding: 0;
    display: block;
}

#main.home #signin p.footnote {
    margin: 0 2.25em 0;
    font-size: 0.75em;

}

#main.home #signin p.submit {
    text-align: right;
    clear: both;
    margin: 0;
    float: right
}

#main.home label {
    font-weight: 100;
}

#main.home img#openid {
    vertical-align: middle;
    margin: .25em 0 .25em 0;
    padding: 0;
    border: 0;
}
/* QUOTE BOX */
blockquote#quotebox {
    padding: 0.75em 1em;
    margin: 1em auto;
    clear: both;
    background: #eaeaea;
    font: oblique 100 1.125em Fertigo, Corbel, Calibri, Candara, Geneva, Verdana, Tahoma, Helvetica, Arial, sans-serif;
    border: 1px solid #dee1e3
}

#quotebox p.attribution {
    text-align: right;
}

.home  h3.meter {
    text-align: center;
    font-size: smaller;
    margin: 1.5em auto
}

.home h4 {
    text-align: center;
    margin: 1.5em auto
}
/* BOTTOM THIRD */
.home  .wrapper {
    position: relative;
    margin: 1em 0 5em 0
}

#screencasts {
    width: 33%;
    float: left;
}

.home  .wrapper h5 {
    width: 33%;
    float: right;
    text-align: right;
    font-size: 100%;
}

#screencasts h5 {
	width:100%;
	text-align:left;
	}