/* Put any IE-specific overrides into this file -- it will be loaded last and conditionally, only if the browser is IE. */

/* pathing and inheritance*/
#work-form p.submit { text-align: right; }
#work-form .submit input {background:url(/images/ccc-fff.png) top left repeat-x #fff; border:1px solid #222;}

/*layer stacking*/
.home #search p {text-align: right; z-index: 1;}
.main-navigation li { z-index:0;}

/*explicit widths*/
.home #login {width: auto !important;} 
.home .main-navigation {width: 70% !important; height: 80% !important;} 

/*margin and padding quirks*/ 
#header ul.admin {position:absolute; z-index:50; right:0; margin-top:auto;}

#main .navigation li {margin-right: 0.25em !important;} 

#user-header { margin-bottom:0;}
#user-header .navigation li {margin-right: 0.25em !important;}

/*min-height */
#main .bookmark li.bookmark-heading {height: 25px;}
#main ul.user-info li.byline {height: 25px; }
.titles {height:70px; }
li.heading {height: 50px;}
.media-index li.category {height: 15em; }

/*line-height and baseline */
.heading h3, .heading h4, .heading a {font-weight:bold; line-height:1.5; display:inline-block;}

/*hasLayout */
div#userpage, .user-module, a, form dd, {zoom:1;}

/*float clear quirks */
.collection #login-block #greeting {clear:none !important;}
form dd {float:none;}





