/*LAYOUT ELEMENTS, BRIEFLY COMPRISING: 
* #header: 
*	 h1
* 	#login-block: 
*		 #greeting, #login, #search
* 	#main-navigation
* #dashboard-sidebar: 
* 	ul
* #main [page by page styling of page furniture below.]
* 	.pagination
* #footer [contains globalize menu which is styled in globalize.css ]
*/
/*
THEN PAGE BY PAGE STYLING: SESSIONS - SITE HOME - USER HOME & HOME SUBPAGES - FANDOMS - PEOPLE - GROUPS - RECS - TAGS
*
*/

ul#skiplinks	{ margin-left:-999em; position:absolute; }
ul.navigation, dl.navigation { border-bottom: 1px solid;}
ul.navigation li, .navigation dd { display: inline; padding: 0 0.5em; border-left:1px solid; border-right:1px solid #ddd;}
.navigation dt { display:inline; padding:0 0.5em 0 0; }
.navigation a:active { background:#900; color:#fffef9; }

/* HEADER (MASTHEAD BLOCK) */
#header  {  background: #900 url(../images/header-red.png) top left repeat-x; font-family: Fertigo, Cambria, Candara, Corbel, Geneva, Verdana, Tahoma, Helvetica, Arial, sans-serif; margin: 0 0 2.5em 0; position: relative; }
#header h1 { color: #fffef9; font-size: 1.5em; float: left; margin: 1em 0 -2em 1em; }
#header h1 a, #header h1 a:visited {color:#fffef9;}
#header h1 a:hover { color:#900;}
#header a { font-weight: 600; text-decoration: none; }

#login-block { background: #900 url(../images/header-red.png) top left repeat-x; color: #fffef9; font-size: 0.75em; text-align: left; width: 20em; float: right; clear: both; }
#login-block a:link, #login-block a:visited { color: #fffef9; }
#login-block a:hover {color:#900;}
#login-block ul { padding-right: 0.25em; }

#greeting li { font-weight: 100; }
#greeting.logged-out { margin-top: 1em; }

#login li { display: inline; }

/* MAIN NAVIGATION (TABS) */
ul#main-navigation { position: relative; clear: both; border-left: 1px solid #111; margin: 0 0 0 1em; }
#main-navigation li { background: #fffef9; display: block; float: left; }
#main-navigation a:link { color: #900; font-weight: 400; }
#main-navigation a:hover, #main-navigation a:active { color: #111; font-weight: 100; }
#main-navigation a span:hover { background: #ddd; }
#main-navigation span { font-weight: 100; background: #111; float: left; display: block; color: #fffef9; border: 1px solid #111; border-bottom: 0; padding: 0.5em; }
#main-navigation a span { background: #fffef9; border: 1px solid #111; border-bottom: 0; color: #111; }

#header hr.clear { background: url(../images/headergradient.png) top left repeat-x #fffef9; border-top: 6px solid #111; height: 20px; }
/* END HEADER*/

/*DASHBOARD SIDEBAR */
#dashboard-sidebar { float: left; width: 10em; border: 2px solid; line-height: 2em; margin: 0 1em 3em 1.5em; }
#dashboard-sidebar ul { text-indent: .5em; }
#dashboard-sidebar li { font-weight: 600; font-size: 0.825em; }
#dashboard-sidebar a { display: block; line-height: 2; text-decoration: none; font-weight: normal; }
#dashboard-sidebar a:hover { background: #900; color: #fffef9; }

#main.sidebar { margin: 0.25em 1em 1em 12em; }

/*MAIN CONTENT */
#main { position: relative; margin: 1.5em auto; padding: 0 3.5em; }
#main h1 { text-align: right; }

.pagination { text-align: center; padding: 0.25em; }

/* FOOTER */
#footer { color: #999; font-size: 0.75em; text-align: center; border-top: 1px solid #999; clear: both; padding: 1em; margin: 1.5em 0; }
#footer a:link { border-bottom: 1px dotted; }

/*PAGE BY PAGE STYLING: NEW SESSION HOME HOME SUBPAGES FANDOMS PEOPLE GROUPS RECS TAGS*/

/*SESSIONS (front front pages - login, create, logout(feedbacks)etc)*/
#main.session h1, #main.session h1, #main.passwords-new h1 { text-align: left; border: 0; margin: 0.75em 0 0.125em 0; }
#main.session h1 a, #main.session h1 a, #main.passwords-new h1 a {text-decoration:none;}
#main.session h1 span span {font-size:1em;}
#main.session h2, #main.session h2, #main.passwords-new h2 { font: 100 0.75em "Gill Sans", Georgia, Verdana, sans-serif; margin: 0.25em auto 2em}

.session #logo { width: 49%; float: left; display: block; margin-bottom: 1.5em}
.session #signin { width: 49%; float: left; margin-bottom: 1.5em; }
.feedbacks-new form p.message { clear: both; }

/*HOME PAGE (front page) */
/*currently living in home.css */

/* USER HOME: USERS SHOW*/
#main.users-show ul.story-list { margin: auto; }
.user-module h2 { background: #222; color: #fffef9; border-bottom: 4px double #fffef9; margin: 2.25em auto 0 ; padding: 0.125em; }

#user-header { position: relative; }
#user-header img { margin: 0 0 0.5em 0; top: 0; left: 0; position: absolute; }
#user-header h1 { margin: 0 0 0 100px; /*sized in pixels because the icon it is avoiding has a fixed pixel value*/}
#user-header h1 a {text-decoration:none; text-transform:lowercase}
#user-header ul.navigation { margin: 0.5em 0 0 100px; text-align:right; }
#user-header ul li { display: inline; padding: 0.25em; }

/* USER HOME: PROFILE */
#main.profile-show h3 { background: #222; color: #fffef9; border-bottom: 4px double #fffef9; margin: 2.25em auto 0 ; padding: 0.125em; }
dl#user-data { margin: 1.5em 0;}
dl#user-data dt {width: 9em; font-weight: 900; float:left; clear:left; margin:0.25em 0.8625em 0.25em 0; }
#user-data dd	{ clear:right; margin:0 0 0 9em; padding: 0.25em 0 0.125em 0; border-bottom:1px solid #ddd; }

/* DASHBOARD: READING HISTORY */
#main.readings-index li.story ul { margin: 0.8625em auto  !important;}
#main.readings-index li.story {font-size:smaller;}
#main.readings-index li.story-desc p {font-size:1em;}

/* DASHBOARD: PREFERENCES */
/* preferences form rules are in forms.css */
/*pseuds-index*/
#main.pseuds-index table ul.navigation { border-bottom:0; }

/* WORKS-INDEX */
/*story filters rules are in forms.css */
#main.works-index dl.navigation { border:0;}

/*story listing : shows on works, reading history, series, spoofed on bookmarks and users-show*/
li.story ul { background: #fffef9; position: relative; margin: 0 12.5em 1em auto; border: 1px solid #bbb;padding: 0.25em}
#user-page li.story ul { margin-right: 0; }
li.story ul ul {border:0; margin:0; padding:0; }
li.story ul ul li,li.story dd ul, li.story dd li {display:inline; border:0; margin: 0.375em ; background: #fffef9}
li.story-title-line h3 { font-size: 1.5em; line-height: 0.75; margin: -.25em -.25em .75em -.25em; padding:.25em .125em .125em .25em; background:#ddd}
li.story-title-line p {padding:0; margin:0;}
li.story-title-line img { float: left; vertical-align: middle; }
li.story-byline {margin: -1.125em -.25em 0 -.25em; padding:.25em .125em .125em .25em; background:#bbb; color:#fffef9;}
.story-byline { font-size: 1.125em; font-weight: 400;}
.story-byline a { text-decoration: none}
.story-byline a:visited { color:#fffef9;}
li.story-date { text-align: right; color: #777; font-size: 0.75em; }
li.story-tags { clear: left; font-weight: 600; }
li.story-tags a { font-weight: normal; text-decoration: none; border-bottom: 1px dotted}
li.story-tags dt, li.story-tags dd { display: inline; padding-right: 0.5em; line-height: 1.75}
li.story-desc { padding: 0 0.5em; margin: 0.25em 0 1.5em; overflow:hidden;}
li.story-desc ul{padding:0; margin:0; text-align:right}
li.story-tags { clear: left; font-weight: 600; }
li.story-tags a { font-weight: normal; }

/*series listing */

#user-series ul	{ margin:1.125em auto; padding:0 1em; text-indent:2em; }
#user-series ul li	{ list-style-type:disc}

/* INBOX-SHOW */
.sidebar .comment { clear:none;}

/*MEDIA-INDEX (FANDOMS)*/
.media-index li.category { padding: 1em; min-height: 15em; }
#main.media-index ol, #main.fandoms-index ol, #main.fandoms-show ol { list-style-type: decimal; }
.media-index li.odd { width: 40%; float: left; margin: 0 0.5em 0 0; }
.media-index li.even { width: 40%; float: right; margin: 0 0 0 0.5em; }

/* PEOPLE-INDEX */

.user div {border:1px solid #ddd; position:relative; padding:0.125em; margin:0 0 0.8625em 0}
.user h3 { font-size: 1.5em; line-height: 0.75; margin: -.25em -.25em .75em -.25em; padding:.25em .125em .125em .25em; background:#ddd}
.user h3 a {text-decoration:none;}
.user h3 a:visited {color:#222;}
.user img {top:0; right:0; position:absolute}
.user ul.pseuds {margin: -1.125em -.25em 0 -.25em; padding:.25em .125em .125em .25em; background:#bbb; color:#fffef9;}
.user .pseuds a {color:#fffef9; text-decoration:none;}
.user ul li {display:inline;}
.user ul.tags {text-align:center; font-size:0.75em}
.user ul.tags:before, .user ul.tags:after {content:' " '; font-family:serif;}

/*BOOKMARKS-INDEX BOOKMARKS */
.bookmark p, .bookmark ul {margin:0.325em 1.5em; text-align:justify; padding:0.125em;}
dl.bookmark { background: #fffef9; position: relative; margin: 0 auto 1em auto; border: 1px solid #bbb; }
.bookmark dt { margin: -.125em -.125em 0 -.125em; padding: 0.5625em 0.125em; background:#ddd;}
.bookmark dt a { font: 400 1.125em/1 Fertigo, Cambria, Constantia, Palatino, Georgia, sans-serif; text-transform: capitalize; text-decoration: none; }
.bookmark dd {padding:0.125em}
.bookmark h4 {margin:0;}
.bookmark dd.date { background: #bbb; min-height:1em; color:#fffef9}
.bookmark dd.tags {padding:0.125em;}
.bookmark .tags li { display:inline; padding-right: 0.5em; line-height: 1.75}
.bookmark dd .navigation {text-align:right; padding:0; margin:0; border-bottom:0;}

/*TAGS-INDEX */
.tags-index ul { text-align: center; min-height: 100%; margin: 2em auto; }
.tags-index li { display: inline; padding: 0.25em 0.5em; }
.tags-index a { text-decoration: none; }
.tags-index a:hover	{ color: #fffef9; background: #900}

a.cloud1 { font-size: 0.625em; font-weight: 100; color: #111; }
a.cloud2 { font-size: 0.75em; font-weight: 200; color: #240F0F; }
a.cloud3 { font-size: 0.825em; font-weight: 300; color: #380C0C; }
a.cloud4 { font-size: 1em; font-weight: 400; color: #4B0A0A; }
a.cloud5 { font-size: 1.125em; font-weight: 500; color: #5F0707; }
a.cloud6 { font-size: 1.5em; font-weight: 600; color: #720505; }
a.cloud7 { font-size: 1.875em; font-weight: 700; color: #860202; }
a.cloud8 { font-size: 2.25em; font-weight: 800; color: #900; }

/*TAG WRANGLING */
ul#tag-wrangler-footer { text-align: center; border-top: 1px dotted}
#tag-wrangler-footer li { display: inline; padding: 0 0.5em 0 0}

/*ToS and any other long text pages.
* styling duplicates the story-views.css and may be incorporated there*/

#tos {margin: 1.5em; padding: 0 2.25em;}

/*lists*/
#main.home-tos dl	{ font-size:1em; margin:1.5em 0; border-bottom:0.25em double #777; }
#main.home-tos dt	{ font-weight:bold; }
#main.home-tos dd	{ line-height:1.5; font-size:0.825em; margin-top:1.25em; margin-bottom:1.25em; text-indent:3em; }
#main.home-tos dd p	{ margin:0; padding:0; text-indent:0;}
#main.home-tos ul	{ margin:1.125em auto; padding:0 1em; text-indent:2em; }
#main.home-tos ul li	{ list-style-type:disc; margin:0.75em 0;}
#main.home-tos ol	{ margin:1.125em auto; padding:0 1.5em; text-indent:1.5em; }
#main.home-tos ol li	{ list-style-type:decimal; margin:0.75em 0;}
#main.home-tos ol li ol li	{ list-style-type: lower-alpha;}
#main.home-tos ol li ol li ol li	{ list-style-type: lower-roman;}
#main.home-tos li	{ font-weight:normal; }

/*headings */
#main.home-tos h1	{ font-family:Cambria, Constantia, Palatino, Georgia, serif; text-align:center; }
#main.home-tos h2	{ font-variant:normal; text-align:left; color:#333; margin:1.5em 0; text-transform:none;}
#main.home-tos h3	{ font-weight:100; background:#333; color:#fffef9; border-bottom:0.25em double #fffef9; padding: 0.125em }
#main.home-tos h4	{ font-variant:small-caps; font-size:1.25em;}
#main.home-tos h5	{ font-weight:600; font-size: 1em;}
#main.home-tos h6	{ font-size: 0.8625em; border-bottom:1px solid; }

/*quotes and stresses*/
#main.home-tos blockquote	{ border-left:2px solid #999; padding:0.75em; margin:auto auto auto 1.5em; font-size:1em; }
#main.home-tos blockquote blockquote	{ border:0; padding:0.25em; }
