ul#skiplinks	{ margin-left:-999em; position:absolute; }
ul.navigation, dl.navigation { background: #fffef9; border-bottom: 1px solid #999; text-align:right;margin: 0 0 0.875em 0; text-transform:capitalize;}
ul.navigation li, .navigation dd, li.navigation { background: #fffef9; display: inline; padding: 0 0.5625em; border:1px solid #999; border-bottom:0; text-indent:0;}
.navigation dt { font-weight:600; display:inline; padding:0 0.5625em; }
.navigation a:active { background:#900; color:#fffef9; }

/* HEADER (MASTHEAD BLOCK) */
#header  {  background:#900 url(/images/header-red.png) top left repeat-x; font-family: Fertigo, Cambria, Candara, Corbel, Geneva, Verdana, Tahoma, Helvetica, Arial, sans-serif; margin: 0 0 2.5em 0; position: relative; padding: 0.25em 0 0;}
#header h1 { color: #fffef9; font-size: 1.5em; float: left; margin:0 0.75em;}
#header h1 a, #header h1 a:visited {color:#fffef9;}
#header h1 a:hover { color:#900;}
#header a { font-weight: 600; text-decoration: none; }

#header #login-block { color: #fffef9; font-size: 0.75em; text-align: right;}
#header #login-block a, #header #login-block a:link, #header #login-block a:visited { color: #fffef9; }
#header #login-block a:hover { color:#900;}
#header #login-block ul { padding-right: 0.25em; }
#header #login-block #signin p.submit	{ text-align:left; }

ul#greeting, ul#login { text-align:left; width:17.75em; float:right;clear:right;}
#greeting li { font-weight: 100; }
#greeting.logged-out { margin-top: 1em; width:inherit;float:none; text-align:right;}

#login li { display: inline; }

/* MAIN NAVIGATION (TABS) */
ul#main-navigation { position: relative; clear: both; border-left: 1px solid #111; margin: 0 0 0 1em; }
#main-navigation li { background: #fffef9; display: block; float: left; }
#main-navigation a:link { color: #900; font-weight: 400; }
#main-navigation a:hover, #main-navigation a:active { color: #111; font-weight: 100; }
#main-navigation a span:hover { background: #ddd; }
#main-navigation span { background: #111; color: #fffef9; font-weight: 100; float: left; display: block; padding: 0.5625em; border: 1px solid #111; border-bottom: 0; }
#main-navigation a span { background: #fffef9; color: #111; border: 1px solid #111; border-bottom: 0; }

#header hr.clear { background: url(/images/headergradient.png) top left repeat-x #fffef9; height: 20px; border-top: 6px solid #111; }
/* END HEADER*/

/*DASHBOARD SIDEBAR */
#dashboard-sidebar { line-height:1.75; float: left; width: 10em; margin: 0 1em 3em 1.5em; border: 2px solid;}
#dashboard-sidebar ul { text-indent:0.5625em; }
#dashboard-sidebar li { font-weight: 600;}
#dashboard-sidebar a { font-weight: normal; text-decoration: none; display: block;}
#dashboard-sidebar a:hover { background: #900; color: #fffef9; }

#main.sidebar { margin: 0 1em 1em 12em; }
#main.sidebar h1 {margin-top: 0;}
#main.sidebar .own {background:#fffef9 !important; border:1px dotted #ccc;}

/*MAIN CONTENT */
#main { position: relative; margin: 1.5em auto; padding: 0 3.5em; }
.pagination { text-align: center; padding: 0.25em; margin:1.5em auto; }

/* FOOTER */
#footer { color: #999; font-size: 0.75em; text-align: center; clear: both; margin: 1.5em 0; padding: 1em; border-top: 1px solid #999; }
#footer a:link { border-bottom: 1px dotted; }

/*PAGE BY PAGE STYLING: NEW SESSION HOME HOME SUBPAGES FANDOMS PEOPLE GROUPS RECS TAGS*/

/*SESSIONS (front front pages - login, create, logout(feedbacks)etc)*/
#main.session h1, #main.session h1, #main.passwords-new h1 { text-align: left; margin: 0.75em 0 0.125em 0; border: 0;}
#main.session h1 a, #main.session h1 a, #main.passwords-new h1 a {text-decoration:none;}
#main.session h1 span span {font-size:0.5625em;}
#main.session h2, #main.session h2, #main.passwords-new h2 { font: 100 0.75em "Gill Sans", Georgia, Verdana, sans-serif; margin: 0.25em auto 2em}

.session #logo { width: 49%; display: block; float: left; margin-bottom: 1.5em}
.session #signin { width: 49%; float: left; margin-bottom: 1.5em; }
.feedbacks-new form p.message { clear: both; }

/*HOME PAGE (front page) currently living in home.css */

/* USER HOME: USERS SHOW*/
#main.users-show ul.work-list { margin: auto; }
.user-module h2 { background: #222; color: #fffef9; margin: 2.25em auto 0 ; padding: 0.125em; border-bottom: 4px double #fffef9;}
#user-header { position: relative; margin-bottom:4em;}
#user-header img { top: 0; left: 0; position: absolute; margin: 0 0 0.5625em 0; }
#user-header h1 { text-align: right; margin: 0 0 0 100px; /*sized in pixels because the icon it is avoiding has a fixed pixel value*/}
#user-header h1 a {text-decoration:none; text-transform:lowercase}
#user-header ul.navigation { text-align:right;  margin: 0.5625em 0 0 100px;}
#user-header ul li { display: inline; padding: 0.25em; }

/* USER HOME: PROFILE */
#main.profile-show h3 { background: #222; color: #fffef9; margin: 2.75em auto 0 ; padding: 0.125em; border-bottom: 4px double #fffef9; }
dl#user-data { margin: 1.5em 0;}
dl#user-data dt {font-weight: 900; width: 9em; float:left; clear:left; margin:0.25em 0.875em 0.25em 0; }
#user-data dd	{ clear:right; margin:0 0 0 9em; padding: 0.25em 0 0.125em 0; border-bottom:1px solid #ddd; }
#user-profile ul.navigation { text-align:right; }

/* DASHBOARD: READING HISTORY */
#main.readings-index li.work ul { margin: 0.875em auto  !important;}
#main.readings-index li.work { font-size:smaller;}
#main.readings-index li.work-desc p { font-size:1em;}

/* DASHBOARD: PREFERENCES */
/* preferences form rules are in forms.css */
/*PSEUDS*/
#main.pseuds-index table ul.navigation { border-bottom:0; }
#main.pseuds-new.sidebar ul.navigation, #main.pseuds-show.sidebar ul.navigation { margin-top: 13.75em;}
#main.pseuds-show.sidebar dl { position:absolute; }
#main.pseuds-show.sidebar dt { font-weight:600; float:left; clear:left; width:12em; margin: 0; padding:0.25em 0.5625em 0.25em 0}
#main.pseuds-show.sidebar dd { float: left; }

/* WORKS-INDEX */
/*work filters rules are in forms.css */
/*works blurb : shows on works, reading history, series, should be spoofed on bookmarks and users-show*/
li.work ul.work {position: relative; margin: 0 13.5em 0.5625em auto;padding-right:0.3775em;}
#user-page li.work ul.work, .series-show li.work ul.work, .series-index li.work ul.work, #series-work-list li.work ul.work, .works-drafts li.work ul.work { margin-right: 0; }
ul.work {position:relative; border-bottom:1px solid #ddd; }
ul.own { border:1px dotted #ccc;background:#eee;}
ul.work ul li, .work dd ul li { display:inline;}

li.heading {position:relative; }
.work ul.required-tags {width:75px; height:50px;float:left;}
.work ul.required-tags li img {width:25px; height:25px;}
.work ul.required-tags li {padding:0;margin:0; width:25px; height:25px;}

.work h3 {margin-right:4.5em;}
.work h3, .work h3 a:link, .work h3 img {color:#900; vertical-align:bottom;}

.work p.update {font-size:0.875em; text-align:right; top:-0.875em; right:0; position:absolute; }
.work dl.tags {padding-top:0.5625em;}
.work .tags dt {font-weight:bold; width:5em; padding:0.25em 0.5625em 0.25em 0; }
.work .tags ul {margin:-2.25em 0 .75em 5.5em; text-indent:0; padding:0;}
.work li.summary {margin:0.5625em auto;}
.work li.stats dl {text-align:right;}
.work li.stats dt, .work li.stats dd {display:inline; font-size:0.875em}
.work li.stats dl dd {margin:0 0.375em 0 0;}

.work .navigation a {background:url(/images/ccc-fff.png) top left repeat-x #fff; border:none; border:1px solid #ccc; padding:0.25em;}
.work .navigation, .work .navigation li {border:0; background:transparent;}
.work ul.navigation {margin: 0 0 -0.75em 0;}

/*series listing */
#user-series ul	{ text-indent:2em; margin:1.125em auto; padding:0 1em;}
#user-series ul li	{ list-style-type:disc}
dl#series-meta { margin:0 auto 1.5em auto; font-size:0.875em; background:#ddd; padding:0.25em;}
ul#series-work-list li.work ul.work li ul li {display:inline;}

/* INBOX-SHOW */
.sidebar .comment { clear:none;}

/*MEDIA-INDEX (FANDOMS)*/
.media-index h3 a {color:#900;}
.media-index li.category { padding: 1em; min-height: 15em; }
#main.media-index ol, #main.fandoms-index ol, #main.fandoms-show ol { list-style-type: decimal; }
.media-index li.odd { width: 40%; float: left; margin: 0 0.5625em 0 0; }
.media-index li.even { width: 40%; float: right; margin: 0 0 0 0.5625em; }

/* PEOPLE-INDEX */
.user div { position: relative; margin: 0 0 0.5625em auto;padding-right:0.3775em; border-bottom:1px solid #ddd;}
.user h3,.user h3 a { color:#900;display:inline; }
.user img {top:0; right:0; position:absolute}
.user ul li {display:inline;}
.user ul.tags:before {content:" ( ";}
.user ul.tags:after {content:" ) ";}

/*BOOKMARKS-INDEX BOOKMARKS */
ul.bookmark {margin-top: 0.875em;}
.bookmark p.byline {text-align:right;}
.bookmarks-index li.bookmark {clear:left}

/*Temporary fix to make edit link show up on bookmarks, 09-10-08 (Cal)*/
.bookmark ul.navigation {text-align:left;}

/*TAGS-INDEX */
.tags-index ul { text-align: center; margin: 2em auto; }
.tags-index li { display: inline; padding: 0.25em 0.5625em; }
.tags-index a { text-decoration: none; }
.tags-index a:hover	{ background: #900; color: #fffef9;}

a.cloud1 { font-size: 0.625em; font-weight: 100; color: #111; }
a.cloud2 { font-size: 0.75em; font-weight: 200; color: #240F0F; }
a.cloud3 { font-size: 0.875em; font-weight: 300; color: #380C0C; }
a.cloud4 { font-size: 1em; font-weight: 400; color: #4B0A0A; }
a.cloud5 { font-size: 1.125em; font-weight: 500; color: #5F0707; }
a.cloud6 { font-size: 1.5em; font-weight: 600; color: #720505; }
a.cloud7 { font-size: 1.875em; font-weight: 700; color: #860202; }
a.cloud8 { font-size: 2.25em; font-weight: 800; color: #900; }

/*TAG WRANGLING */
ul#tag-wrangler-footer { text-align: center; border-top: 1px dotted}
#tag-wrangler-footer li { display: inline; padding: 0 0.5625em 0 0}

/*TRANSLATIONS */
#main.translation-translate {margin-bottom:2.5em;}
dl.translations {position:relative; margin: 1.5em auto; padding: 1.5em 0 2.5em; border-top:1px solid;}
.translations dt { padding:0.25em; margin:-0.25em; clear: both;}
.translations form {position:relative;}
.translations textarea { border:1px groove #aaa; float:left; width:69%;}
.translations form input {background:url(../images/fff-ccc.png) bottom left repeat-x #fff; border:1px groove #aaa; float:right; width:29%; padding:0.625em; margin-top:0.1em;}
.translations form input:hover { border:1px groove #666;}
.translations form input:active { background:url(../images/ccc-fff.png) top left repeat-x #fff; border:1px groove #aaa;}
.translations textarea:hover,.translations textarea:active { background:#d1e1ef;}
.translation string {}
.translated { font-style: italic; background:#d1e1ef;}
.untranslated { font-weight: 600;}


/*ToS and any other long text pages.
* styling duplicates the work-views.css and is incorporated there*/
#tos {margin: 1.5em; padding: 0 2.25em;}
#tos .toc li {list-style-type: upper-roman !important; }
.home-tos_faq #contents {width: 60%; margin:auto; padding:1em;}
.home-tos_faq #contents h2 {text-align:center;}
.home-tos_faq #contents ul li {border-bottom:1px solid #ddd;}

/*SYMBOLS KEY 
*this really ought to go somewhere else but it's here for now 02-10-08 */
dl#symbols-key {background:#fffef9 }
dl#symbols-key dt {width:100px;}
dl#symbols-key h3 {margin:0;}
dl#symbols-key dd {margin: -55px auto auto 100px;}
#symbols-key dl {border:1px solid #ddd; padding:0.15em;margin-bottom:1.2525em;}
#symbols-key dl dt img {height:25px ; width:25px ;}
#symbols-key dl dt{ width: 25px; }
#symbols-key dl dd {margin: -1.2525em auto auto 35px}
