.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 0.375;
}

.LV_valid {
    color:#0c0;
}
	
.LV_invalid {
    color:#c00;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #0c0;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #c00;
}