/*suggest moving this rule into a separate serif skin*/
 *								{ font-family: serif !important; }

/*no icon skin */

/*reset positioning */
 .blurb .header, .blurb ul.required-tags, .blurb ul.required-tags li, #main .blurb ul.required-tags li img, .blurb ul.required-tags li a, .blurb ul.required-tags li span, .blurb ul.required-tags div, .blurb ul.required-tags .category, .blurb ul.required-tags .iswip		
								{ position:static; display: inline; height: auto; min-height:0.1em; width: auto; margin: 0; padding: 0; border:none; font-weight: normal; }
 
 .blurb .header h4, .blurb .header h5, .blurb .header ul 				
								{ margin: auto 6em auto 0; line-height:1.5; }
 .blurb ul.required-tags  .warnings  
								{ display:none; }
  
/*turn off icons */
 .blurb ul.required-tags .rating-general-audience, .blurb ul.required-tags .rating-explicit, .blurb ul.required-tags .rating-mature, .blurb ul.required-tags .rating-notrated, .blurb ul.required-tags .rating-teen, .blurb ul.required-tags .category-femslash, .blurb ul.required-tags .category-gen, .blurb ul.required-tags .category-slash, .blurb ul.required-tags .category-het, .blurb ul.required-tags .category-multi, .blurb ul.required-tags .category-other, .blurb ul.required-tags .category-none, .blurb ul.required-tags .complete-no, .blurb ul.required-tags .complete-yes, .blurb ul.required-tags .warning-yes, .blurb ul.required-tags .warning-no, .blurb ul.required-tags .warning-choosenotto , .blurb ul.required-tags .external-work 
								{ background: none; }
 .collection .blurb .header, .blurb .mystery 
								{ background: none; }
.collection .blurb .header h4, .blurb .header h5, .blurb .header ul         { margin: auto 6em auto 120px; }								
/*css3 non-critical perks*/
 .blurb ul.required-tags:before { content: "(";}
 .blurb ul.required-tags:after 	{ content: ")";}
 .blurb ul.required-tags div:after
								{ content: ",";}
 .blurb ul.required-tags div.warnings:after, .blurb ul.required-tags li:last-child div:after
								{ content: "";}
								
