/*JUST COPYING IE6 atm because no testing available */

/*emphasis */
h1, h2, h3, h4, h5, h6, #header .navigation a {font-weight:bold;}
#header .main .current {background:#fff;}

/* stacking */

.own {z-index:-30;}
form.filters {z-index:-50;}
.index .user {z-index:20;}

/*ie6 links not buttons */
.actions a:hover {background:#eee; border:0; border-bottom:1px solid}
#header .actions a {color:#fff; background:#900}

/*margin/padding quirks */
#header #greeting {background:#900;}
#header #greeting ul.navigation { padding:0; top:105px}

/*hL*/
form.filters {position:relative;}
.index .user, .index .blurb .heading, .actions a, li.blurb, li.comment, #main, .header{zoom:1;}

/* Issue 2222 Media fandoms page */
.fandoms-index .index li, .fandoms-index .index,
.fandoms-index li, .fandoms-index ul {float: none !important;}
.fandoms-index .index .even {margin-left: 0 !important;}
.fandoms-index .letter h3 .top {display: none !important; float: none !important;}

/*transparency */
.kudos {background:url("/images/legacy/kudos-legacy.png") top left no-repeat;}
.stats dd  { border-right:none}
#header h1 img {display:none;}
#header h1 {width:123px; height:84px; background:url("/images/legacy/logo-stroke-legacy.gif") top left no-repeat;}
.landmark {color:#f4effc ;}

/*min-height */
#header, .home .primary {height:120px;}
.titles {height:70px; }
.media-index li.category {height: 15em; }
.blurb .header {height:55px;}
.bookmark .picture .header {height:25px;}
textarea {height:12em;}

/*baseline*/
input,select,option,textarea,legend,label {vertical-align:middle}

/*explicit widths */
input {width:auto!important;}
input.text, textarea,select,.filters dt  {width:100% !important;}
#header input, .dashboard .filters dt {width:auto!important;}

/*float/clear */
form .preface {overflow:hidden;}
.dashboard .sorting ul, .dashboard .sorting ul li {float:left;}

/*linearise dashboard */
#dashboard  
        { width:auto; float:none; margin:1.5em;  padding: 0 0.5625em; overflow:hidden; }
#dashboard ul.navigation, #dashboard ul 
        { background:#f4effc; width:8.5em; height:12em; padding:0.5em; margin:0.25em; float:left;  text-align:justify; border: 2px solid #ddd; }
#dashboard .landmark 
        { clear:none;}
#main.dashboard 
        { width:auto; margin:auto !important;}
        







