/*Forms are laid out in forms.css. User-generated content from textarea inputs are laid out in userstuff.
1. page regions, shown on every page
2. general rules by content and structure type, shown on many pages
3. individual page (children of #main) styling, shown on one page

1. Page regions*/

/* HEADER*/
 #header           { background: #900 url(/images/header-red.png) top left repeat-x; color: #fffef9; font-family: FertigoProRegular, Cambria, Candara, Corbel, Geneva, Verdana, Tahoma, Helvetica, Arial, sans-serif; padding: 0.25em 0 0; position: relative }
 #header #login-block     { color: #fffef9; font-size: 0.75em; text-align: right; }
 #login li           { display: inline }
 p#greeting, ul#login, #search{ clear: right; float: right;  text-align:left; width:17.5em; padding:0 }
 #greeting.logged-out     { float: none; margin-top: 1em;  width:auto; padding-right: 0.5em; }
 #header h1         { float: left; font-size: 1.5em; margin: 0; padding-left: 0.75em }
 #header h1.collection     { background: #900 url(/images/header-red.png) top left repeat-x; border-bottom: 6px solid #111; float:none; margin-top:-.25em;}
 #header a,#header a:visited
              { color: #fffef9; font-weight: 600; border: none;}
 #header a:hover       { color: #000; border: none;}
 #header ul.navigation     { border-left: 1px solid #111; clear: both; list-style: none; margin: 0 0 0 1em; position: relative }
 #header .navigation a,#header .navigation .current
              { background: #fffef9 url(/images/fffef9-ccc.png) bottom left repeat-x; border: 1px solid #111; border-bottom: 0; color: #111; display: block; float: left; font-family: FertigoProRegular, Cambria, Candara, Corbel, Geneva, Verdana, Tahoma, Helvetica, Arial, sans-serif; font-weight: 100; margin: 0; padding: 0.5625em; text-decoration: none !important;}
 #header ul.admin       { margin-top: 2.375em; position: absolute; right: 1em; z-index: 50 }
 #header ul.admin a,#header ul.admin .current
              { border-bottom: 3px solid #111; float: right;}
 #header .clear         { background: url(/images/headergradient.png) top left repeat-x #fffef9; border-top: 6px solid #111; height: 20px }

/* DASHBOARD*/
 #dashboard ul         { background: #fffef9; border: 2px solid #111; float: left; font: 100 1em/1.5 'Lucida Grande', Geneva, Verdana, Helvetica, Arial, sans-serif; margin: 1em 1em 3em 1em; width: 10.5em }
 #dashboard a,#dashboard span
              { color: #111; display: block; padding: 0 0.5625em; border: none;}
 #dashboard li:hover,#dashboard a:hover
              { background:#900 url(/images/header-red.png) bottom left repeat-x; color: #fffef9; border:none;}
 #dashboard ul#subnav    { margin:0; border: none; border-bottom: 2px solid #111;}

/* MAIN CONTENT */
 #main             { margin: 1em auto; padding: 0 1em; position: relative }
 #main.sidebar         { margin: 1em auto 1em 12em }
 #main.error         { background: #fffef9 url(/images/sadface.png) top right no-repeat; border: 0; font-weight: 700; min-height: 365px }
 #main.slow         { background: #fffef9 url(/images/ao3-502.png) top right no-repeat; border: 0; font-weight: 700; min-height: 365px }
 #main.maintenance       { background: #fffef9 url(/images/logo-ruby.png) top right no-repeat; }

/* FOOTER */
 #footer ul         { border-top: 1px solid #999; clear: both; color: #999; font-size: 0.75em; margin: 1.5em 0; padding: 1em; text-align: center }
 #footer ul.navigation a   { border: 0; font-weight: 400; margin: auto; padding: 0 }

/* 2. General rules by content and structure type (shown on many pages) Forms are in forms.css.
NAVIGATION, ACTIONS (BUTTONS)*/
 ul#skiplinks, .landmark , .landmark a
      { border: 0 !important; color: #fffef9; font-size: 0 !important; line-height: 0 !important; height: 0 !important; margin: 0 !important; clear:right; }
 #header .landmark
      {color:#900 !important;}

#main ul.navigation, p.navigation, li.navigation, span.navigation, p.submit, dd.submit, span.submit
      { margin: 0.5em auto 1em; border:1px solid #bbb; background:#fffef9 url(/images/fffef9-ccc.png) bottom left repeat-x; padding:0.15em 0.5em 0.25em; float:right; border-radius:3em; -moz-border-radius:3em; -webkit-border-radius:2em;}
 .navigation li,li.navigation,  #main .navigation h4, .navigation div
      { display: inline }

#main .navigation a, #main ul.edit-navigation a, .submit input, .submit a, #main .navigation input
         { background: transparent; border:0;  border-right:1px solid #ccc; border-left:1px solid #ccc; cursor: pointer; font-weight: 700; margin: 0 0.125em; padding: 0.25em 0.5em; text-decoration: none; width: auto }
#main .navigation a.nav-with-help
         { background: transparent; border:0; border-left:1px solid #ccc; cursor: pointer; font-weight: 700; margin: 0 0.125em; margin-right: -1em; padding: 0.25em 0.5em; text-decoration: none; width: auto }
#main .navigation a.question
         { background: transparent; border:0; border-right:1px solid #ccc; cursor: pointer; font-weight: 700; margin: 0 0.125em; padding: 0.25em 0.5em; text-decoration: none; width: auto }
.submit input.text, #main .navigation input.text
         { cursor: text;}
#main.admin_users-show .navigation form, #main.admin_users-show .navigation div
      { display: inline; } /* cancelling out the side-effects of button_to */
 .navigation a:hover, .submit a:hover, .submit input:hover, .navigation input:hover
      { background: #ddd !important;  color: #111 }
 .navigation a:active
      { background: #999; border: 1px solid #777 }
 #main .navigation a:visited
      { color: #111111; }
 .navigation .pagination a
      { border: 0; padding: 0 }
 .navigation form.edit_preference {float:left; margin:0;}
 #main .navigation form.edit_preference input {padding:0; margin:0; }


/* Navigation in contexts - easier to have it all together */
.navigation li form {display:inline;}
#main li.blurb .navigation, #main td.submit input, #main.readings-index .module .navigation
      { float:left; font-size:0.8575em;}
#main li.bookmark .navigation, #main li.fandom .navigation,  #main.pseuds-index li.blurb .navigation
      { float:right; }
/* Note: this next navigation context doesn't really feel like it should be on "stuff I own" but more about "navigation on indiv blurb" */
#main .work .own .navigation, #main .bookmark .own .navigation, #main .series .own .navigation, #main .works .own .navigation, #main .own.work .navigation,
#main.collections-index .blurb .navigation, #main.collections-list_challenges .blurb .navigation
      { float:left; margin:-1.25em auto auto;}
#main li.bookmark .own .navigation
      { float: left; margin:0.25em auto auto -0.25em;}
#main li.comment ul.navigation
      { position: absolute; bottom: 0.2em; right: 0.2em; float: none; margin: 0; }
.pagination { font: 100 1em 'Lucida Grande', Geneva, Verdana, Helvetica, Arial, sans-serif; margin: .5em auto; padding: 0.25em; text-align: center }
 #main .pagination a
      { border:0;}
 #main .current
      { border: 1px solid #000; padding: 0.25em }
 .current, .current a:visited
      { background: #111 !important; color: #fffef9 !important; /* cursor: default */ }
/*Subscription form on user/pseud dashboard */
.sidebar .navigation form {float:none;}

/*Navigation in tables*/
#main table ul.navigation, table span.navigation, table span.input  {margin:auto; border:none; background:transparent; padding:0; float:none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0}
#main table .navigation li a, #main td.submit input{ border:none; float:none}
#main table td.navigation, td.submit {border:1px solid #bbb; background:#fffef9 url(/images/fffef9-ccc.png) bottom left repeat-x;}

/* GROUPING: MODULE, WRAPPER, INDEX */
 .module,  .index        { width: 100%; position: relative; float: left; }
 .wrapper          { background: transparent url(/images/drop-shadow-light.gif) bottom right repeat-y; padding: 0 12px 13px 0;}

/* ROLES/STATES*/
 .own             { background: #eee; }
 .draft           { background: #eee; border: 2px dashed #ddd }
 .draft .wrapper      { background: #eee }
 .droppable         { color: red; }
 .canonical         { font-weight: 700 }
 .inline                    { display:inline; margin-bottom: 0.5em}
 .showme   {display: none;}

/* Requests and offers in challenges */
 li.requested { font-weight: bold; }
 span.requested { color: #900; }
 span.offered { color: #008080; }
 span.offered.requested { color: #daa520; }
 
/*TAGS */
 #main ul.tags li      { display:inline;}

/*CLOUD */
 a.cloud1           { color: #111; font-size: 0.625em; font-weight: 100 }
 a.cloud2           { color: #240F0F; font-size: 0.75em; font-weight: 200 }
 a.cloud3           { color: #380C0C; font-size: 0.875em; font-weight: 300 }
 a.cloud4           { color: #4B0A0A; font-size: 1em; font-weight: 400 }
 a.cloud5           { color: #5F0707; font-size: 1.125em; font-weight: 500 }
 a.cloud6           { color: #720505; font-size: 1.5em; font-weight: 600 }
 a.cloud7           { color: #860202; font-size: 1.875em; font-weight: 700 }
 a.cloud8           { color: #900; font-size: 2.25em; font-weight: 800 }

/*ICON */
 p.icon, div.icon      { height: 100px; width: 100px; overflow: hidden; position:absolute; left: 0.25em;}

/* META*/
 #main dl.meta 				{ background: #fffef9; border: 2px solid; clear: right; margin: 0 auto; padding: 0.5em; position: relative }
 .meta dt, .meta dt.warning	{ font-size: 0.875em; font-weight: 100; width: 10.5em }
 #main .meta dd				{ margin: -1.3em 0 .7em 13em;  }
 #main .meta .stats dl dd,  #main .meta .stats dl dt	{ margin: 0 0.5em 0; width:auto; float:left}
 .meta dd ul li 			{ display: inline; margin: auto;}
 .meta dd blockquote		{ margin: -1em 0 0 0 !important;}


 /* BLURB*/
 /* the blurb class is used on index pages where we create individual blurbs for each item */
 .blurb ul li,.blurb dd ul li  { display: inline }
 li.blurb             { padding-left: 0.5em; padding-right: 0.5em; padding-top: 0.25em; padding-bottom: 0.25em; position: relative; clear:left; min-height: 100px }
 .blurb .module          { float:none;}
 .work .blurb .header, .series .blurb .header,   .blurb .work .header, .bookmark .blurb .header, .works .blurb .header, .work.blurb .header
          { min-height:55px; }
 .blurb .header h4         { font-size: 1.1425em; margin: 0.375em 5.25em 0 65px }
 #main .blurb .header img       { position: relative; margin: 0; }
 .blurb .header h5, .blurb .header ul
                 { font-size: 1em; margin: 0.375em 6em 0 65px }
 .blurb h4 a:link,.blurb h4 img { color: #900; vertical-align: bottom }
 .blurb ul.required-tags     { position: absolute; top: 0; width:60px; margin:0;}
 .blurb ul.required-tags li, #main .blurb ul.required-tags li img, .blurb ul.required-tags li a
                 { position:static; display: inline; height: 25px; width: 25px; border:none; }
 .blurb ul.required-tags li  span.text { display:none }
 .blurb ul.required-tags li span{ display:block; background-repeat:no-repeat; height: 25px; width: 25px; }
 .blurb ul.recent-bookmarks li { display: block; }
 .blurb .category, .blurb .iswip, .blurb .external-work
                 { position: absolute; left: 28px; }
 .blurb .category         { top: 0; }
 .blurb .iswip, .blurb .external-work
                 { top: 28px; }
 .blurb .rating, .blurb .required-tags .warnings
                 { margin:0 0 3px }

 /*icon image replacement*/
  .blurb .rating-general-audience {background:url("/images/rating-general-audience-s.png");}
  .blurb .rating-explicit {background:url("/images/rating-explicit-s.png");}
  .blurb .rating-mature {background:url("/images/rating-mature-s.png");}
  .blurb .rating-notrated {background:url("/images/rating-notrated-s.png");}
  .blurb .rating-teen {background:url("/images/rating-teen-s.png");}
  .blurb .category-femslash {background:url("/images/category-femslash-s.png");}
  .blurb .category-gen {background:url("/images/category-gen-s.png");}
  .blurb .category-slash {background:url("/images/category-slash-s.png");}
  .blurb .category-het {background:url("/images/category-het-s.png");}
  .blurb .category-multi {background:url("/images/category-multi-s.png");}
  .blurb .category-other {background:url("/images/category-other-s.png");}
  .blurb .category-none {background:url("/images/category-none-s.png");}
  .blurb .complete-no {background:url("/images/complete-no-s.png");}
  .blurb .complete-yes {background:url("/images/complete-yes-s.png");}
  .blurb .warning-yes {background:url("/images/warning-yes-s.png");}
  .blurb .warning-no {background:url("/images/warning-no-s.png");}
  .blurb .warning-choosenotto {background:url("/images/warning-choosenotto-s.png");}
  .blurb .external-work {background:url("/images/external-work-s.png");}
 */end icon image replacement */

 .blurb .relationships       { background: #eee; }
 .blurb blockquote, .blurb ul.wranglers, .blurb form
                 { clear: none; margin: 0.5625em auto; text-align: justify }
 .blurb ul.series				{ font-size: 0.9em; padding: .5em 0; }
 .blurb dl.stats         { background: #eee; font-size: 0.8575em; text-align: right; padding: 0 0.3em 0.3em; margin-top: 0.1em; }
 .blurb.own dl.stats         { padding-left: 11em; }
 .own dl.stats          { background: #fffef9; padding-bottom: 0.10em}
 /* PICTURE */
 /* use this along with "index" and "blurb" for indices where we have icon pictures,
  * eg collections, users, skins
  */
  .picture .blurb  { min-height:100px; padding-bottom: 0.5em; }
  .picture .blurb h4, .picture .blurb .mods, .picture .blurb  blockquote, #main .picture .blurb p.type,
     .picture .blurb  dl.stats    { margin:0 0 0 120px; }
  #main .picture .blurb .navigation { margin-left: 120px; }
  #main .picture .blurb p.type { margin-bottom: 0.3em; margin-top: 0.3em; }
  .picture div.icon { top: 0.1em; }

/* BOOKMARK*/
 .bookmark p.count         { float: right }
 .bookmark .count img,  .bookmark .symbol img
                { height: 25px; width: 25px }
 .bookmark p.count span     { background: url(/images/category-none.png) top left no-repeat; border: 1px solid #eee; display: block; float: left; height: 25px; line-height: 1.875; margin: 0 2.5px 0 0; text-align: center; width: 25px }
 .bookmark .blurb         { border: 1px solid #ccc; padding: 0.125em 0.4em; }
 .bookmark .user         { clear:right; border: 1px solid #ddd; width:auto; margin: 0.25em 0.125em; padding: 0.125em; }
 #main .bookmark .user .navigation
                { font-size: 0.8575em; margin: 0.5em 0 0.5em -.5em}

/* COLLECTION, ANON, MYSTERY */
 .blurb .mystery          { background: url(/images/mystery-s.png) 0 0 no-repeat }

/* STATS*/
 .stats dt,.stats dd       { display: inline }
 .stats li dt,.stats dd dt     { font-size: 0.8575em }
 .stats dl dd           { margin: 0 0.375em 0 0; padding: 0 0.375em 0 0 }

 #main  #feedback .edited, #main .thread .edited { top: 0.8em; }
 #main .datetime           { font: 100 0.8575em consolas, monaco, courier, monospace; position: absolute; right: 0.1em; text-align: right; top: -0.5em }
 #main .collection .meta .datetime   { position:static; top:auto; text-align:left}
 #main .collection .meta .datetime   { position:static; top:auto; text-align:left}
 #main .admin .datetime { position: static; }
 .datetime abbr           { font-variant:normal;}
 .datetime .date, .datetime .month   { font-weight:900;}
 .datetime .time, .datetime .timezone
                  { font-size: 0.8575em; color:#900}

/* PREFACE - title, notes, description, collections faq, rules; has a fair few id weights as it sometimes appears within a userstuff*/
 .preface             { border-bottom: 3px double; margin: auto 3em 1.5em; padding: 0.5em 0.5em 0 }
 #main .preface .module      { float:none; margin:0; padding:0;  width:auto }
 #main .preface h3        { background: transparent; border-bottom: 1px solid; color: #333; font-size: 1.125em }
 #main .preface h2.title, #main .preface h3.title
                { font-size: 1.5em; font-weight: 700; margin: 1.5em auto 0; text-align: center; border-bottom:0; clear: both;}
 #main .preface h3.byline, #main .preface .byline a
                { border: 0; text-align: center; text-decoration: none }
 #main .preface a:link, #main .preface a:visited
                { color: #333; }
 .preface a:hover         { text-decoration: underline }
 #main .preface blockquote    { border: 0}

/* PROFILE -user profile user home, and soon collections and challenges profiles and home */
 #main .profile p.alt      { margin: 3em auto 3em 100px }
 .profile .header img       { left: 0; margin: 0 0 0.5625em; position: absolute; top: 0 }
 .profile .header h2       { font-size:2.25em; margin: 0.675em 0 0 100px; text-align: right; border-bottom:2px solid; }
 .profile .header .userstuff
                                { margin-left: 120px;}
 .profile .module h3      { background: #222; color: #fffef9; margin:0; padding: 0.125em; border-bottom: 4px double #fffef9;}
 .profile .series         { clear:left; float:none;}
 .profile li.blurb        { margin-top: 0 }
 .profile .meta dt        { width:12em}
 #main .profile .meta dd     { margin: -1.125em auto 1.125em 13em;}

/* CHAPTER*/
 #chapters             { margin: auto 3% 2.5em; padding: 0.5em 3% 0;}
 .chapter            { margin: auto auto 3em;}
 #chapters .preface        { margin: auto 0 1.286em 0; padding: 0;}
 #main #chapters .footnote     { font-size: 85.7%; border-bottom: 1px solid #ddd}

/* COMMENTS - works-show, inbox, admin posts for now*/
li.comment     { position:relative; clear:right;  padding: 0.8575em 0.25em; min-height: 100px; }
.comment h4, li.comment blockquote
        { margin-left: 110px; display:block;}
li.comment blockquote blockquote
        { margin:auto auto auto 1.5em; padding:0.75em;}
li.comment p    { clear: none; }
li.comment h4  { font-size: 1.25em; margin-top:0; }
.comment .even, .thread .even
        { background:#eee; }
.comment .odd, .thread .odd
                { background:#f6f0f0; }
.thread .thread { margin: 0 0 0 3em;}
.comment div.icon
        { top:0.875em;}

/* KUDOS */
p.kudos        {padding: 0.25em 0.25em 0.25em 60px; min-height: 50px; background: url('/images/kudos.png') no-repeat;}

/* SERIES */
 p.series             { text-align:center; margin: 0 auto 2.5em auto}

/* ADMIN */
 #main div.admin        { margin: auto 3em; padding: 0.5em 3em 0  }

/*3. PAGE BY PAGE, where page is a class of main*/

/* SESSIONS (front front pages - login, create, logout(feedbacks)etc)*/
 #main.session h1,#main.session h1,#main.passwords-new h1
                { border: 0; margin: 0.75em 0 0.125em; text-align: left }
 #main.session h1 a,#main.session h1 a,#main.passwords-new h1 a
                { border: none; }
 #main.session h1 span span   { font-size: 0.5625em }
 #main.session h2,#main.session h2,#main.passwords-new h2
                { font: 100 0.75em "Gill Sans", Georgia, Helvetica, Verdana, sans-serif; margin: 0.25em auto 2em }
 .session #logo         { display: block; float: left; margin-bottom: 1.5em; width: 49% }
 .session #signin         { float: left; margin-bottom: 1.5em; width: 49% }

/* DASHBOARD: HISTORY */
 .readings-index .module h3   { border-top: 2px dotted #ddd; font-size: 1em; margin-top: 0.5em; padding-top: 0.5em; }
 .readings-index .reading.module     { border: 1px solid #ddd; margin: 0.25em; padding: 0 0.25em }
 .readings-index li.blurb     { border: 0 }
/* DASHBOARD: INBOX */
 .inbox-show p.navigation    { float:left;}
 #main.inbox-show .filters dd   { float:none;}
 .inbox-show span.unread          { color: #900;}

/* USER PROFILE SHOW */
 .profile-show .module h3     { margin-top: 2.75em }
 .profile-show .datetime     { top:-3.25em }

/* USER PROFILE NEW or EDIT PSEUD */
 .edit_pseud p.icon, .new_pseud p.icon { position: static; }

/* USER OWN WORKS */
 .works-own .own                { background: transparent; }
 .works-own .own dl.stats { background: #eee; }

/* USER RELATED WORKS */
#translationsofme th.translationwidth {width: 25%} 
#mytranslations th.translationwidth {width: 25%}
#inspiredbyme th.wide {width: 35%}
#inspiredbyme th.narrow {width: 25%}
#myinspirations th.wide {width: 35%}
#myinspirations th.narrow {width: 25%}
 
/* WORKS INDEX */
 .works-index .index                { width: 75% }
 .works-index #search_main               { float: left;}
 #main.works-index #search_main { border: none; }
 .works-index #search_main input.text    { width: 30em;}
 .works-index span.submit { margin-top: 0; margin-bottom: 0; }
 #main.works-index #search_main input.text { border: 2px inset #f0f0f0; background-color: white; }

 /* WORKS SHOW */
 #main .notes                            { padding-bottom: 0.5em !important}

/* MEDIA INDEX, SHOW, FANDOMS INDEX, SHOW*/
  .media-index li.category      { min-height: 15em; padding: 0; border: 1px solid #DDD; }
  .media-index li.category h3   { background:#333; color:#fffef9; font-weight:100; padding: .5em 1em; border-bottom:0.25em double #fffef9; margin: 0; top: 0;}
  .media-index li.category h3 a { color: #fff; }
  #main.media-index ol          { margin: 0 0 1em 1em; }
  #main.media-index p           { margin-left: 1em;}
  #main.media-index ol, #main.fandoms-index ol, #main.fandoms-show ol
                { list-style-type: decimal }
  #main.media-index li.category { margin: 1em 2em }
  .media-index li.odd           { float: left; width: 40% }
  .media-index li.even          { float: left; width: 40% }
  .fandoms-index ul.index li    { float: left; width: 45% }
  .fandoms-index ul.index li.odd          {clear: left;}
  #main.fandoms-index ul.index li.even    {margin-left: 10%;}
  .fandoms-index div.main-fandoms-listing {clear: both;}
  .fandoms-index .filters     {float: left; width: 100%;}
  .fandoms-index .alphabet li {display: inline;}
  .fandoms-index li.letter    {float: left; width: 100%;}
  .fandoms-index ul.letters   {float: left; width: 90%; margin: 2em; padding: 0 1em; border: 1px solid #eee;
                              -moz-box-shadow: 3px 3px 4px #ccc; -webkit-box-shadow: 3px 3px 4px #ccc;
                              box-shadow: 3px 3px 4px #ccc;
                              /* For IE 8 */
                              -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";
                              /* For IE 5.5 - 7 */
                              filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');
  }
  .fandoms-index ul.letters.collection {margin-left: 0; width: 95%;}
  .fandoms-index li.letter h3 {background: #eee; padding: .25em; width: auto;}
  .fandoms-index li.letter h3 .top {float: right; font-size: .9em;}
  .fandoms-unassigned ul.fandoms li {float: left; width: 40%;}
  .fandoms-unassigned .filters #media_id {width: 100%;}

/* PEOPLE INDEX, PSEUDS-INDEX */
 .pseud .user h4,  .pseud .user h5, .pseud .user blockquote
                { margin:0 0 0 120px; float:left; clear:left; }
 .people-index li.blurb, .pseuds-index li.blurb
                { float: left; width: 90%;}
/* COLLECTIONS INDEX*/
 .collections-index .index     { width: 75% }
 #main.collections-show h2 span { font-size: smaller }

/* Collections */
  .twobutton { width: 12em }
  .fandoms-index h3.no_fandoms {float: left;}

/* BOOKMARKS INDEX*/
 .bookmarks-index .user .module      { float: none; }

/* MANAGE SERIES */
 #manage-series h3 {display: inline;}

/* MANAGE ARCHIVE FAQS */
 #manage-archive-faqs h3 {display: inline;}

/* SKINS */
  .skins-index .index     { width: 75% }
  #main.skins-show h2 span { font-size: smaller }

  #main.skins-show dl  { position: relative }
  #main.skins-show dt  { font-size: 0.875em; font-weight: 100; width: 13.5em }
  #main.skins-show dd  { margin: -1.1em 0 .7em 16em; }
  #main.skins-edit form dt, #main.skins-new form dt {width: 15em;}

/* TAG WRANGLERS INDEX */
 #main.tag_wranglers-index .index       { width:100%; margin-top: 2em;}
 #main.tag_wranglers-index .index li    { width:100%;}
 #main.tag_wranglers-index form         { width: 60%;}
 #main.tag_wranglers-index form.filters { width:16em; max-width:40%;}
 #main.tag_wranglers-index .blurb       { float: left; }
 #main.tag_wranglers-index .blurb h4, #main.tag_wranglers-index .blurb ul, #main.tag_wranglers-index .blurb form
                                        { margin: 0;}
 .tag_wranglers-index ul.wranglers li   { display: block;}
 .tag_wranglers-index textarea          { width: 100%; height: 5em;}

/* TAGS EDIT, front end coder please modularise the tooltip navigation rules*/
 .tags-edit dd                  { width: 70%;}
 .tags-edit dd ul li input       { width: 100%; }
 #main.tags-edit ul.tags        { float: left; margin-right: 2em;}
 #main.tags-edit ul.tags, #main.tags-edit ul.tags li
                                { display: block; }
 #main.tags-wrangle div.pagination  {clear: both;}

/*TAGS INDEX */
 .tags-index ul         { margin: 2em auto; text-align: center; line-height: 2;}
 .tags-index li         { display: inline; padding: 0.25em 0.5625em }

/*TAGS SHOW */
 #main.tags-show ul.tree        { display: block; margin: .5em 1em; }
 #main.tags-show ul.tree li     { display: block; list-style-type:disc; }

/*TAG WRANGLINGS INDEX */
 .tag_wranglings-index .module   { width: 70%; margin:auto; }


/* TRANSLATIONS*/
 #main.translation-translate   { margin-bottom: 2.5em }
 dl.translations         { border-top: 1px solid; margin: 1.5em auto; padding: 1.5em 0 2.5em; position: relative }
 .translations dt         { clear: both; margin: -0.25em; padding: 0.25em }
 .translated           { background: #d1e1ef; font-style: italic }
 .untranslated           { font-weight: 600 }

/* LANGUAGES */
 #main.languages-index #languages_table { margin-top: 0.5em; width: 80%; }

/*ADMIN POSTS */
 #main.admin_posts-index .module { width: 75%; clear: right; margin: 0.5em auto; border:1px solid; }
 #dashboard.admin-posts li, #dashboard.wrangling li
                                { font-size: 90%; margin: .5em 0em; }
 #dashboard.admin-posts a:hover { background: #333; color: #fff; }
 #main.admin_posts-index .wrapper, #main.admin_posts-show .admin-header, #main.archive_faqs-show .admin-header{clear:right;}
 #main.admin_posts-show .userstuff { margin-top: 2em; } /* hacky fix so the first header doesn't overlap the subnav */
 #main.admin_posts-show .admin-header h3, #main.admin_posts-index .admin-header h3,
     #main.archive_faqs-show .admin-header h3, #main.archive_faqs-index .admin-header h3
       { font-weight:500; padding: 0.125em; border-bottom:0.25em double #fffef9; color: #fffef9; background-color: #333; }
 #main.admin_posts-index .admin-header h3 a, #main.admin_posts-index .admin-header h3 a:link, #main.admin_posts-index .admin-header h3 a:visited,
    #main.admin_posts-show .admin-header h3 a, #main.admin_posts-show .admin-header h3 a:link, #main.admin_posts-show .admin-header h3 a:visited,
        #main.archive_faqs-index .admin-header h3 a, #main.archive_faqs-index .admin-header h3 a:link, #main.archive_faqs-index .admin-header h3 a:visited,
            #main.archive_faqs-show .admin-header h3 a, #main.archive_faqs-show .admin-header h3 a:link, #main.archive_faqs-show .admin-header h3 a:visited
            { border-bottom:0; text-decoration: none; color: #fffef9; }
 #main.admin_posts-show .admin-header h4, #main.admin_posts-index .admin-header h4,
    #main.archive_faqs-show .admin-header h4, #main.archive_faqs-index .admin-header h4
       { font-variant:small-caps; }

/* ToS and ADMIN long body copy tweaks*/
 #main #tos .toc li       { list-style-type: upper-roman }
 .home-tos_faq #contents     { margin: auto; padding: 1em; width: 60% }
 .home-tos_faq #contents h2   { text-align: center }
 .home-tos_faq #contents ul li   { border-bottom: 1px solid #ddd; list-style-type: upper-roman}

 #main.chapters-manage li.chapter-position-list        { padding: 0.5em;}
 .ui-sortable>li { clear: both;}
 .ui-sortable>li { border: 1px solid transparent;}
 .ui-sortable>li:hover { background: #eee; border: 1px solid black; cursor: move;}
 .ui-sortable>li.chapter-position-list { padding: 1em;}
 #main.chapters-manage ul.navigation                   { display: inline; float: none; width: auto; }

 #main.works-navigate ol, #main.works-navigate ol li   { display: block; }
 #main.works-navigate ol a  {border: 0;}

 /* FRONT END: temporary chapter index */
 .chapters-show ul.navigation, .chapters-show ul.navigation li
                                                    { position: relative; }
 .chapters-show ul.navigation                       { z-index: 99;}
 .chapters-show .wrapper                            { position: relative; }
 .chapters-show #chapter-index                      { min-width: 15em; margin-left: auto; position: absolute; top: 1.6em; right: 0em; background: #fff; border: 2px solid black; padding: 1em; }
 .chapters-show #chapter-index form                 { padding: 1em; }
 #main div#chapter-index h4, #main div#chapter-index h4 a
                                                    { margin: 0; border: none;}

 #main.tags-search form, #main.tags-index form      {float: none;}

 #main .hidden  {display: none;}

 /*#main ul.navigation .draft-chapter { background: #efd1d1 }*/
 #main ul.navigation .draft-chapter { color: red; }
