ul#skiplinks, .landmark, .landmark a {
  border: 0;
  font-size: 0;
  line-height: 0;
  height: 0;
  margin: 0;
  clear: both;
  color: transparent;
  opacity: 0;
}

.clear {
  clear: both;
}

body {
  padding: 0;
  margin: 0;
  font: 100%/1.125 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
}

a {
  color: #700;
}

a:visited {
  color: #555;
}

a:hover {
  color: #ddd;
}

#header {
  background: #000;
  margin: 0;
  padding: 1em;
  position: relative;
}

#header h1, #header h2, #header ul.navigation {
  display: inline;
  font-size: 1.5em;
}

#header a, #header a:link {
  color: #fff;
}

a, a:link, #header ul ul li a:link {
  color: #700;
}

#header ul.navigation ul {
  position: absolute;
  margin-left: -999em;
  background: #fff;
  font-size: 0.5625em;
}

#header ul.navigation:hover ul {
  position: absolute;
  margin: 0 0 0 19.5em;
}

#header ul ul li a {
  padding: 0.5em;
  border: 1px solid #555;
  display: block;
}

#header ul ul li a:hover {
  background: #ddd;
  color: #000;
}

#main {
  padding: 0 2.5em;
  font-size: 0.875em;
}

h3, h4, h5, h6, p {
  line-height: 1;
  margin: 0.375em 0;
}

ul, ol {
  list-style: none;
  margin: 0 0.15em;
  text-indent: 0;
  padding: 0;
}

li {
  margin: 0.643em 0;
}

ul li, .blurb li, .navigation>*, .stats>*, .meta ul li {
  list-style: none;
  display: inline;
}

blockquote.summary, p.message {
  background: #eee;
  padding: 0.25em;
  border: 1px solid #ddd;
}

li.blurb {
  margin: auto;
  border-top: 1px solid #ccc;
}

.blurb dl.stats {
  background: #eee;
  font-size: 0.8575em;
  text-align: right;
  padding: 0 0.375em 0.375em;
  margin: 1.286em auto 0;
}

h3.heading {
  background: #ddd;
  padding: 0.25em;
}

.letter ul.index li {
  width: 45%;
  float: left;
  clear: none;
  margin-right: 1.5em;
}

.letter ul.index:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.meta, .meta .tags {
  float: left;
  width: 100%;
}

.meta dt {
  text-align: left;
  min-width: 10.5em;
  width: 25%;
  float: left;
  clear: left;
}

.meta dd {
  width: 72.5%;
  float: left;
  margin: 0 0 0.643em;
}

.userstuff p {
  line-height: 1.5;
  margin: 1.286em auto;
}