/* work VIEWS: shows on works (text) -chapter, series, post-new & preview-edit (excluding forms rules), tos and faq*/
/*
set work styles
*/
.work-show { font-family:Geneva, Verdana, Helvetica, Arial, sans-serif; padding:1.5em 3.5em 6em 3.5em;}
.work-show a, .work-show a:link { color:#111; text-decoration:none; border-bottom:1px dotted #777; padding-right:0.125em}
.work-show .navigation a, .work-show .navigation a:link {border:0;text-decoration:underline;}
.work-show a:hover { border-bottom:0}
.work-show a:visited { text-decoration:underline}

#chapters p {padding-bottom: 0.5em;}
.unposted-chapter, .unposted-chapter .navigation {background:#eee}

.work-show dl		{ font-size:1em; margin:1.5em 0; border-bottom:0.25em double #777; }
.work-show dl dl	{ width:90%; margin:auto;}
.work-show dt		{ font-weight:bold; text-indent:0;}
.work-show dd		{ line-height:1.5; font-size:0.875em; text-indent:3em; margin-top:1.25em; margin-bottom:1.25em; }
.work-show dd p		{ text-indent:0; margin:0; padding:0; }
.work-show ul		{ margin:1.125em auto; padding:0 1em; }
.work-show ul li	{ list-style-type:disc; margin:0.75em 0 0.75em -1.75em;}
.work-show .navigation ul li { margin:0.25em;}
.work-show ol		{ margin:1.125em auto; padding:0 1.5em; }
.work-show ol li	{ list-style-type:decimal; margin:0.75em 0 0.75em -1.75em !important;}
.work-show ol li ol li	{ list-style-type: lower-alpha;}
.work-show ol li ol li ol li	{ list-style-type: lower-roman;}
.work-show li		{ font-weight:normal; }
.work-show #chapters sup { bottom: 0.4em; font-size: 0.6em; position: relative;}
.work-show #chapters sub { top: 0.4em;  font-size: 0.6em;  position: relative; }
.work-show #chapters pre, kbd, tt, code { font-family: consolas,courier,monospace; margin: 0; padding: 0; font-size: 1em; }

#ibox_content dl.work-show ul li { list-style-type: none !important; margin:0; text-indent:0;}
#ibox_content dl.work-show dt {list-style-type:disc;}

/* headings */
.work-show h1	{ font-family:Cambria, Constantia, Palatino, Georgia, serif; text-align:center; }
.work-show h2	{ color:#333; font-variant:normal; text-align:left; text-transform:none; margin:1.5em 0;}
.work-show h3	{ background:#333; color:#fffef9; font-weight:100; padding: 0.125em; border-bottom:0.25em double #fffef9; }
.work-show h4	{ font-variant:small-caps; font-size:1.25em;}
.work-show h5	{ font-weight:600; font-size: 1em;}
.work-show h6	{ font-size: 0.875em; border-bottom:1px solid; }
.work-show h3 a, .work-show h3 a:link, .work-show h3 a:visited {color:#fffef9; border-bottom:0} 

/* quotes and stresses */
.work-show blockquote	{ font-size:1em; margin:auto auto auto 1.5em; padding:0.75em; border-left:2px solid #999; }
.work-show blockquote blockquote	{ padding:0.25em; border:0; }
.work-show hr	{ width:33%; margin:0.875em auto 1.2525em auto; border:1px solid; }

.dropcap	{ font:3em Georgia, serif; }
.flashback	{ font-style:italic; }
.caps	{ font-variant:small-caps}

/* date and length info */
.work-date-info {border-bottom: 1px solid black; font-size:.8em; padding:.5em; margin-bottom:2em;}
.work-date-info dl {border:0; display:inline;}
.work-date-info dt, .work-date-info dd {font-weight:normal; display:inline;}
.work-date-info dd {padding:0 2em 0 1em;}
.work-date-info ul {display:inline;}
.work-date-info li {display:inline; margin-right:0; padding-left:2em;}

/* WORK META DATA */
dl.work-meta { background:#eee; padding:0.25em; position:relative;margin-top:0; border:1px solid #ddd;;}
.work-meta dt { width:7em; font-weight:100;}
.work-meta ul { margin:-1.9675em 0 .75em 13em; text-indent:0; padding:0;}
.work-meta dd ul li {display:inline; margin:auto !important;}

/*WORK PREFACE - TITLE AND NOTES */
.preface	{ margin-bottom:1.5em; border-bottom:3px double; }
.preface h2	{ font:800 2.25em Cambria, Constantia, Palatino, Georgia, sans-serif; margin:1.5em auto 0}
.preface h3 {color:#333; background:transparent; border:0;}
.preface .title { font-weight:700; font-size:1.5em; text-align:center; }
.preface .byline	{ text-align:center;}
.preface a, .preface a:link, .preface a:visited {color: #333 !important;} 
.preface blockquote.summary, .preface blockquote.notes	{ border:0;}
.preface blockquote.summary h3, .preface blockquote.notes h3 {color:#222; background:transparent; border-bottom:1px solid;}

/* SERIES */
dl.series-meta dd { margin:-1.286em 0 1em 12em !important; text-indent:0; padding:0;}
#series-and-view-data	{ clear:both}
.series-show ul li	{ display:inline; padding-right:0.5625em}
.series-show ul#series-work-list li	{ display:block; padding:0; }

/* Temporary bookmark content */
#dynamic-bookmark	{ background:#fffef9; position:fixed; height:18.75em; width:31.25em; bottom:2em; right:2em; z-index:42; padding:1em 2em;  border:2px solid; }
#bookmark_notes	{ width:28.125em; height:6.25em; }
#close-popup	{ position:absolute; top:0.375em; right:0.625em; }
.chapter-position-list	{ list-style-type:none; padding:0.625em; }
.work-edit-meta, .work-edit-notes	{ width:80%; }
.work-edit-title	{ font-weight:700; font-size:1.5em; text-align:center; }

/*WORK PAGE LAYOUT ELEMENTS*/
/*I don't know what these rules refer to
* #main.works-show ul#navigation	{ margin:0.75em 0; text-align:right}
* .works-show #navigation li.go-back	{ display:block; float:left; padding:0 0.25em 0 0; }
*/
ul.work-list li.tags	{ display:inline; }




