/* === SYSTEM RULES === */
/* === These notes should be stripped out and copied to style book before launch === */
/* System messages use the following colours:
 * notice => blue: success, messages, additional information,
 * error => red: error, go back and fix this problem
 * warning => yellow: warning, correct this error before you proceed
 */
/*Just a note, the main div is automagically
 * assigned a different class for every different
 * functional page, if you want to make use of
 * this to style child elements.
 The flash divs are intended for use to show error messages
 * from just notices to warnings to fatal errors. Errors get
 * set in the model or controller like so: flash[:notice] = "notification"
 * and are displayed in the view with <%= flash_div :error, :warning, :notice -%>
 */
.flash {
    margin: 0.5em auto;
    padding: 1em;
}
.flash_icon {
    border: 0;
    float: left;
    width: 50px;
    padding: 0 0.5em 0 0;
}

.notice {
    background: #d1e1ef;
    border: 1px solid #c2d2df;
}

.warning {
    font-weight: 900;
    background: #edefd1;
	border:1px solid #dfdfc2;
}

.error {
    background: #efd1d1;
    border: 1px solid #dfc2c2;
}

.error ul, .error h2, .error p {margin: 0; padding:0 }
.error ul {margin:auto ;width:90%}
.error ul li {margin:0.25em; list-style-type:disc; text-indent:1em}

/* SYMBOLS */
span.symbol {
    padding: 0.15em;
    border: 1px solid;
    display: block;
    height: 1em;
    width: 1em;
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
}

span.symbol a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 1em;
    width: 1em;
}

span.question {
    background: url(bluesymbol.png) top left no-repeat #2b547c;
    border-color: #2a547c;
}

/* A COLLECTION OF CLASSES TO BE USED AS APPROPRIATE. MINIMAL STYLING
 * 
 */
 
 .important{
    font-weight: 900;
}

.message {
    font-size: larger;
}
.required {
	color:#900;
}
.footnote {
    font-size: smaller;
}


/* Rails will automatically add the errorExplanation and fieldWithErrors divs
 * after doing validation of models - just make sure you're using f.label
 * or similar!    */

/*HOPEFULLY WILL JUNK ALL THESE CLASSES UPON RESOLUTION OF ISSUE 317
 * WILL PROBABLY NEED TO SELECT SOME SPECIFIC ROUTES SUCH AS
 * .error p
 * .error ul
 * .error input
 * span.error
 * div.error
 * form .error ...
 */
.errorexplanation, .errorExplanation {
    background-color: #efd1d1;
    border: 2px solid #af2020;
    margin: 0.4em 0 0.2em;
    padding: 1em;
}

.errorexplanation ul, .errorExplanation ul {
    list-style-type: disc
}

#errorexplanationnone ul {
    display: none;
}

.fieldwitherrors {
    width: 500px;
    color: #af2020;
}

.fieldwitherrors ul {
    color: #af2020;
    font-size: 0.9em;
    margin-bottom: 0;
}

.fieldwitherrors label {
    color: #af2020;
    background-color: #efd1d1;
}

.fieldwitherrors input {
    border: 2px solid #af2020;
	
	/* Debug Style (development only)    */
#debug {
    border: 1px dashed;
    margin: 10%;
    padding: 10px;
}
