/* TRANSLATIONS*/
 #main.translation-translate   { margin-bottom: 2.5em }
 dl.translations         { border-top: 1px solid; margin: 1.5em auto; padding: 1.5em 0 2.5em; position: relative }
 .translations dt         { clear: both; margin: -0.25em; padding: 0.25em }
 .translated           { background: #d1e1ef; font-style: italic }
 .untranslated           { font-weight: 600 }

/* LANGUAGES */
 #main.languages-index #languages_table { margin-top: 0.5em; width: 80%; }


.translations-index textarea {height: 10em;}
.translations-index form {clear:both;}
.translations-index h2, .translations-index dl {clear:both;}
.translations-index div.namespace {border:0.25em double #000; height:auto; margin-top: 2em; padding:0 2em 2em 2em;}
.translations-index div.namespace span {padding-right:1em;}
.translations-index .updated {color:orange;}
.translations-index .translated {color:blue;}
.translations-index .betaed {color:green;}
.translations-index .not_translated {color:red;}
.translations-index div.translation {margin:0 10% 0 10%; border-bottom: 1px solid black; padding: 2em 0 2em 0; overflow:auto;}
.translation-admin-links a {color:#900;}

.translation_notes-index .note-text {padding:1em;}
.translation_notes-index .note {border-bottom:1px dashed black; padding-top:1em; width:80%;}
