/*I have not touched this and it is not part of my design-- lim 01/09/11*/
#header   {background: #000; color: #fff; padding: .5em 0; font-family: Cambria, Constantia, Palatino, Georgia, sans-serif; font-weight: 400; width: 100%; margin: 0; height: 1.5em;}
#header a {color: #fff; text-decoration: none; border: none;}
#header a:hover {text-decoration: underline;}
#header h1 {font-size: 1em; float: left; margin: 0; padding: .25em .5em; line-height: 1.25em;}


