#globalize {
    float: left;
}

#globalize a:link, #globalize a:visited {
    text-decoration: none;
}

#globalize a:hover, #globalize a:active {
    background: #222;
    color: #fffef9;
}

#globalize ul {
    color: #777;
}

#globalize ul li {
    display: inline;
    margin: 0.25em;
}

#globalize form {
    display: inline;
}

#globalize select {
    background: #fffef9;
    color: #222;
	padding: 0.125em;
	border: 1px solid #999;
}

.inplaceeditor-form input
[ type = text ], .inplaceeditor-form textarea {
    border: 1px solid #999;
    width: 16em;
}

.inplaceeditor-form a:link, .inplaceeditor-form a:visited, .inplaceeditor-form a:hover, .inplaceeditor-form a:active {
    font-size: 0.75em;
}