#header   {background: #000; color: #fff; padding: .5em 0; font-family: Cambria, Constantia, Palatino, Georgia, sans-serif; font-weight: 400; width: 100%; margin: 0; height: 1.5em;}
#header a {color: #fff; text-decoration: none; border: none;}
#header a:hover {text-decoration: underline;}
#header h1 {font-size: 1em; float: left; margin: 0; padding: .25em .5em; line-height: 1.25em;}

#main {margin: 1em;}

ul.dropdown_nav {
  margin: 0 2em;
  padding: .25em .5em;
  float: left;
  list-style-type: none;
}
ul.dropdown_nav a {
  display: block;
  width: 15em;
}
ul.dropdown_nav li {
  float: left;
  width: 15em;
  margin-right: 2em;
  font-weight: 400;
}
ul.dropdown_nav li ul {
  position: absolute;
  width: 15em;
  left: -999em;
  list-style-type: none;
  background: #fff;
  padding: .5em;
  border: 1px solid #ccc;
  z-index: 99;
}
ul.dropdown_nav li ul li {
  width: 100%;
  padding: .5em;
  border-bottom: 1px solid #eee;
  clear: left;
}
#header ul.dropdown_nav li ul a {
  color: #000;
}
ul.dropdown_nav li:hover ul, ul.dropdown_nav li.sfhover ul {
  left: auto;
}


.landmark, #skiplinks {display: none;}
#main.yuletide2010-index ul li {display:inline; margin-right: 2em;}
.works-index ul {margin: 1em 0;}
#main li.blurb {margin: 1em 0; width: 90%; border-bottom: 1px solid #ccc; padding: 1em;}
li.blurb a {color: #900900;}
li.blurb h4 {font-size: 1.25em;}
li.blurb h4, li.blurb h5 {margin: 0;}
li.blurb h4 a {border: none;}
li.blurb h4 a:hover {text-decoration: underline;}
li.blurb dl {margin: 1em 0 0 0;}
li.blurb dt, li.blurb dd {display: inline;}
li.blurb dd {margin: 0 2em 0 0;}
#main li.blurb blockquote {margin: 0; background: #eee; border: 1px solid #ccc; padding: .5em;}
#main li.blurb .tags, #main li.blurb .stats {font-size: .9em;}

#main .fandoms-index ul.index li      { float: left; width: 45%; margin: .25em 0; }
#main .fandoms-index ul.index li.odd  {clear: left;}
#main .fandoms-index ul.index li.even {margin-left: 10%;}
#main .fandoms-index div.main-fandoms-listing {clear: both;}
#main .fandoms-index .filters       {float: left; width: 100%;}
#main .fandoms-index .alphabet li   {display: inline; margin: .25em;}
#main .fandoms-index .alphabet li a {text-decoration: none;}
#main .fandoms-index li.letter      {float: left; width: 100%;}
#main .fandoms-index ul.letters {
  float: left; 
  width: 90%; 
  margin: 2em; 
  padding: 0 1em;
} 
.shadowed {
  border: 1px solid #eee;
  -moz-box-shadow: 3px 3px 4px #ccc;
  -webkit-box-shadow: 3px 3px 4px #ccc;
  box-shadow: 3px 3px 4px #ccc;
}
#main .fandoms-index ul.letters.collection {margin-left: 0; width: 95%;}
#main .fandoms-index li.letter h3 {background: #eee; padding: .25em; width: auto;}
#main .fandoms-index li.letter h3 .top {float: right; font-size: .8em;}

#work {width: 80%; margin: 0 auto;}
#work h1 {margin: 1em 0 0 0;}
#work p.message {margin: 2em 0;}
#work .meta .byline {margin-bottom: 2em;}
#work .meta blockquote {margin: 0 0 2em 0;}
#work .meta p {margin: 0;}
#work #chapters p {margin: 1em 0;}

/* META*/
 #main dl.tags 				{ background: #eee; border: 1px solid #ccc; clear: right; margin: 0 auto; padding: 0.5em 1em; position: relative }
 .meta dt, .meta dt.warning	{ font-size: 0.875em; font-weight: 100; width: 10.5em }
 #main .meta dd				{ margin: -1.3em 0 .7em 13em;  }
 #main .meta .stats dl dd	{ margin: 0 0.5em 0 }
 .meta dd ul li 			{ display: inline; margin: auto;}
 .meta dd blockquote		{ margin: -1em 0 0 0 !important;}
