<h2><%= @locale.name %></h2>

<ul>
  <li><%= link_to t('translator_count', :default => "{{count}} translators", :count => @locale.has_translators.size), locale_translators_path(@locale) %></li>
  <li><%= link_to t('volunteer', :default => 'volunteer!'), new_feedback_report_path %></li>
</ul>

<%- unless @locale.id == @current_locale.id -%>
<div id="set_locale_link"><%= link_to t('switch_locale', :default => "Browse in this locale"), set_locales_path(:locale_id => @locale.iso) %></div>
<%- end -%>