<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= @locale.name %></h2>
<!--/descriptions-->

<!--subnav-->

<ul>
  <li><%= link_to t('.volunteer', :default => 'volunteer!'), new_feedback_report_path %></li>
</ul>
