<!--Descriptive page name, messages and instructions-->
<div class="primary header module">
	<% 	display_name = @pseud ? @pseud.name : @user.login	%>
	<h2 class="heading">
	  <%= @pseud ? link_to_unless_current(display_name, user_pseud_path(@user, @pseud)) : link_to_unless_current(display_name, @user) %>
	</h2>
	<p class="icon"><%= icon_display(@user, @pseud) %></p>
<!--/descriptions-->

  <!--subnav-->
  <%= render "users/header_navigation" %>
  <!--/subnav-->

</div>
