<!--Descriptive page name, messages and instructions-->
<div class="primary header module">
  <h2 class="heading">
    <%= @pseud ? @pseud.byline : @user.login %>
  </h2>
  <p class="icon"><%= icon_display(@user, @pseud) %></p>
<!--/descriptions-->

  <!--subnav-->
  <% if logged_in? || policy(User).can_manage_users? %>
    <%= render "users/header_navigation" %>
  <% end %>
  <!--/subnav-->

</div>
