<!-- OpenID field -->	
	<p>
		<%= f.label :identity_url, h("OpenID URL:").t  %><br />
		<%= image_tag("openid.png", :alt => h(' ').t, :class => 'openid') %> <%= f.text_field :identity_url,  :tabindex => '5' %>
	</p>

