<!-- OpenID field -->	
<span class="authentication-label"><label for="openid_url">
<%= link_to "OpenID", 'http://openid.net/', :popup => true %> URL:</label></span>
<br />
<%= image_tag("openid.png", :alt => h('OpenID logo').t, :class => 'authentication-openidlogo') %> <%= f.text_field :identity_url, :class => 'authentication-textfield', :tabindex => '5' %>
<br />

