<!-- Password with link to strong password info (still needs to be added) -->
<span class="authentication-label"><label for="password"><%= "And your password?" .t %> (Make it a <a href="#" tabindex="2">strong</a> one!)</label></span><br />	
<%= f.password_field :password, :class => 'authentication-textfield', :tabindex => '3' %>
<br />
<!-- Confirm password -->
<span class="authentication-label"><label for="password_confirmation"><%= "Enter it again so we're sure we've got it?" .t %></label></span><br />
<%= f.password_field :password_confirmation, :class => 'authentication-textfield', :tabindex => '4' %>
<br />

	  