<li class="user">
  <div>
    <h3><%= link_to(user.login, user_path(user)) -%></h3>
    <ul class="pseuds">
    	<% user.pseuds.each do |pseud| -%> 
				<li><%= link_to pseud.name, user_works_path(user, :pseuds => [pseud.name]) %></li>
			<% end -%>
  	</ul>
	<p><%= image_tag("icon_placeholder.png", :size => "50x50", :alt => "(Icon!)") %></p>
	<ul class="tags">
	  <%- logger.info "categories: " + @categories.to_yaml -%>
    <%- user.most_popular_tags(:category => @categories, :limit => 5).each do |tag| -%>
      <li><%= link_to tag.name, user_works_path(user, :selected_tags => [tag.name]), :class => 'tag' %></li>
    <%- end -%>
	</ul>
  </div>
</li>
