<h2><%= "Account deleted!" %></h2>
<p><%=h 'Your account has been deleted.' %></p>

<p><%=h 'Thank you for using the Archive, and we hope to see you again someday.' %></p>

<p><%=h "If you orphaned your works, thank you for your generosity." %></p>