<h2><%= "Account deleted!".t %></h2>
<p><%=h 'Your account has been deleted.'.t %></p>

<p><%=h 'Thank you for using the Archive, and we hope to see you again someday.'.t %></p>

<p><%=h "If you orphaned your works, thank you for your generosity.".t %></p>