<h1><%=h 'All Users:'.t %></h1>

<ul><%= @users.map{|user| "<li>" + link_to(user.login, user_path(user)) + "</li>"} %></ul>

<div class="pagination">
	  <%= will_paginate @users, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>