<h1><%=h 'All Users:'.t %></h1>

<%= alpha_paginated_section -%>

 <ul>
  <%- @users.each do |user| -%>
    <%= render :partial => 'user_blurb', :locals => {:user => user} -%>
  <%- end -%>  
</ul>

<%= alpha_paginated_section -%>