<ul id="navi">
  <li>
    <%= link_to '&lt;&lt; ' + 'Back to story list'.t, works_path, :class => 'list-left' -%>
  </li>
</ul>
<div class="clearboth"></div>

<h2>Nothing here yet!</h2>

<p>
	User profile and more goodness coming soon. 
</p>

