<%- if @user == current_user && @user.preference.first_login -%>
  <div class="flash notice" id="first-login-help-banner"><!-- pseudoflash because putting it in a real one was making for some ugly code -->
    <div style='width: 90%;'>
      <%= link_to_ibox t("new-user-help", :default => "Hi! It looks like you\'ve just logged into the archive for the first time. Click here for some tips and tricks (and to make this message go away permanently)."), :for => first_login_help_path, :title => "First login help", :size => "600x400" %>
      </div>
      <div style='float:right; margin-top: -1em'>
        <%= link_to_function image_tag('close-flash.png'), "$('first-login-help-banner').hide" %>
      </div>
  </div>
<%- end -%>
<div id="user-page">
  <%= render :partial => "users/header", :locals => {:user => @user} %>
  <%= render :partial => "users/contents" %>
</div> 
