<div id="user-page">
  <div id="user-icon"><%= image_tag("user_icon.png", :size => "100x100", :alt => "(Icon!)") %></div>
  <h1><%=h @user.login %></h1>
    
  <%- if logged_in? && current_user == @user -%>
    <p>
      <%= link_to "Edit profile".t, edit_user_path(@user) %> | 
      <%= link_to 'Manage pseuds'.t, user_pseuds_path(@user) %>
    </p>
  <%- end -%>

</div> 


