<!--SUSPECT USER HOME/ COLLECTION HOME and h2-->
<h3 class="heading">Your Assignments<%= @collection ? " In #{link_to(@collection.title.html_safe, @collection)}" : "" %></h3>

<% unless @collection %>
<p><%= ts('Looking for prompts you claimed in a prompt meme? Try') %> <%= link_to ts("My Claims"), user_claims_path(@user) %></p>
<% end %>

<dl class="index group">
  <% @challenge_assignments.each do |assignment| %>
    <%= render "assignment_blurb", :assignment => assignment %>
  <% end %>
</dl>
