<!-- BEGIN metadata -->
  <div id="story-meta">
  <div class="north-east"></div>
  <ul>
    <% TagCategory.official.map(&:name).each do |category| -%>
    <li><strong><%= category %>:</strong> 
      <% @work.tags(category).each do |tag| -%>
      <%= link_to(tag.name, tag_path(tag))%>
      <% end -%></li>
    <% end -%>
  </ul>
  <div class="south-east"></div>
  <div class="south-west"></div>
  </div>
<!-- END metadata -->
