<!-- this is just a temporary placeholder for now to show style -->

<!-- BEGIN metadata -->
  <div id="story-meta">
  <div class="north-east"></div>
  <ul>
  	<li><strong>not real data!</strong></li>
    <li><strong>Fandom:</strong> <a href="#" class="story-series">1776</a> (<a href="#" class="story-genre">Musical</a>)</li>
    <li><strong>Pairing:</strong> <a href="#" class="story-pairing">John Adams/Thomas Jefferson</a></li>
    <li><strong>Rating:</strong> <span class="story-rating">Author has chosen not to rate</span></li>
    <li><strong>Warnings:</strong> <span class="story-warning">Author has chosen not to warn</span></li>
    <li><strong>Tags:</strong> <a href="#" class="story-tag">silly</a>, <a href="#" class="story-tag">founding fathers</a>, 
        <a href="#" class="story-tag">sit down john</a>, <a href="#" class="story-tag">i'll type the rest out later honest</a></li>
  </ul>
  <div class="south-east"></div>
  <div class="south-west"></div>
  </div>
<!-- END metadata -->
