<ul>
  <li><%= link_to t(".all_fandoms"), media_index_path %></li>
  <%# When changing the cache key, also update Media#expire_caches %>
  <% cache "homepage-fandoms-version2", skip_digest: true do %>
    <% Media.for_menu.each do |medium| %>
      <% unless medium.id.nil? %>
        <li><%= link_to medium.name, media_fandoms_path(medium) %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
