<%= render :partial => 'layouts/header' %>
<div id="inner" class="wrapper">

<h2 class="heading"><%= ts('Forced logout') %> </h2>

<div class="userstuff">
  <p><%= ts("I am afraid we have had to log you out as your cookies are inconsistent. We use the cookies to ensure that your data remains private and to ensure that is the case we have logged you out, sorry.") %></p>
  <p><%= ts("Please ensure that we can save cookies. You could try a differnet browser?") %></p>

</div>
</div>
