<h2 class="heading">DMCA & TIDA Policies</h2>
<div id="takedown" class="userstuff">
  <p>As the Organization for Transformative Works (OTW) is a U.S. nonprofit, we are subject to U.S. law. Content that is made available on any of our sites, including the Archive of Our Own (AO3), may therefore be subject to removal under certain conditions. In order to enact removal of content under the policies described on this page, a statutorily valid takedown notice must be submitted by an individual with the legal right to request removal of the content in question. <strong>We will not uphold removal requests from unauthorized third parties.</strong></p>
  <nav id="toc" class="toc-nav-heading">
    <h3 id="toc-nav-heading" class="heading">Table of Contents</h3>
    <h4><a href="#dmca_policy">DMCA Policy</a></h4>
    <ul>
      <li><a href="#dmca_removal_options">My work was posted on AO3 without my permission. What can I do?</a>
        <ul>
          <li><a href="#dmca_takedown_instructions">Filing a DMCA takedown notice</a></li>
          <li><a href="#dmca_takedown_requirements">Requirements of a DMCA takedown notice</a></li>
          <li><a href="#dmca_takedown_process">DMCA takedown process</a></li>
        </ul>
      </li>
      <li><a href="#dmca_appeal_options">I was notified that my work was removed from AO3 due to a DMCA takedown notice. What can I do?</a>
        <ul>
          <li><a href="#dmca_counternotice_instructions">Filing a DMCA counternotice</a></li>
          <li><a href="#dmca_counternotice_requirements">Requirements of a DMCA counternotice</a></li>
          <li><a href="#dmca_counternotice_process">DMCA counter-notification process</a></li>
        </ul>
      </li>
    </ul>
    <h4><a href="#tida_policy">TIDA Policy</a></h4>
    <ul>
      <li><a href="#tida_removal_options">A sexually explicit photorealistic image depicting me was posted on AO3 without my consent. What can I do?</a>
        <ul>
          <li><a href="#tida_takedown_instructions">Filing a TIDA removal request</a></li>
          <li><a href="#tida_takedown_requirements">Requirements of a TIDA removal request</a></li>
          <li><a href="#tida_takedown_process">TIDA takedown process</a></li>
        </ul>
      </li>
      <li><a href="#tida_appeal_options">I was notified that my work was removed from AO3 due to a TIDA removal request. What can I do?</a></li>
    </ul>
    <h4><a href="#repeat_offenses">Repeat Offenses</a></h4> </nav>
  <h3 class="heading" id="dmca_policy">DMCA Policy</h3>
  <p>The Digital Millennium Copyright Act (DMCA) establishes the procedure the OTW will follow when users of our sites (including AO3) <a href="/tos_faq#copyright_plagiarism_faq">reproduce copyrighted material without authorization</a>, if the infringing material is reported to us by the copyright owner or someone legally authorized to act on their behalf.</p>
  <p>The OTW adheres to <a href="https://www.law.cornell.edu/uscode/text/17/512">17 U.S.C. § 512</a> and will respond promptly to notices of alleged copyright infringement that substantially comply with all <a href="#dmca_takedown_requirements">legal requirements</a>. However, we believe that <a href="https://www.transformativeworks.org/faq/#faq-WhydoestheOTWbelievethattransformativeworksarelegal">transformative fanworks are legal</a>, and we reserve the right to review the allegedly infringing content and independently determine whether it is infringing. If you have any questions about the OTW's DMCA Policy, please <a href="https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy">contact the Legal committee</a>.</p>
  <h4 class="heading" id="dmca_removal_options">My work was posted on AO3 without my permission. What can I do?</h4>
  <p>If you encounter content on AO3 that you believe infringes on your copyrighted work, you have the following options:</p>
  <ul>
    <li><strong><a href="/abuse_reports/new">Submit an Abuse report</a>:</strong> Abuse reports are evaluated by the Policy & Abuse committee for violations of the <a href="/tos">AO3 Terms of Service</a>, and held to a very high <a href="/tos_faq#report_anonymity">standard of confidentiality</a>. When submitting an Abuse report about <a href="/tos_faq#copyright_plagiarism_faq">plagiarism or copyright infringement</a>, you must provide a link to the violating content on AO3 and clearly identify the original source in your report description. For more information, please refer to the <a href="/tos_faq#report_infringement">Terms of Service FAQ</a>.</li>
    <li><strong><a href="#dmca_takedown_instructions">File a DMCA takedown notice</a>:</strong> DMCA takedown notices can <strong>only</strong> be filed by the copyright owner or someone legally authorized to act on their behalf. DMCA notices must be sent to the OTW's designated agent and comply with all <a href="#dmca_takedown_requirements">legal requirements</a>. DMCA notices are <a href="/tos_faq#dmca_complaint">not subject to confidentiality</a>. The OTW reserves the right to make public all DMCA notices that we receive, though information may be redacted for privacy.</li>
  </ul>
  <p>Please <strong>do not</strong> submit an Abuse report if you intend to file a DMCA notice. Submitting both an Abuse report and a DMCA notice about the same content may delay the processing of your request.</p>
  <h5 class="heading" id="dmca_takedown_instructions">Filing a DMCA takedown notice</h5>
  <p>To initiate a formal DMCA takedown request, contact the OTW's designated agent using <a href="https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy">the Legal committee's contact form</a>, via email to legal@transformativeworks.org, or by mailing a letter to:</p>
  <address>
    Organization for Transformative Works<br />
    228 Park Ave S #18156<br />
    New York, NY 10003-1502<br />
    Attention: Legal
  </address>
  <p>We prefer to receive DMCA requests through the contact form or by email.</p>
  <h5 class="heading" id="dmca_takedown_requirements">Requirements of a DMCA takedown notice</h5>
  <p>The takedown notice must substantially comply with the requirements of 17 U.S.C. § 512(c)(3)(A). You are also required to consent to the jurisdiction of a United States court. The legal requirements of a valid DMCA takedown notice include:</p>
  <ol>
    <li>your physical or electronic signature;</li>
    <li>your contact information;</li>
    <li>identification of the copyrighted work being infringed upon (for example, a URL or publication listing);</li>
    <li>the URL(s) of the specific content on our site that you believe to be infringing;</li>
    <li>a statement that you have a good-faith belief that the use of the content is not authorized by the copyright owner(s), their agent, or the law;</li>
    <li>
      <ol>
        <li>a statement, <strong>made under penalty of perjury</strong>, that you are authorized to act on behalf of the copyright owner; and</li>
        <li>a statement that the information you have provided is accurate.</li>
      </ol>
    </li>
  </ol>
  <p>Per 17 U.S.C. § 512(f), you may be subject to liability if you knowingly and materially misrepresent your claim that the content infringes on your copyright.</p>
  <h5 class="heading" id="dmca_takedown_process">DMCA takedown process</h5>
  <p>If the OTW receives a DMCA takedown notice that fulfills all <a href="#dmca_takedown_requirements">legal requirements</a>, we will remove the content once we review the validity of the infringement claim.</p>
  <p>When the content is removed from AO3, the information you provided in the DMCA takedown notice will be forwarded to the owner of the account responsible for posting the content. We may also send a redacted version of the DMCA takedown notice to <a href="https://lumendatabase.org/">Lumen</a> and other third parties at our discretion.</p>
  <p>If the account owner believes that their content does not infringe upon your copyright, they may file a DMCA counternotice disputing the takedown. The account owner can file a DMCA counternotice at any point after the content has been removed; there is no time limit.</p>
  <p>If the OTW receives a valid DMCA counternotice, we will make reasonable efforts to notify you. You will have 10 business days to file a lawsuit to prevent the restoration of the content. If you do not notify us within 10 business days that you have filed a lawsuit, we may allow the content to be restored in accordance with 17 U.S.C. § 512(g)(2)(B)-(C).</p>
  <h4 class="heading" id="dmca_appeal_options">I was notified that my work was removed from AO3 due to a DMCA takedown notice. What can I do?</h4>
  <p><a href="/content#II.D">Copyright infringement</a> and <a href="/content#II.E">plagiarism</a> are violations of Sections II.D. and II.E. of our <a href="/tos">Terms of Service</a>, respectively. For more information, please refer to our <a href="/tos_faq#copyright_plagiarism_faq">Terms of Service FAQ</a>.</p>
  <p>If the OTW receives a valid DMCA takedown notice for content you uploaded to AO3, we will <a href="/tos_faq#complaint_notification">remove the content and notify you by email</a>. We may also send a redacted version of the DMCA takedown notice to <a href="https://lumendatabase.org/">Lumen</a> and other third parties at our discretion.</p>
  <p>If your content was removed due to a DMCA takedown notice, <strong>you <em>cannot</em> reupload or repost the content unless you have filed a DMCA counternotice to dispute the takedown</strong>. If you reupload or repost the content without filing a DMCA counternotice, we may <a href="#repeat_offenses">suspend your account</a>.</p>
  <h5 class="heading" id="dmca_counternotice_instructions">Filing a DMCA counternotice</h5>
  <p>If you believe that your content does not infringe on the copyright owner's work, you can file a DMCA counternotice to dispute the takedown. By filing a counternotice, you are indicating that <strong>you are willing to defend your use of the original copyrighted material in court</strong> if the party who submitted the original takedown notice chooses to pursue legal action against you.</p>
  <p>If you are considering whether to file a DMCA counternotice, we recommend that you contact an intellectual property lawyer licensed to practice in your jurisdiction, so that you are aware of your legal rights and obligations. You can also review the <a href="https://lumendatabase.org/topics/14">Lumen DMCA Explanation and FAQ</a>.</p>
  <p>To initiate a formal DMCA counter-notification request, contact the OTW's designated agent using <a href="https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy">the Legal committee's contact form</a>, via email to legal@transformativeworks.org, or by mailing a letter to:</p>
  <address>
    Organization for Transformative Works<br />
    228 Park Ave S #18156<br />
    New York, NY 10003-1502<br />
    Attention: Legal
  </address>
  <p>We prefer to receive DMCA requests through the contact form or by email.</p>
  <p>You can file a DMCA counternotice at any point after your content has been removed; there is no time limit.</p>
  <h5 class="heading" id="dmca_counternotice_requirements">Requirements of a DMCA counternotice</h5>
  <p>The counternotice must substantially comply with the requirements of 17 U.S.C. § 512(g)(3). You are also required to consent to the jurisdiction of a United States court. The legal requirements of a valid DMCA counternotice include:</p>
  <ol>
    <li>your physical or electronic signature;</li>
    <li>your name, address, and phone number;</li>
    <li>the URL(s) of the content that was removed;</li>
    <li>a statement, <strong>made under penalty of perjury</strong>, that the content was removed due to a mistake or misidentification;</li>
    <li>a statement that you consent to the jurisdiction of a U.S. federal court in either:
      <ol>
        <li>the district where you live, if you are in the U.S.; or</li>
        <li>the district where the OTW is located (<a href="/tos#I.A.3">Manhattan, New York</a>), if you are not in the U.S.; and</li>
      </ol>
    </li>
    <li>a statement that you will accept service of process from the party who submitted the original takedown notice.</li>
  </ol>
  <p>Per 17 U.S.C. § 512(f), you may be subject to liability if you knowingly and materially misrepresent your claim that the content was removed due to a mistake or misidentification.</p>
  <h5 class="heading" id="dmca_counternotice_process">DMCA counter-notification process</h5>
  <p>If the OTW receives a valid DMCA counternotice, we will make reasonable efforts to notify the party who submitted the original takedown notice.</p>
  <p>The original submitter will have 10 business days to prevent the restoration of your content by filing a lawsuit against you. If the original submitter does not file a lawsuit within 10 business days, the OTW may restore your content (or, if your content has already been deleted, allow you to reupload it) between 10 and 14 business days after we receive the counternotice. We may also send a redacted version of the DMCA counternotice to <a href="https://lumendatabase.org/">Lumen</a> and other third parties at our discretion.</p>
  <h3 class="heading" id="tida_policy">TIDA Policy</h3>
  <p>The "Tools to Address Known Exploitation by Immobilizing Technological Deepfakes on Websites and Networks Act" (Take It Down Act, or TIDA) establishes the procedure the OTW will follow when users of our sites (including AO3) embed or link to nonconsensual, sexually explicit photorealistic images of an identifiable individual, if the images are reported to us by the depicted individual or by someone legally authorized to act on their behalf.</p>
  <h4 class="heading" id="tida_removal_options">A sexually explicit photorealistic image depicting me was posted on AO3 without my consent. What can I do?</h4>
  <p>If you encounter a sexually explicit or suggestive photograph, video, photorealistic computer-generated image (including "deepfakes" and "AI" images), or other photorealistic image on AO3 that could potentially be mistaken for an actual photograph or video of you in a sexually explicit context, you have the following options:</p>
  <ul>
    <li><strong><a href="#tida_takedown_instructions">File a TIDA removal request with the OTW</a>:</strong> TIDA removal requests can <strong>only</strong> be filed by the individual depicted in the image or by someone legally authorized to act on their behalf. TIDA removal requests must be sent to the OTW's designated agent and comply with all <a href="#tida_takedown_requirements">legal requirements</a>.</li>
    <li><strong>File a TIDA removal request with the image host:</strong> Because images embedded in works are not hosted on AO3, filing a TIDA removal request with the OTW will not remove the image itself from the internet. You may therefore wish to contact the image host directly and file your removal request with them. If the hosting service removes the image, the image will no longer appear on any site, including AO3.</li>
  </ul>
  <h5 class="heading" id="tida_takedown_instructions">Filing a TIDA removal request</h5>
  <p>A TIDA removal request can be filed for photographs, videos, or other images (including "deepfakes" and "AI" images) that are sexually explicit or suggestive, "indistinguishable from an authentic visual depiction", and published without the consent of the person depicted in the image.</p>
  <p>To initiate a TIDA removal request, the depicted person or their legal representative must contact the OTW's designated agent using <a href="https://www.transformativeworks.org/contact_us/?who=Legal%20Advocacy">the Legal committee's contact form</a> or via email to legal@transformativeworks.org. Submitters should be prepared to present proof that they are the depicted person or their legal representative. <strong>We will not process third-party complaints.</strong></p>
  <h5 class="heading" id="tida_takedown_requirements">Requirements of a TIDA removal request</h5>
  <p>A valid TIDA removal request must include:</p>
  <ol>
    <li>a physical or electronic signature of the identifiable individual (or an authorized person acting on their behalf);</li>
    <li>contact information for the identifiable individual (or an authorized person acting on their behalf);</li>
    <li>the URL(s) on our site where the image(s) can be found;</li>
    <li>a statement, <strong>made by the identifiable individual</strong> (or an authorized person acting on their behalf), that they are requesting to remove the image(s) because:
      <ol>
        <li>the image(s) in question are photorealistic, sexually explicit, and identifiably depict the named individual; and</li>
        <li>they have a good-faith belief that the image(s) were published without the consent of the identifiable individual.</li>
      </ol>
    </li>
  </ol>
  <h5 class="heading" id="tida_takedown_process">TIDA takedown process</h5>
  <p>If the OTW receives a TIDA removal request that fulfills all <a href="#tida_takedown_requirements">legal requirements</a>, we will remove the content once we review the validity of the claim.</p>
  <p>When the content is removed from AO3, we will make reasonable efforts to notify the owner of the account responsible for posting the content.</p>
  <p>If the account owner believes that their content does not violate the Take It Down Act, they may appeal by responding to the removal notice and explaining which elements do not apply. Appeals will be resolved at the sole discretion of the OTW.</p>
  <h4 class="heading" id="tida_appeal_options">I was notified that my work contained images that were subject to removal under the Take It Down Act. What can I do?</h4>
  <p>If the OTW receives a valid TIDA removal request for images featured in content you posted on AO3, we will <a href="/tos_faq#complaint_notification">remove the content and make reasonable efforts to notify you by email</a>.</p>
  <p>If your content was removed due to a TIDA takedown notice, you have the following options:</p>
  <ul>
    <li><strong>Remove the images from your work:</strong> Because the Take It Down Act only applies to images, you can remove the linked or embedded images that were the subject of the TIDA removal request. As long as your work does not otherwise violate the <a href="/tos">Terms of Service</a>, we may restore your content (or, if your content has already been deleted, allow you to reupload it).</li>
    <li><strong>Submit an appeal:</strong> If you believe the TIDA takedown notice was invalid, you can appeal the removal of the images by replying to the notification email. You will need to explain which elements of <a href="#tida_takedown_requirements">the original TIDA removal request</a> do not apply to your situation. Appeals will be resolved at the sole discretion of the OTW.</li>
  </ul>
  <p>If you reupload or repost the content without removing the linked or embedded images, or without your appeal being granted, we may <a href="#repeat_offenses">suspend your account</a>.</p>
  <h3 class="heading" id="repeat_offenses">Repeat Offenses</h3>
  <p>As required by 17 U.S.C. § 512(i)(1)(A), we may <a href="/tos_faq#penalty">suspend</a> users who repeatedly violate others' copyright. We may also suspend users who repeatedly post images in violation of the Take It Down Act. The OTW has the discretion to decide what qualifies as a repeated offense.</p>
  <hr />
  <p><small>AO3's takedown policy is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Material in this policy has been drawn from the DMCA policies of Dreamwidth, the Electronic Frontier Foundation, and Wikipedia.</small></p>
</div>
