<!--BACK END, would love system docs to be classes of main-->
<div class="system docs">
	<h2 class="heading"><%=h t('.tos', :default => "Terms of Service")%> </h2>

<%= render :partial => 'home/tos' %>
</div>