/* 01-CORE, 02-ELEMENTS: Very basics */

body,
.toggled form,
.dynamic form,
.secondary,
.dropdown {
  background: #333;
  color: #eee;
}

a,
a:link,
a:visited:hover,
.heading {
  color: #fff;
}

a:visited {
  color: #c2c2c2;
}

table {
    box-shadow: 1px 1px 3px #000;
}

table,
thead,
tfoot,
tbody,
tr,
th {
  background: #2a2a2a;
  border: 1px solid #555;
}

tr {
  background: #333;
}

td {
  background: transparent;
}

tbody tr,
tbody tr:hover {
  border-color: #555;
}

tbody tr:hover {
  background: #222;
}

li.blurb,
fieldset,
form dl {
  border-color: #555;
}

/* 03-REGION-HEADER: The header */

#header a,
#header a:visited,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#header #search input:hover,
#header #search input:focus {
  color: #fff;
}

#header .heading a,
#header .user a:hover,
#header .user a:focus {
  color: #95c6f4;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu {
  background: #2a2a2a;
}

#header .menu {
    box-shadow: 1px 1px 3px -1px #000;
}

#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
  background: #111;
}

#header .primary {
  background: #2a2a2a url("/images/skins/textures/tiles/black-noise.jpg");
}

/* 04-REGION-DASHBOARD: The dashboard side bar */

#dashboard a,
#dashboard span {
  color: #fff;
}

#dashboard a:hover {
  background: #2a2a2a;
  color: #c2c2c2;
    box-shadow: inset 2px 2px 2px #000;
}

#dashboard ul {
  border-color: #555;
}

#dashboard .current {
  background: #222;
  border: 1px solid #555;
    box-shadow: -1px -1px 3px #000;
}

#dashboard,
#dashboard.own {
  border-bottom-color: #95c6f4;
  border-top-color: #95c6f4;
}

/* 06-FOOTER */

#footer {
  background: #2a2a2a url("/images/skins/textures/tiles/black-noise.jpg");
  border-color: #555;
}

#footer a:hover,
#footer a:focus {
  background: #95c6f4;
  color: #111;
}

/* 07-INTERACTIONS: The forms */

fieldset, form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form.verbose legend,
.verbose form legend,
input,
textarea {
  background: #333;
  border-color: #222;
    box-shadow: none;
}

fieldset fieldset,
fieldset dl dl,
form blockquote.userstuff {
  background: transparent;
}

input,
textarea {
  color: #eee;
    box-shadow: inset 0 1px 2px #000;
}

input:focus,
textarea:focus {
  background: #2a2a2a;
}

select:focus {
  background-color: initial;
}

select,
input[type="radio"],
input[type="checkbox"],
input[type="file"] {
    color-scheme: dark;
}

select {
  border-color: #222;
}

form dt {
  border-bottom-color: #555;
}

form dd.required {
  color: #eee;
}

/* widget: live validation  */

.LV_invalid {
  background: #333;
  border-color: #ff7575;
  color: #ffada8;
    box-shadow: none;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
  border-color: #ff7575;
}

/* Firefox's focus indicator is very bright in dark mode, so tone our error color down by decreasing the opacity */
input.LV_invalid_field:focus,
textarea.LV_invalid_field:focus {
  border-color: rgba(255, 117, 117, 0.75);
}

.LV_invalid:before {
  border-color: #ff7575 transparent;
}

/* widget: autocomplete */

.autocomplete div.dropdown ul {
  background: #333;
  border-color: #222;
  color: #eee;
}

.autocomplete .dropdown ul li:hover,
.autocomplete .dropdown li.selected {
  background: #95c6f4;
  color: #111;
}

.required .autocomplete,
.autocomplete .notice {
  color: #eee;
}

/* widget: sortable list */

.ui-sortable li {
  background: #2a2a2a;
  border-color: #222;
    box-shadow: 1px 1px 3px transparent;
}

.ui-sortable li:hover {
  background: #333;
  border-color: #555;
    box-shadow: 1px 1px 3px #000;
}

.ui-draggable form {
    box-shadow: 0 0 3px #000;
}

/* widget: datepicker, timepicker */

#ui-datepicker-div {
  background: #333;
    box-shadow: 3px 3px 5px #000;
}

.ui-datepicker table {
  background: #333;
}

.ui-datepicker td {
  border-color: #222;
}

.ui-datepicker tr:hover,
.ui-datepicker td:hover {
  background: #555;
}

/* modal */

#modal {
  background: #333;
  border-color: #222;
}

#modal .content {
  border-bottom-color: #222;
}

div.dynamic {
  background: #333;
}

/* mods: single */

form.single fieldset {
  border-color: #555;
}

/* widget: toggled forms */

.toggled form,
.dynamic form {
  border-color: #222;
    box-shadow: none;
}

.post .required .warnings {
  color: #eee;
}

/* rich text editor */

.mce-container button {
    box-shadow: none;
}

.mce-container input:focus {
  background: #f3efec;
}

/* 08-ACTIONS */

.actions a,
.actions a:link,
.action,
.action:link,
.actions button,
.actions input,
input[type="submit"],
button,
.current,
.actions label {
  background: #555;
  border-color: #222;
  color: #eee;
    box-shadow: inset 0 -8px 4px #232323, inset 0 8px 7px #555;
    text-shadow: none;
}

.actions a:visited,
.action:visited,
.action a:link,
.action a:visited {
  color: #eee;
}

.actions a:hover,
.actions button:hover,
.actions input:hover,
.actions a:focus,
.actions button:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus {
  border-color: #000;
  color: #fafafa;
    box-shadow: inset 2px 2px 2px #000;
}

.actions a:active,
.current,
a.current,
a:link.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
.actions span.defaulted {
  background: #555;
  border-color: #fff;
  color: #fff;
    box-shadow: inset 1px 1px 3px #333;
}

.current,
a.current,
a:link.current {
  background: #222;
  border-color: #555;
    box-shadow: -1px -1px 3px #000;
}

.actions label.disabled {
  background: #222;
}

.actions .disabled select {
  color: #999;
  border-color: #000;
}

.delete a,
span.delete {
  color: #ffada8;
}

.secondary {
  background: #2a2a2a;
  border-color: #555;
    box-shadow: 1px 1px 3px #000;
}

/* context: work navigation actions with secondary navigation */

.work.navigation .download,
.javascript .work.navigation .download .secondary {
  background: #2a2a2a;
  border-color: #555;
    box-shadow: 1px 1px 3px #000;
}

/* don't let iOS add its special styling for dark buttons */
button,
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
}

/* 09-ROLES-STATES */

.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed {
  background: #222;
  border-color: #555;
}

span.unread,
.replied,
span.claimed,
.actions span.defaulted {
  background: #222;
  border-color: #555;
    box-shadow: -1px -1px 3px #000;
}

.draggable,
.droppable,
span.requested,
.nominations .rejected {
  color: #ffada8;
}

.actions span.defaulted {
  color: #eee;
}

span.offered,
.replied,
.nominations .approved {
  color: #a8ffad;
}

.nominations .approved,
.nominations .rejected {
  background: #333;
}

span.offered.requested {
  color: #ffe6a8;
}

/* 10-TYPES-GROUPS */

a.tag:hover,
.listbox .heading a.tag:visited:hover {
  background: #95c6f4;
  color: #111;
}

.wrapper {
    box-shadow: 1px 1px 3px #000;
}

dl.index dd,
li.relationships a {
  background: #2a2a2a;
}

a.work {
  color: #95c6f4;
}

.actions .reindex a {
  border-bottom-color: #95c6f4;
}

span.series .divider {
  color: #999;
}

.statistics .index li:nth-of-type(even) {
  background: #333;
}

#inner .module .heading {
  border-color: #555;
}

/* 11-GROUP-LISTBOX */

.listbox,
fieldset fieldset.listbox {
  background: #2a2a2a;
  border-color: #555;
    box-shadow: 1px 1px 3px #000;
}

.listbox > .heading {
  color: #fff;
}

.listbox .heading a:visited {
  color: #c2c2c2;
}

.listbox .index {
  background: #2a2a2a;
    box-shadow: inset 1px 1px 3px #000;
}

/* 12-GROUP-META */

dl.meta {
  border-color: #555;
}

/* 13-GROUP-BLURB */

li.blurb,
.listbox li.blurb {
    box-shadow: 1px 1px 3px #000;
}

.blurb .blurb {
  background: #2a2a2a;
    box-shadow: inset 1px 1px 3px #000;
}

.blurb h4 a:link {
  color: #95c6f4;
}

.picture .header {
  border-color: #555;
}

.listbox li.blurb {
  background: #333;
}

.bookmark .user {
  border-color: #555;
}

.reading h4.viewed {
  background: #2a2a2a;
}

/* 15-GROUP-COMMENT */

div.comment,
li.comment {
  border-color: #555;
    box-shadow: 1px 1px 3px #000;
}

.comment h4.byline {
  background: transparent;
}

.comment div.icon {
  border-bottom-color: #555;
}

.thread .even {
  background: #2a2a2a;
}

/* 16-ZONE-SYSTEM */

.splash .module h3 {
  border-bottom-color: #555;
  color: #95c6f4;
}

/* module: browse */

.splash .browse li a:before {
  color: #95c6f4;
}

/* module: favorite tags */

.splash .favorite li:nth-of-type(odd) a {
  background: #2a2a2a;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
  background: #95c6f4;
}

/* module: intro */

.splash .module div.account {
  background: transparent;
  border-color: #555;
    box-shadow: 1px 1px 3px #000;
}

/* module: news */

.splash .news li {
  border-bottom-color: #2a2a2a;
}

/* 6. ZONE: SYSTEM: FAQS */

.faq .categories h3 {
  border-bottom-color: #eee;
}

.faq .example,
.guideline .example {
  border-color: #75bcff;
}

/* 7. ZONE: SYSTEM: TOS, TOS FAQ, AND TOS POPUP */

.tos .userstuff nav.toc > details > summary {
  border-bottom-color: #eee;
}

#tos_prompt {
  background: #333;
}

#tos_prompt .heading {
  background: #2a2a2a;
  color: #95c6f4;
}

#tos_prompt [disabled] {
  background: #222;
}

/* 8. ZONE: SYSTEM: PROXY NOTICE */

#proxy-notice {
  background: #330f0f;
  border-bottom-color: #ff7575;
}

/* 18-ZONE-SEARCH-BROWSE */

form.search input[type="text"] {
  border-top-color: #000;
}

.search [role="tooltip"] {
  background: #95c6f4;
  border-color: #111;
}

form.filters fieldset {
  border: 1px solid #555;
    box-shadow: 1px 1px 3px #000;
}

.filters .expander {
  color: #eee;
    box-shadow: none;
}

.filters .group dt.bookmarker {
  border-top-color: #444;
}

/* 19-ZONE-TAGS */

.nomination dt {
  background: #333;
}

/* 21-USERSTUFF */

.userstuff h2 {
  color: #fff;
}

.userstuff h3 {
  border-bottom-color: #555;
}

.userstuff blockquote {
  border-left-color: #555;
}

.userstuff table {
    box-shadow: none;
}

/* 22-SYSTEM-MESSAGES */

.announcement .action {
  background: #333;
  border-color: #222;
}

.required {
  color: #83caff;
}

.error,
.alert.flash {
  color: #eee;
}

.notice,
.comment_notice,
.kudos_notice,
ul.notes,
.qtip-content {
  background: #333;
  border-color: #75bcff;
    box-shadow: none;
}

.caution {
  background: #333;
  border-color: #ffd875;
  color: #ffe6a8;
    box-shadow: none;
}

.error,
.comment_error,
.kudos_error,
.alert.flash {
  background: #333;
  border-color: #ff7575;
  color: #ffada8;
    box-shadow: none;
}

form .notice,
form ul.notes {
    box-shadow: none;
}

/* symbols */

span.symbol {
  color: #95c6f4;
}

span.question {
  background: #95c6f4;
  border-color: #111;
  color: #111;
    box-shadow: none;
}

/* 24-ROLE-ADMIN */

/* Note: There is no reasonable way to change the #footer background for admins outside the default site skin, which only loads 24-role-admin.css if the user is logged in as an admin. Styles in this and other skins will be loaded for everyone. */

#header .admin {
  background: #277e7e;
  border-top-color: #333;
}

#header .admin a:hover,
#header .admin a:focus {
  color: #fff;
}

.admin .management a {
  border-bottom-color: #73c4c4;
}

#admin_users_table th a:visited {
  color: #c2c2c2;
}

#admin_users_table th a:hover {
  color: #73c4c4;
}
