/* 25-MEDIA-MIDSIZE, 24-MEDIA-NARROW */

#header .user .open a:focus {
  color: #5998d6;
}

#outer {
  background: #333;
}

#dashboard .secondary {
  background: #2a2a2a;
    box-shadow: 1px 1px 3px #000;
}

.javascript {
  background: #2a2a2a;
}

.javascript form.filters fieldset,
.javascript form.filters dl {
  background: transparent;
}
