<%= form_tag (@collection ? collection_gifts_path(@collection) : gifts_path), :method => :get, :id => 'gift-search', :class => 'search' do %>
  <fieldset role="search">
	<legend>Gift Search</legend>
	<p>
    <%= label_tag :recipient, t('.gifts.recipient_field', :default => "Find gifts for: ")%>
    <%= text_field_tag :recipient, params[:recipient], :class => 'text', :title => 'gift search' %>
    <%= submit_tag t('.forms.gift_search', :default => 'Search'), :class => 'button', :name => nil %>
  </p>
</fieldset>
<% end -%>
