<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= ts("Gifts for %{recipient}", :recipient => @user ? @user.login : h(@recipient_name)) %>
  <%= @collection ? ts("in %{collection}", :collection => h(@collection.title.html_safe)) : "" %>
</h2>
<!--/descriptions-->

<!--subnavigation, sorting and actions-->
<% unless @user %>
  <%= render :partial => 'gifts/gift_search' %>
<% end %>
<!--subnav-->

<!--main content-->
<ul class="gift work index group">
  <% for work in @works %>
    <%= render :partial => 'works/work_blurb', :locals => {:work => work} %>
  <% end %>
</ul>
<!--/content-->