<% @work = @creation.respond_to?(:work) ? @creation.work : @creation %>
<% if @creation.is_a?(Work) %>
  <p>
    <%= @creation.pseuds.map{|p| p.byline}.to_sentence %> posted a <%= @work.backdate ? "backdated" : "new" %> work to your collection:
    <%= raw simple_format(get_embed_link(@work)) %>
  </p>
<% end %>

<p>You're receiving this email because you've chosen to be notified of new works added to your collection <%= link_to @collection.name, url_for(@collection) %>. Follow the link to change settings if you no longer wish to receive updates.</p>