<h1>All Users:</h1>

<table id="admin_users_table">
<caption><!--A summary of the table contents and purpose here pleasee--></caption>
<%- for user in @users -%>
  <tr id="user_<%= user.id %>">
    <%= render :partial => 'user_form', :locals => {:user => user} %>
  </tr> 
<%- end -%>
</table>

<div class="pagination">
	  <%= will_paginate @users, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>