<% content_for :message do %>

  <p>The following abuse report has been made:</p>
  
  Email of the person who reported the abuse, if given: <%= style_email(@email, @email) %><br>
  URL of the page the abuse is on: <%= style_link(@url, @url) %><br>
  Description of the abuse:
  
  <%= style_quote(@comment) %>

<% end %>
