<p>Here's some user feedback on the archive!</p>

<%= ArchiveConfig.REVISION.blank? ? "" : "<p>Archive revision: (rev.#{ArchiveConfig.REVISION})</p>" -%>

<p>Feedback:</p>

<p><%= @comment %></p>

<p>Sent at: <%= Time.now.strftime(common_timestring) -%>
