<p>Here's some user feedback on the archive!</p>

<%= ArchiveConfig.REVISION.blank? ? "" : "<p>Archive revision: (rev.#{ArchiveConfig.REVISION})</p>" -%>

<p>Feedback:</p>

<%= sanitize_and_format_for_display @comment %>

<p>Sent at: <%= Time.now.strftime(common_timestring) -%></p>

<p>&nbsp;</p>
