<% content_for :message do %>

  <p><%= style_bold("Here's some user feedback on the archive!") %></p>
  
  <% unless ArchiveConfig.REVISION.blank? %>
    <p>
      Archive revision: (rev. <%= ArchiveConfig.REVISION %>)
    </p>
  <% end %>

  Feedback:  
  <%= style_quote("<b>" + (raw @summary) + "</b>" + (raw @comment)) %>

<% end %>

<% content_for :sent_at do %>
  <%= Time.now.to_s(:time_for_mailers) %>
<% end %>



