<% content_for :message do %>

  <p>The following accounts have a suspicous level of traffic:</p>
     <%@spam_score.sort_by{|k,v| -1*v}.map do |pseud,score| %>
       <% user = User.find(pseud) %>
       <h3>User <%= link_to user.login, user_works_path(user)%> has a score of <%= score %></h3>
       <ul>
          <%@spam_works[pseud].each { |w| %>
            <% work = Work.find(w) %>
          <li><%=  link_to work.title, work_path(w) %></li>
          <% } %>
       </ul>
     <% end %>

<% end %>
