<h3 class="landmark heading"><%= t(".landmark") %></h3>
<% if policy(AdminPost).can_post? %>
  <ul class="navigation actions">
    <li><%= span_if_current t(".ao3_news"), admin_posts_path %></li>
    <li><%= span_if_current t(".post_ao3_news"), new_admin_post_path %></li>
    <% if params[:action] == "edit" %>
      <li>
        <%= link_to t(".news.delete_post"),
          @admin_post,
          data: { confirm: "Are you sure you want to delete this news post?" },
          method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>
