## full path to mysql and mysqldump if they are not in PATH

#mysql: /opt/local/bin/mysql5
#mysqldump: /opt/local/bin/mysqldump5

## database to dump

database: otwarchive_production
encoding: utf8

## username must have GRANT FILE ON *.* 
## and SELECT and LOCK TABLES ON database.*

username: root
password: 

## path must exist and be writable by mysql and whoever runs the script
## path defaults to RAILS_ROOT/db/backup but must still be manually created
## with permissions 770 and group mysql
## must end with slash

#path: /backup/archive/

## tables can be customized as to how long old copies are retained

#days:
#  users: 1
#  chapters: 30

## if huge database files need to be split into smaller files for convenience:
## field - what field to split on (must be numeric!)
## number - how many of each field should be in a single file

#split:
#  chapters: 
#    field: work_id
#    number: 100


# use diffs instead of hard links
#diffs: true
