## full path to mysql in case it's not in cron's path
#mysql: /usr/local/mysql/bin/mysql
#mysqldump: /usr/local/mysql/bin/mysqldump

## database to dump
database: otwarchive_production
encoding: utf8

## username must have GRANT FILE ON *.* 
## and SELECT and LOCK TABLES ON database.*
## access in mysql
#username: backup
#password: 

## path must exist and be writable by mysql and whoever runs the script
## should be 770 with user and mysql group or mysql and user group
## path defaults to RAILS_ROOT/db/backup but must still be manually created
#path:

## days is the default time in days a table should be kept in backups
## if not listed individually in tables
## TODO - purge not implemented yet
days: 365

## tables have two properties that can be overridden
##  days - how long to keep before purging
## and split properties
##  split_owner - what field to split on
##  split - how many split_owners in a file
## TODO - be able to split on joins, not just _id
tables:
  chapters: 
    split: 100
    split_owner: work
#  schema_info:
#    days: 1
