set :user, "myname"
set :rails_env, "production"

set :deploy_via, :remote_cache
set :host, "archiveofourown.org"
set :auth_methods, "publickey"
set :repository,  "http://otwarchive.googlecode.com/svn/trunk/"
set :deploy_to, "/var/www/otwarchive"
set :use_sudo, false
set :keep_releases, 4

role :app, host
role :web, host
role :db, host, :primary => true

before "deploy:setup", :local
after "deploy:update_code", "local:update"


after "deploy:symlink", "deploy:update_crontab"

# note that environment should be set to production only if you want email-sending tasks to be run
namespace :deploy do
  desc "Update the crontab file"
  task :update_crontab, :roles => :db do
    run "cd #{release_path} && whenever --write-crontab #{application} --set environment=production"
  end
end

namespace :local do
  desc "Create placeholders for configuration files"
  task :default do
    run "mkdir -p #{shared_path}/config" 
    touch "#{shared_path}/config/database.yml" 
    touch "#{shared_path}/config/local.yml" 
    touch "#{shared_path}/ultrasphinx/production.base"
    puts "requires manual configuration"
  end

  desc "Update version and link to current" 
  task :update do
    run "ln -sf #{shared_path}/config/local.yml #{release_path}/config/local.yml" 
    run "sed -i '$d' #{shared_path}/config/local.yml"
    run "echo -n 'REVISION: ' >> #{shared_path}/config/local.yml"
    run "cat #{release_path}/REVISION >> #{shared_path}/config/local.yml"
    run "ln -sf #{shared_path}/config/database.yml #{release_path}/config/database.yml" 
    run "cd #{release_path} && ruby script/delayed_job stop"
    run "cd #{release_path} && rake ts:rebuild"
    run "cd #{release_path} && ruby script/delayed_job start"
  end
end

after "deploy", "deploy:cleanup"
after "deploy:migrations", "deploy:cleanup"

namespace :mod_rails do
  desc "Restart the application altering tmp/restart.txt for mod_rails."
  task :restart, :roles => :app do
    run "touch  #{release_path}/tmp/restart.txt"
  end
end
 
namespace :deploy do
  %w(start restart).each { |name| task name, :roles => :app do mod_rails.restart end }
end
