run_main_reindex_queues:
  every: 1m
  class: "ScheduledReindexJob"
  queue: utilities
  args: main
  description: "Kick off a reindex of all main content indexing"

run_background_reindex_queue:
  every: 10m
  class: "ScheduledReindexJob"
  queue: utilities
  args: background
  description: "Kick off a reindex of all background reindexes"

run_add_counts_to_queue:
  every: 30m
  class: "ScheduledTagJob"
  queue: utilities
  args: add_counts_to_queue
  description: "update the cache of counts of usage for tags"

run_write_redis_to_database:
  every: 2m
  class: "ScheduledTagJob"
  queue: utilities
  args: write_redis_to_database
  description: "Flush the count updates to mysql"


run_stats_reindex_queue:
  every: 30m
  class: "ScheduledReindexJob"
  queue: utilities
  args: stats
  description: "Kick off a reindex of works with stats updates"
