test: 
   allow_star: true 
   min_prefix_len: 1 
   min_infix_len: 0 
   max_matches: 1000
   port: 1399
   sql_range_step: 10000000
development: 
   allow_star: true 
   min_prefix_len: 1 
   min_infix_len: 0 
   max_matches: 1000
   mem_limit: 256M
production: 
   allow_star: true 
   min_prefix_len: 1 
   min_infix_len: 0 
   max_matches: 1000
   mem_limit: 256M
