<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.rubypeople.rdt.launching.LaunchConfigurationTypeRubyApplication">
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.rubypeople.rdt.launching.VM_INSTALL_NAME" value="Ruby 1.8.6"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="org.rubypeople.rdt.launching.WORKING_DIRECTORY" value="C:\Program Files\Aptana\Aptana Studio\plugins\org.rubypeople.rdt.launching_1.0.1.200803281641NGT\ruby"/>
<mapAttribute key="org.rubypeople.rdt.launchingVM_INSTALL_TYPE_SPECIFIC_ATTRS_MAP">
<mapEntry key="org.rubypeople.rdt.launching.RUBY_COMMAND" value="ruby"/>
</mapAttribute>
<stringAttribute key="org.rubypeople.rdt.launching.INTERPRETER_ARGUMENTS" value=""/>
<stringAttribute key="org.rubypeople.rdt.launching.VM_INSTALL_TYPE_ID" value="org.rubypeople.rdt.launching.StandardVMType"/>
<stringAttribute key="org.rubypeople.rdt.launching.FILE_NAME" value="C:\Program Files\Aptana\Aptana Studio\plugins\org.rubypeople.rdt.launching_1.0.1.200803281641NGT\ruby\fri"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\Documents and Settings\AmandaB\My Documents\Aptana Studio\.metadata\.plugins\org.rubypeople.rdt.ui\fastri_output.txt"/>
<stringAttribute key="org.rubypeople.rdt.launching.PROGRAM_ARGUMENTS" value="-L --no-pager CommentsController"/>
</launchConfiguration>
