<%- form_tag url_for(:controller => 'tags', :action => 'search'), :method => :get do -%>
<p>
  <%= text_field_tag :query, params[:query]  %>
  <%= select_tag :tag_type, options_for_select(%w(All Fandom Character Pairing Freeform), params[:tag_type]) %> 
  <%= submit_tag "Search tags" %>
</p> 
<%- end -%>