<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= t(".page_heading") %>
</h2>

<p class="notice">
  <%= t(".queue_disabled.html",
        closed_bold: tag.strong(t(".queue_disabled.closed")),
        news_link: link_to(t(".queue_disabled.news"), admin_posts_path(tag: 143))) %>
</p>
<p>
  <%= t(".already_requested_html", check_waitlist_position_link: link_to(t(".check_waitlist_position"), status_invite_requests_path)) %>
  <%= t(".waiting_list_count", count: InviteRequest.count) %>
<p>
<!--/descriptions-->

<!--main content-->
<!--/content-->
