<h1>Manage the invite queue</h1>

  <% form_tag reorder_invite_requests_url do %>
    <p><%= submit_tag t('reorder_queue', :default => 'Fix the order of the queue')  %></p>
  <% end %>

<table>
<%- for request in @invite_requests -%>
<tr>
  <td><%=h request.position %></td>
  <td><%=h request.email %></td>
  <td><%= link_to t('delete_link', :default => 'Delete'), request, :confirm => t('links.are_you_sure', :default => 'Are you sure?'), :method => :delete %></td>
</tr>
<%- end -%>
</table>
