<%= render :partial => 'invite_request', :locals => {:invite_request => @invite_request} %>

<p><%= ts("To check on the status of your invitation, go to ")%> <%= link_to ts("the Request an Invitation page"), invite_requests_path %> <%= ts(" and enter your email in the space provided!")%></p>
