<h2>Invitation Status for <%= @invite_request.email %></h2>

<p>You are currently number <%= @invite_request.position %> on our waiting list!</p>

<p>At our current rate, you should receive an invitation on or around: <%= @invite_request.proposed_fill_date %></p>
