<% if @invite_request %>
  <%= render "invite_request", invite_request: @invite_request %>
<% elsif @invitation %>
  <%= render "invitation", invitation: @invitation %>
<% else %>
  <%= render "no_invitation" %>
<% end %>

<p>
  <%= t(".instructions_html", status_link: link_to("Invitation Request Status page", status_invite_requests_path)) %>
</p>
