<%= render :partial => 'invite_request', :locals => {:invite_request => @invite_request} %>

<p>To check on the status of your invite, go to <a href="http://archiveofourown.org/invite_requests">the Request an Invite page</a> and enter your email in the space provided!</p>
