<% if @invite_request %>
  $j("#invite-status").html("<%= escape_javascript(render "invite_requests/invite_request", invite_request: @invite_request) %>");
<% elsif @invitation %>
  $j("#invite-status").html("<%= escape_javascript(render "invitation", invitation: @invitation) %>");
<% else %>
  $j("#invite-status").html("<p>Sorry, we can't find the email address you entered.</p>");
<% end %>
