<?= link_to "Devmode top", devmode_path ?>
<h1><%= ts("View's details") %></h1>
<% if @errors %>
  <div class="error" style="color: red">
    <%= @errors %>
  </div>
<% else %>
<div>
  <% if !@paths.empty? %>
  <h3 class="heading">Paths:</h3>
  <ol>
    <% for path in @paths %>
      <li>
        <% for item in path %>
          
          --&gt; <%= link_to h(item),
                   :controller => 'devmode',
                   :action => 'backtrace_view',
                   :viewname => item
                 %>
        <% end %>
      </li>
    <% end unless @paths.nil? %>
  </ol>
  <% else %>
    <h3 class="heading">No paths to show</h3>
    <p>This is entirely self contained</p>
  <% end %>
</div>
<% end %>
