<?= link_to "Devmode top", devmode_path ?>
<h1>Profile logs</h1>
<% if @errors %>
  <h2 class="heading">Errors!</h2>
  <div class="error" style="color: red">
    <%= @errors %>
  </div>
<% else %>
<div>
  <ul>
    <% for path in @paths %>
      <li>
        <% name = File.split(path).last %>
        <%=link_to h(name),
          :controller => 'devmode',
          :action => 'profile_logs',
          :logname => name
        %>
      </li>
    <% end unless @paths.nil? %>
  </ul>
</div>
<% end %>
