<h3 class="heading">Unregister all imported works</h3>
<p>
This will cause the archive to forget the import URL for every work, allowing them to be imported again! BE CAREFUL!
</p>
<form method="post">
<input name="okgo" type="submit" value="I'm sure I want to lose URL associations!" />
</form>
