	<!-- BEGIN main -->
    <div id="main" class="error">
      <h2>Error 500</h2>
      <h3>We're sorry, but something went wrong.</h3>
      <p>We've been notified about this issue and we'll take a look at it shortly</p>
    </div>