<h2 class="heading"><%= t("errors.timeout.title") %></h2>
<h3 class="heading"><%= t("errors.timeout.subtitle") %></h3>
<p><%= t("errors.timeout.html", contact_support_link: link_to(ts("contact Support"), new_feedback_report_path)) %></p>