<h3 class="heading">The page was responding too slowly. Please try again after a few minutes.</h3>
<p>If you still get this error after a few tries, you can  <%= link_to ts('contact Support'), new_feedback_report_path %>. In the form, please include a link to the page you're trying to reach and what action you are taking.</p>
