<h2 class="heading"><%= t(".page_heading") %></h2>
<h3 class="heading"><%= t(".subtitle") %></h3>
<p><%= t(".html", contact_support_link: link_to(t(".contact_support"), new_feedback_report_path)) %></p>
