<h1>Orphan All Stories</h1>

<p>Are you sure you want to <strong>permanently</strong> remove all identifying information from all stories you've 
posted to the archive, along with their chapters, associated series and any feedback replies you may have left?</p>

<%- form_tag orphans_path do -%>
  <%= render :partial => 'orphans/choose_pseud' %>
  <p><%= submit_tag h("Yes, I'm sure").t %></p>
<%- end -%>