<h1>Orphan Story</h1>

<p>Are you sure you want to <strong>permanently</strong> remove all identifying data from your story 
"<%=h work.title %>", its chapters, associated series and any feedback replies you may have left on it?</p>

<%- form_tag orphans_path do -%>
  <%= hidden_field_tag 'work_id', work.id %>
  <p><%= submit_tag h("Yes, I'm sure").t %></p>
<%- end -%>