<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%=h t('.orphaned_works', :default => 'Orphaned Works') %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<ul class="work index group">
  <%= render WorkBlurbPresenter.new(@works) %>
</ul>
<!--/content-->

<!--subnav-->
<!--/subnav-->