<%= render_orphan_partial(@to_be_orphaned) %>

<div class="navigation">
  <span class="navitem"><%= link_to t('orphans_about', :default => "Read More About The Orphaning Process"), about_orphans_path %></span> 
  <span class="navitem"><%= link_to t('links.cancel', :default => "Cancel"), :back %></span>
</div>