<%= render_orphan_partial(@to_be_orphaned) %>

<ul class="navigation">
<li><%= link_to t('orphans_about', :default => "Read more about the orphaning process"), about_orphans_path %></li> 
<li><%= link_to t('links.cancel', :default => "Cancel"), :back %></li>
</ul>