<%= render_orphan_partial(@orphans) %>

<ul class="navigation actions" role="navigation">
  <li><%= link_to ts("Read More About The Orphaning Process"), about_orphans_path %></li>
  <li><%= link_to ts("Cancel"), :back %></li>
</ul>
