<%= render_orphan_partial(@to_be_orphaned) %>

<ul class="actions" role="navigation">
  <li><%= link_to t(".orphans_about"), archive_faq_path("orphaning") %></li>
  <li><%= link_to t(".links.cancel"), :back %></li>
</ul>
