<!--Descriptive page name, messages and instructions-->
<h2 class="heading">Listing subscriptions</h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<dl class="subscription index">
<% @subscriptions.each do |subscription| %>
  <dt>
      <%= link_to(subscription.name, subscription.subscribable) %>
    </dt>
    <dd>
      <%= link_to "Unsubscribe from #{subscription.name}", user_subscription_path(current_user, subscription), 
                  :confirm => 'Are you sure?', :method => :delete %>
    </dd>
<% end %>
</dl>