<%= form_tag add_collection_participants_path(@collection), :class => "simple", :method => :get do %>
  <div title="add new members" class="actions">
  <%= text_field_tag :participants_to_invite, nil, autocomplete_options("pseud", :size => 60) %>
    <span class="submit"><%= submit_tag ts("Submit") %></span>
  </div>
<% end %>
