<!--titled instead of labelled as per WCAG 2.0. do not revert.-->
<% if participant %>
<%- form_for([:collection, participant], :url => edit_collection_participant_path(@collection, participant)) do |form| -%> 
<th scope="row"><%= link_to participant.pseud.byline, user_path(participant.pseud.user) %></th>
<td><%= form.select(:participant_role, CollectionParticipant::PARTICIPANT_ROLE_OPTIONS) %></td>
<td>
  <%= form.submit t('forms.update', :default => "Update") %>
  <% end %> 
  <%= button_to 'Destroy', collection_participant_path(@collection, participant), :confirm => 'Are you sure?', :method => :delete %>
</td>
<%- end -%>