<div id="<%= tag.id -%>" class=draggable>
  <img src="/images/drag.png" alt="drag me">
  <%= link_to tag.name, tag, :popup => true %>
  <% if tag.canonical? %>(Canonical)<% end -%>
  <% if tag.banned? %>(Banned!)<% end -%>
  <% if tag.adult? %>(Adult!)<% end -%>
  <br />
</div>
<%= draggable_element(tag.id.to_s, :scroll => 'window', :revert => true) %>
