<h2 class="heading"><%= ts("Bookmark External Work") %></h2>
<%= render 'bookmarks/bookmark_form', :bookmarkable => @bookmarkable, :bookmark => @bookmark, :button_name => ts("Create"), :action => 'create' %>
