<h2><%= ts("Bookmark an external work") %></h2>
<%= render :partial => 'bookmarks/bookmark_form', :locals => {:bookmarkable => @bookmarkable, :bookmark => @bookmark, :button_name => ts("Create"), :action => 'create'} %>
