<h1><%= link_to 'Fandoms', media_path %> > <%=h @medium_name %></h1>
<ul>
  <%- for fandom in @fandoms -%>
    <li><%= link_to fandom.name + " (" + fandom.visible_works_count.to_s + ")", tag_works_path(fandom) %></li>
  <%- end -%>
</ul>

<div class="pagination">
	<%= will_paginate @fandoms, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>