/*==REGION: HEADER is #1 of the 4 regions shown on every page 
notice that CSS3 declarations sit on their own line and always come last*/

#header li, #header form *, #header input, #header #search>*, #header #search .submit 
				{ display: inline; float:none; }
#header { padding:0; margin:0 0 1em 0; position:relative; font-size:0.875em; min-height:120px; }
#header .landmark 
        { clear:none; }
#header h1, #header #greeting 
        { position:absolute; right:0; top:0; margin:0}
#header h1
        { left:0; right:auto}
#header #small_login
        { margin-left:120px; background:#ddd; border:2px solid #fff;  padding:0.375em;
          box-shadow:inset 1px 0 5px #555; }
#header ul.main 
        { float:none; margin: auto; background:#900 url(/images/skins/textures/tile_ao3.png); border-bottom:2px solid #700; padding:0.25em 120px;
          box-shadow:inset 0 -5px 10px rgba(0,0,0,0.5)}
#header .main a, #header .main .current, #header .main input, #header .search input
        { border-color:#a00; border-bottom-color:#400; }
#header .search input[type="text"]
        { border-color:#300;}
#header #greeting img, #header h1 a, #header fieldset, #header form, #header p
        { color:#900;border:0; padding:0; margin: 0;
          box-shadow:none; }
#header fieldset, #header form
        { background: transparent;}
#greeting .icon 
        { float:right; padding:0;  margin:0 0 -0.429em 0; border-bottom:5px solid #900}
#greeting 
        { right:0; position:absolute; width:120px; font-size:0.75em;}
#greeting .navigation a 
        { padding:0.15em; }


/*CONTEXT: collections*/
#header h2 
        { margin:0; padding:0.25em 120px 0.25em 6.5625em; border-top:1px solid; color:#fff;
          text-shadow:-1px 0 1px #aaa; box-shadow: inset 1px 2px 3px #333; }
