/*==REGION: DASHBOARD is #2 of the 4 regions shown on every page 
http://otwcode.github.com/docs/front_end_coding/patterns/supertypes.html
*/

#dashboard {
  width: 12em;
  float: left;
  padding: 0.5em;
}

#dashboard li {
  padding: 0;
}

#dashboard a, #dashboard span {
  color: #111;
  display: block;
  white-space: normal;
  height: auto;
  line-height: 2;
  padding: 0 0.5625em;
  border: none;
  background: transparent;
    word-wrap: break-word;
    box-shadow: none;
}

#dashboard a:hover {
  background: #ddd;
  color: #900;
}

#dashboard ul {
  float: none;
  display: block;
  padding: 1.286em 0;
  text-align: right;
  border-top: 2px solid #ddd;
  position: relative;
}

#dashboard .current {
  background: #ccc;
}

#dashboard .secondary {
  right: auto;
}

#dashboard.own {
  background: transparent;
  border-top: 15px solid #4A4AFA;
  border-bottom: 15px solid #4A4AFA;
    opacity: 1.0;
    border-radius: 0.25em;
}

/*END== */