/*==TYPES OF DATA, GROUPS OF DATA 
http://otwcode.github.com/docs/front_end_coding/patterns/supertypes
*/

/*TYPE: TAGS */

a.tag {
  color: #111;
  line-height: 1.5;
  text-decoration: none;
  padding: 0 0.125em;
  border-bottom: 1px dotted;
}

a.tag:hover, .listbox .heading a.tag:visited:hover {
  background: #900;
  color: #fff;
}

.tags li {
  display: inline;
}

.filters .tags li, .review .tags {
  display: block;
}

ol.tags {
  float: left;
}

ol.tags li {
  display: list-item;
  list-style: decimal inside;
}

.cloud {
  text-align: center;
}

ol.cloud li {
  display: inline;
  float: none;
  line-height: 1;
  margin: 0 0.25em;
  width: auto;
}

.cloud .count {
  display: none;
}

.cloud .micro {
font-size: 0.875em;
line-height: 3;
}

.cloud .milli {
font-size: 1.25em;
line-height: 2;
}

.cloud .centi {
font-size: 1.625em;
line-height: 1.5;
}

.cloud .deci {
font-size: 1.875em;
line-height: 1.5;
}

.cloud .base {
font-size: 2.25em;
line-height: 1.5;
}

.cloud .deka {
font-size: 2.875em;
line-height: 1.5;
}

.cloud .hecto {
font-size: 3.25em;
line-height: 1;
}

.cloud .kilo {
font-size: 3.5em;
line-height: 1;
}

.cloud .mega {
font-size: 4em;
font-weight: 700;
line-height: 1;
}

/* GROUPS: WRAPPER, MODULE, INDEX  (#outer and #inner .wrapper have no style by default, but wrap the regions on every page for your skins convenience)*/

.wrapper {
    box-shadow: 1px 1px 5px #aaa;
}

#outer.wrapper {
  float: left;
  width: 100%;
}

#outer.wrapper, #inner.wrapper {
    box-shadow: none;
}

.module, .index, .index .index {
  position: relative;
  width: auto;
}

.module, .dashboard .index {
  float: left;
  width: 100%;
}

/*http://otwcode.github.com/docs/front_end_coding/patterns/pattern-index*/

dl.index {
  margin: 0.643em 0;
  border: none;
    box-shadow: none;
}

dl.index dt {
  width: auto;
  float: none;
  border: none;
}

dl.index dd {
  width: auto;
  float: none;
  clear: right;
  margin: 0 0.25em 0.643em 2.5em;
  padding: 0.375em 0.15em 0.15em;
  overflow: visible;
  background: #ededed;
}

dl.index > dd:after {
   content: " ";
   display: block;
   height: 0;
   font-size: 0;
   clear: both;
   visibility: hidden;
 }

dl.index dd .userstuff p {
  display: block;
}

/*TYPES*/

a.rss span {
  background: url("/images/imageset.png") no-repeat -150px -275px;
  padding-left: 16px;
}

a.work {
  font: 100 1.143em/1.125 Georgia, serif;
  margin: 0.5em 0;
  color: #900;
}

.warning, .warnings, span.byline, a.user {
  font-weight: bold;
}

li.relationships {
  background: #eee;
}

.series.footnote {
  font-size: 100%;
  float: none;
}

.kudos {
  background: url("/images/imageset.png") no-repeat -110px -580px;
  padding: 0.5em 0.5em 0.5em 60px;
  margin: 2em 0;
  min-height: 50px;
}

.icon {
  height: 100px;
  width: 100px;
  margin: 0;
}

.icon a {
  border: 0;
}

.mods li, dl.stats dt, dl.stats dd {
  background: none;
  width: auto;
  min-width: 0;
  display: inline;
  clear: none;
  float: none;
  margin: auto;
}

dl.stats {
  text-align: right;
  background: none;
  margin-top: 0.643em;
    box-shadow: none;
}

dl.stats dd {
  white-space: nowrap;
  padding-right: 0.5em;
}

/*END== */
