/*==GROUP: META 
http://otwcode.github.com/docs/front_end_coding/patterns/meta.html 
*/

dl.meta {
  border: 1px solid #ccc;
  clear: right;
  padding: 1.286em 0.75em;
  position: relative;
  overflow: hidden;
}

.meta dt {
  text-align: left;
  min-width: 10.5em;
  width: 25%;
  float: left;
  clear: left;
}

.meta dd {
  width: 72.5%;
  float: left;
  margin: 0 0 0.643em;
}

.meta .stats dl dd, .meta .stats dl dt {
  margin: 0 0.375em auto 0;
  width: auto;
  min-width: 0;
  clear: none;
  float: left;
}

.meta p {
  display: block;
  margin-top: 0;
  text-align: left;
}

.meta dd ul li {
  display: inline;
  margin: auto;
}

.meta dd blockquote {
  margin: 0;
}

/*CONTEXTS */

.dashboard .meta .clear {
  clear: none;
  clear: right;
}

.post .meta dd ul li {
  display: block;
}

.post .meta dd ul li:after {
  content: none;
}

/*END== */