/*==GROUP: BLURB
http://media.transformativeworks.org/training/front_end_coding/blurb.html
The blurb class is used wherever we show a list of works, collections, bookmarks, etc; each list item is a blurb
it shows all the tags, stats and other associations we hold on that object, and sometimes it shows short user notes too, like a summary, bookmark notes, or collection description.

Intrepid skinsers: 
Probably 40% of this sheet deals with icon block rules, but it's not very complicated, 
just the same thing repeated for each icon. 
The positioning and sizing is for 25px icons; 
there is a full set available at 50px, in /default_large.
You can use your own icon set, or choose to show the text instead, 
by overriding the rules in the marked off section.
Perhaps we can make a wizard for this specific task.
*/

.blurb ul li,.blurb dd ul li, .blurb ul.type  
        { display: inline }
li.blurb, .blurb .blurb
        { display:block; position: relative; clear:left; padding: 0.429em 0.75em; overflow:visible;
          box-shadow:inset 1px 1px 3px #ccc; border-radius:0.15em }
li.blurb:after
        { content:" "; display:block; height:0; font-size:0; clear:both; visibility:hidden; }
.blurb .module         
        { float:none}
.blurb .header
        { min-height:55px; margin-bottom:0.375em}
.blurb .header .heading, .blurb .header ul, .blurb .header p.status        
        { display:block; background:transparent; margin: 0.375em 5.25em 0 65px }
.blurb .header img     
        { position: relative; margin: 0 }
.blurb h4 a:link,.blurb h4 img 
        { color: #900; vertical-align: bottom }
.blurb .header p.notice, .blurb ul.series
        { margin: 0.875em 0 0 0}
.blurb .heading
        { display: block;}
.item .blurb .header
        { display: none;}

/* ==START icon block rules*/
.blurb ul.required-tags     
        { position: absolute; top: 0; width:60px; margin:0}
.blurb ul.required-tags li,.blurb ul.required-tags li a
        { position:static; display: inline; padding-left:0; height: 25px; width: 25px; border:none }
.blurb span.text 
        { height:0; width:0; font-size:0.001em; color:transparent; }
.blurb ul.required-tags li span
        { background-repeat:no-repeat; height: 25px; width: 25px; display:block}
.blurb .required-tags .category,.blurb .iswip,.blurb .external-work
        { position: absolute; left: 28px }
.blurb .category
        { top: 0 }
.blurb .iswip,.blurb .external-work
        { top: 28px }
.blurb .rating,.blurb .required-tags .warnings
        { margin:0 0 3px }
/*icon image replacement*/
.blurb .rating-general-audience {background:url("/images/skins/iconsets/default/rating-general-audience.png")}
.blurb .rating-explicit         {background:url("/images/skins/iconsets/default/rating-explicit.png")}
.blurb .rating-mature           {background:url("/images/skins/iconsets/default/rating-mature.png")}
.blurb .rating-notrated         {background:url("/images/skins/iconsets/default/rating-notrated.png")}
.blurb .rating-teen             {background:url("/images/skins/iconsets/default/rating-teen.png")}
.blurb .category-femslash       {background:url("/images/skins/iconsets/default/category-femslash.png")}
.blurb .category-gen            {background:url("/images/skins/iconsets/default/category-gen.png")}
.blurb .category-slash          {background:url("/images/skins/iconsets/default/category-slash.png")}
.blurb .category-het            {background:url("/images/skins/iconsets/default/category-het.png")}
.blurb .category-multi          {background:url("/images/skins/iconsets/default/category-multi.png")}
.blurb .category-other          {background:url("/images/skins/iconsets/default/category-other.png")}
.blurb .category-none           {background:url("/images/skins/iconsets/default/category-none.png")}
.blurb .complete-no             {background:url("/images/skins/iconsets/default/complete-no.png")}
.blurb .complete-yes            {background:url("/images/skins/iconsets/default/complete-yes.png")}
.blurb .warning-yes             {background:url("/images/skins/iconsets/default/warning-yes.png")}
.blurb .warning-no              {background:url("/images/skins/iconsets/default/warning-no.png")}
.blurb .warning-choosenotto     {background:url("/images/skins/iconsets/default/warning-choosenotto.png")}
.blurb .external-work           {background:url("/images/skins/iconsets/default/warning-external-work.png")}
.blurb .public                  {background:url("/images/skins/iconsets/default/bookmark-public.png")}
.blurb .rec                     {background:url("/images/skins/iconsets/default/bookmark-rec.png")}
.blurb .count                   {background:url("/images/skins/iconsets/default/category-none.png")}

 /*END icon block rules==*/

.blurb .datetime 
        { position:absolute; top:0; right:0; margin:0}
.claim .datetime 
        { position:static;}
.blurb blockquote
        { clear: none; margin: 0.643em auto; text-align: justify }
.blurb.own dl.stats
        { padding-left: 12.15em }
	
/*modification: PICTURE 
use this along with "index" and "blurb" for indices where we have icon pictures,
eg collections, users, skins, instead of the 4-icon list
*/
.picture .header 
        { border-bottom:1px solid #ccc }
.index .collection .icon
        { background:url("/images/skins/iconsets/default/icon_collection-s.png")}
.index .skins .icon
        { background:url("/images/skins/iconsets/default/icon_skins.png"); }
.index .mystery .icon
        { background:url("/images/skins/iconsets/default/icon_mystery.png")}
.index .tag .icon, .index .tagset .icon
        { background:url("/images/skins/iconsets/default/icon_tag.png");}
.picture .icon img, .index .picture .icon 
        { position: absolute; top:0; height:55px; width:55px; background-size:55px}

/*various little mods*/
.prompt h6 
        { float:left; min-width:65px; }

/* mod: BOOKMARK*/
.bookmark .status	
        { right:0.5em; position:absolute; z-index:50; width:60px }
.bookmark .status.icon
        { left:-50px; top:0}
.bookmark .status span	
        { border: 1px solid #eee; display: block; float: left; height: 25px; line-height: 1.875; margin: 0 2.5px 0 0; text-align: center; width: 25px }
.bookmark .user 
        { border:1px solid #ccc; clear:right; overflow:hidden}

 /*END== */
