/*==ZONE: SYSTEM
SUBSECTIONS:
  1. SPLASH, 2. SESSIONS, 3. DOCS, 4. COMMS, 5. SUPPORT
*/

.system p {
  line-height: 1.5;
}

.system .userstuff {
  max-width: 72em;
  margin: auto;
}

.system .userstuff h3 {
  margin-top: 3em;
}

/*1. ZONE: SYSTEM: SPLASH PAGE*/

.system .intro {
  font: 1.5em Georgia, serif;
  margin: 0 auto 2.5em;
  max-width: 39em;
  float: none;
  overflow: hidden;
}

.system .module h2 {
  font: bold oblique 2.5em Georgia, serif;
  margin-bottom: -0.25em;
}

.system .intro a, .system .intro em {
  font: bold oblique 100% Georgia, serif;
}

.system p#signup {
  width: 100%;
  text-indent: 0;
  font-style: normal;
    text-shadow: -1px -2px 3px #fff;
}

.system .latest, .system div.news {
  width: 49%;
  float: left;
  margin: auto auto 3.5em auto;
}

.system .latest h3, .system div.news h3 {
  text-align: center;
  color: #900;
  border-bottom: 1px solid #c8c8c8;
  font: bold 2.5em Georgia, serif;
}

.system .latest dl {
  margin-left: 2em;
}

/* 2. ZONE: SYSTEM: SESSIONS (login and signup)*/

.session #logo, .session #signin {
  display: block;
  float: left;
  margin-bottom: 1.5em;
  width: 48%;
}

.admin_sessions-new form {
  width: 75%;
  margin: auto;
}

.session dt {
  min-width: 0;
}

/*3. ZONE: SYSTEM: DOCS 
For practicality, /home .docs have been given the .userstuff class as well, to save doubling up that sheet or confusing end users. We will just cope with the inconsistency.*/

.docs .userstuff ul, .docs .userstuff ol {
  margin: 0.643em auto;
  padding: 0;
}

.docs .userstuff li {
  padding: 0 1.5em;
}

.docs .userstuff .toc li {
  list-style-type: upper-roman;
}

.docs .userstuff .toc {
  margin: 3.215em auto;
}

/*4. ZONE: SYSTEM: ADMIN COMMS
admin comms, user facing, are a type of Home Zone, look in zone-home.css
admin zone, admin facing, has no special rules atm
admin role is only admin facing, and changes normal views in role-admin.css*/

/*5. ZONE: SYSTEM: SUPPORT*/


.feedbacks h3 {
  clear: right;
  padding-top: 1.929em;
}

.feedbacks form {
  margin-top: 1.929em;
}

.feedbacks form .notice {
  margin: 0.643em;
}

/* ZONE: SYSTEM: FAQS: TAG GUIDELINES */

.tag_caution {
  background: #ffe34e;
  border: 1px solid #c2d2df;
  margin: 0.643em auto;
  padding: 0.25em 0.375em;
}

.tag_notice {
  background: #d1e1ef;
  border: 1px solid #c2d2df;
  margin: 0.643em auto;
  padding: 0.25em 0.375em;
}

.tag_example {
  background: #ffe34e;
  border: 1px solid #c2d2df;
  margin: 0.643em auto;
  padding: 0.25em 0.375em;
}

/*END== */
