/*==ZONE: SYSTEM
SUBSECTIONS:
  1. SPLASH, 2. SESSIONS, 3. DOCS, 4. COMMS, 5. SUPPORT
*/

.system p {
  line-height: 1.5;
}

.system .userstuff {
  max-width: 72em;
  margin: auto;
}

.system .userstuff h3 {
  margin-top: 3em;
}

/*1. ZONE: SYSTEM: SPLASH PAGE*/

.splash .intro {
  background: #ededed;
  font: 1.571em Georgia, serif;
  float: left;
  max-width: 68%;
  margin: 1em auto 1.5em 1%;
  overflow: hidden;
    border-radius: 1em;
    box-shadow: 1px 1px 3px #bbb;
    background-image: -moz-linear-gradient(-45deg, #ededed 0%, #f6f6f6 100%);
    background-image: -webkit-linear-gradient(-45deg, #ededed 0%, #f6f6f6 100%);
    background-image: -o-linear-gradient(-45deg, #ededed 0%, #f6f6f6 100%);
    background-image: linear-gradient(135deg, #ededed 0%, #f6f6f6 100%);

}

.splash .intro a, .splash .intro h2, .splash .intro em {
  font-style: oblique;
  font-weight: 700;
}

.splash .intro h2 {
  display: block;
  font-size: 1.45em;
  line-height: 1.75;
  text-align: center;
    text-shadow: none;
}

.splash .intro p {
  padding: 0 0.75em;
}

.splash .count {
  font-weight: 700;
}

.splash #signup {
  width: 100%;
    text-shadow: -1px -2px 3px #fff;
}

.splash .module h3  {
  color: #900;
  border-bottom: 1px solid #c8c8c8;
  font-size: 1.75em;
  font-weight: 700;
}

.splash .latest {
  float: left;
  margin: 1.571em 1% 1.571em 5%;
  width: 25%;
}


/* 2. ZONE: SYSTEM: SESSIONS (login and signup)*/

.session #logo, .session #signin {
  display: block;
  float: left;
  margin-bottom: 1.5em;
  width: 48%;
}

.admin_sessions-new form {
  width: 75%;
  margin: auto;
}

.session dt {
  min-width: 0;
}

/*3. ZONE: SYSTEM: DOCS 
For practicality, /home .docs have been given the .userstuff class as well, to save doubling up that sheet or confusing end users. We will just cope with the inconsistency.*/

.docs .userstuff ul, .docs .userstuff ol {
  margin: 0.643em auto;
  padding: 0;
}

.docs .userstuff li {
  padding: 0 1.5em;
}

.docs .userstuff .toc li {
  list-style-type: upper-roman;
}

.docs .userstuff .toc {
  margin: 3.215em auto;
}

/*4. ZONE: SYSTEM: ADMIN COMMS
admin comms, user facing, are a type of Home Zone, look in zone-home.css
admin zone, admin facing, has no special rules atm
admin role is only admin facing, and changes normal views in role-admin.css*/

/*5. ZONE: SYSTEM: SUPPORT*/

.feedbacks h3 {
  clear: right;
  padding-top: 1.929em;
}

.feedbacks form {
  margin-top: 1.929em;
}

.feedbacks form .notice {
  margin: 0.643em;
}

/*6. ZONE: SYSTEM: ERROR PAGES*/

.error .tweet_list {
  padding: 0.5em;
}
		
/*END== */
