/*==ZONE: SEARCH/BROWSE (currently header linked index pages)
The search and browse zone is in development and has no parent class yet
Arguably filter and search could be styled in interactions but I've put them here in case we change those page areas a lot
.search and .browse may turn out to be separate but interrelated */

/* INDEX PAGES (with filters)*/

.filtered .index {
  width: 75%;
  float: left;
}

.people-index ol + div.pagination, .index + h4.landmark {
  clear: both;
}

.media-index .listbox {
  min-height: 17.5em;
}

/* INTERACTION: SEARCH */

.search input[type="text"] {
  border-top-color: #999;
  padding: 0.15em 0.25em;
    border-radius: 1em;
}

.search p, li.search form p {
  position: relative;
}

.search span.tip {
  background: #ddd;
  border: 1px solid #fff;
  padding: 0.15em;
  position: absolute;
  left: -999em;
  font-size: 0.75em;
}

.search:hover .tip {
  left: 1em;
  top: 3.5em;
}

li.search:hover .tip {
  right: 1em;
  top: 2.75em;
}

li.search fieldset {
  margin: auto;
  padding: 0.15em;
  font-size: 87.5%;
  overflow: visible;
  width: auto;
}

.search .tags dd.submit {
  margin: -3em 0.643em 0;
}

/* INTERACTION: FILTER */

form.filters {
  width: 22.5%;
  float: right;
}

.filters .tags {
  display: block;
}

.filters dt.autocomplete {
  margin-top: 1.286em;
}

form.filters dl {
  margin-top: 0.375em;
  padding: 0;
}

.filters dt a {
  border: none;
}

.filters dt a:hover {
  color: #111;
}

.filters dt a:focus img {
  outline: none;
}

.filters dd, .filters dt, .filters .submit input {
  width: 100%;
}

.filters .submit {
  text-align: center;
  padding-right: 0;
}

form.filters dl dl {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-shadow: none;
}

/*END== */