/*==ZONE: SEARCH/BROWSE (currently header linked index pages)
The search and browse zone is in development and has no parent class yet
Arguably filter and search could be styled in interactions but I've put them here in case we change those page areas a lot
.search and .browse may turn out to be separate but interrelated */

/* INDEX PAGES (with filters)*/

.filtered .index {
  width: 75%;
  float: left;
}

.people-index ol + div.pagination, .index + h4.landmark {
  clear: both;
}

.media-index .listbox {
  min-height: 17.5em;
}

/* INTERACTION: SEARCH */

.search p, li.search form p {
  position: relative;
}

.search [role="tooltip"] {
  background: #ddd;
  border: 1px solid #fff;
  padding: 0.15em;
  position: absolute;
  left: -999em;
  font-size: 0.75em;
  z-index: 1;
}

.search input:focus + [role="tooltip"] {
  left: 1em;
  right: 1em;
  top: 2.75em;
}

li.search fieldset {
  margin: auto;
  padding: 0.15em;
  font-size: 87.5%;
  overflow: visible;
  width: auto;
}

.search .tags dd.submit {
  margin: -3em 0.643em 0;
}

/* INTERACTION: FILTER */

form.filters {
  width: 23%;
  float: right;
}

/*.filters fieldset {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
    box-shadow: none;
}*/

.filters dl {
  margin-top: 0.375em;
  padding: 0;
}

.filters dt, .filters select {
  min-width: 0;
}

.filters dt {
  padding: 0;
}

.filters dt {
  padding: 0;
}

.filters dd {
  margin: 0;
}

.filters dd, .filters dt, .filters input[type="submit"], .filters .expander {
  width: 100%;
}

.filters input + label {
  padding-left: 0;
}

.filters button {
  background: none transparent;
  border: none;
  outline: none;
  padding: 0.25em 0;
  text-align: left;
    border-radius: 0;
}

.filters input[type="submit"] {
  text-align: center;
  margin: 1em 0;
  padding-right: 0;
}

.filters .submit input {
  height: 100%;
  min-height: 1.286em;
  white-space: normal;
}

.filters dl dl {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-shadow: none;
}

.filters dt.autocomplete {
  margin-top: 1.286em;
}

.filters dt.tags button {
  font-weight: 700;
}

.filters dd.tags {
  font-size: 0.8571em;
}

.filters .tags dt {
  border-bottom-color: #eee;
}

.filters .tags .collapsed, .filters .tags .expandable {
  border-bottom: 1px solid #eee;
}

.filters .tags .expanded {
  border-bottom: none;
}

/* .filters dt.tags {
  margin-top: 1.286em;
}

/*.filters .tags button:hover, .filters .tags button:focus {
  background: #e0e0e0;
}

.filters dt.expanded {
  border-bottom: none;
}

.filters dd.expandable {
  border-bottom: 1px solid #f3efec;
}*/

.filters .warnings {
  font-weight: 500;
}

.filters .collapsed:after, .filters .expanded:after { 
  content: none;
}

/*END== */