/* MEDIA: only screen and (max-width: 480px), handheld ENDMEDIA (need ENDMEDIA because the media has more than one word)
linearise content, suppress large images, suppress custom fonts and other large downloads
pasted in the Slim Shaded look temporarily to try to fix for iphone--needs test*/

#outer {
  font-size: 12px;
}

/*regions */

#header .logo {
  height: 1.75em;
}

#header .dropdown a:focus {
  outline: none;
}

#header .primary > li:first-of-type {
  margin-left: 0;
}

#header .dropdown a:focus, #header .dropdown .menu a:focus {
  background: transparent;
  color: #111;
}

#header .open a:focus {
  background: #ddd;
}

#header .primary .dropdown a:focus {
  color: #fff;
}

#header .primary .open a:focus {
  color: #111;
}

#header .user .open a:focus {
  color: #900;
}

#header h2.collections {
  padding: 1%;
  margin: 0;
}

#header #small_login {
  margin-left: 45px;
}

#main, #main.dashboard {
  float: none;
  margin: auto;
  width: auto;
  padding: 0 1.5em 3.5em;
}

#dashboard, #main.dashboard .index, .dashboard form.filters, #main .filters, .works-index .index, .collections-index .index, .bookmarks-index .index, #inner form dd, #inner form dt {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  float: none;
}

#main dl.filters {
  width: auto;
}

#footer {
  background: #900;
}

/*types and groups*/

h1, h2, h3 {
    word-break: break-all;
}

#main .actions a {
  margin: auto;
}

.blurb dl.tags dt, .blurb dl.tags dd, dl.meta dt, dl.meta dd, .alphabet .listbox li, .media .listbox, #home .news, #home .latest {
  width: auto;
  float: none;
}

.blurb dl.tags dd, dl.meta dd {
  margin-left: 1em;
}

#main li.blurb .stats {
  padding: 0;
}

.alphabet .listbox li {
  display: block;
}

dl.stats + h6 + .actions {
  margin: auto;
}

/*zone: home*/

#inbox-form {
  clear: both;
  float: none;
  width: auto;
}

/*SKIN: Dash Line */

/* DESCRIPTION: Horizontal dash inline*/

#outer #dashboard {
  padding: 0;
}

#outer #dashboard, #main, #main.dashboard {
  float: none;
  width: auto;
  max-width: 100%;
  margin: 1%;
  clear: both;
}

#dashboard ul.navigation, #dashboard ul.navigation li, #dashboard ul.navigation li a, #dashboard ul.navigation li .current {
  text-align: left;
  display: inline;
  border: 0;
}

#dashboard .landmark {
  clear: none;
  float: left;
}

.dashboard .landmark {
  clear: both;
}