/* MEDIA: only screen and (max-width: 640px), handheld ENDMEDIA (need ENDMEDIA because the media has more than one word)
linearise content, suppress large images, suppress custom fonts and other large downloads */

#outer {
  font-size: 14px;
}

/* regions */

#header .logo {
  height: 1.75em;
}

#header .dropdown a:focus {
  outline: none;
}

#header .primary > li:first-of-type {
  margin-left: 0;
}

#header .dropdown a:focus, #header .dropdown .menu a:focus {
  background: transparent;
  color: #111;
}

#header .open a:focus {
  background: #ddd;
}

#header .primary .dropdown a:focus {
  color: #fff;
}

#header .primary .open a:focus {
  color: #111;
}

#header .user .open a:focus {
  color: #900;
}

#header h2.collections {
  padding: 1%;
  margin: 0;
}

#header #small_login {
  margin-left: 45px;
}

#main, #main.dashboard {
  float: none;
  margin: auto;
  width: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#dashboard, #main.dashboard .index, .dashboard form.filters, #main .filters, .works-index .index, .collections-index .index, .bookmarks-index .index, #inner form dd, #inner form dt {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  float: none;
}

#main dl.filters {
  width: auto;
}

#footer {
  background: #900;
}

/* types and groups */

h1, h2, h3 {
    word-break: break-all;
}

#main .actions a {
  margin: auto;
}

.blurb dl.tags dt, .blurb dl.tags dd, dl.meta dt, dl.meta dd, .alphabet .listbox li, .media .listbox, #home .news, #home .latest {
  width: auto;
  float: none;
}

.blurb dl.tags dd, dl.meta dd {
  margin-left: 1em;
}

.alphabet .listbox li {
  display: block;
}

/* zone: home */

#inbox-form {
  clear: both;
  float: none;
  width: auto;
}

/* zone: system */

.splash div.module, .logged-in .splash .module {
  width: 98%;
}

.splash .intro {
  padding-top: 0;
}

.splash .intro h2 {
  font-size: 1.5em;
    word-break: normal;
}

/* system: messages */

.announcement .userstuff {
  margin: 1%;
}

.announcement p.submit {
  bottom: -0.5em;
  right: 1%;
}

.announcement .thermometer-content {
  width: 80%;
}

.announcement .goal .amount {
  display: none;
}

.announcement .thermometer .progress .amount {
  left: 0;
  right: auto;
}

/*SKIN: Dash Line */
/* DESCRIPTION: Horizontal dash inline*/

#outer #dashboard {
  padding: 0;
}

#outer #dashboard, #main, #main.dashboard {
  float: none;
  width: auto;
  max-width: 100%;
  margin: 1%;
  clear: both;
}

#dashboard ul.navigation, #dashboard ul.navigation li, #dashboard ul.navigation li a, #dashboard ul.navigation li .current {
  text-align: left;
  display: inline;
  border: 0;
}

#dashboard .landmark {
  clear: none;
  float: left;
}

.dashboard .landmark {
  clear: both;
}

/* comments */
.thread .thread {
  margin-left: 1em;
}

.comment .userstuff {
  min-height: 0;
}

.comment .icon {
  height: 50px;
  margin-bottom: 0;
  width: 50px;
}

.comment .icon .visitor {
  background: url(/images/imageset.png) no-repeat 0px -525px transparent;
}

.comment h4.byline {
  padding-left: 58px;
}

/* non-JavaScript states
.mobile-shown: should be displayed when mobile stylesheet is in use  */

body .mobile-shown {
  display: block;
}

.actions li.mobile-shown {
  display: inline;
}

/* JavaScript states
.mobile is ALWAYS applied to the page body when JS is enabled, but should ONLY be used within this stylesheet
.mobile .mobile-hidden: should not be displayed when JS is enabled and mobile stylesheet is in use */

.mobile .mobile-hidden {
  display: none;
}

/* Filters with JavaScript */

.mobile form.filters {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  z-index: 400;
}

.mobile .filters fieldset {
  position: relative;
  z-index: 450;
}

.mobile .filters p.mobile-shown {
  position: relative; 
}

.mobile .filters #leave_filters {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: none;
  position: fixed;
  top: -101em;
  bottom: -101em;
  left: -10em;
  right: -10em;
  z-index: 0;
}

.mobile #leave-filters:focus {
  outline: none;
}

.mobile .filtering form.filters {
  visibility: visible;
}
