/* IE_CONDITION: IE8_or_lower
Put any IE-specific overrides into this file -- it will be loaded last and conditionally, only if the browser is IE 8 or below. 

test note: these files could certainly be reduced but I have no IE to test with*/

/* emphasis */
.navigation a:hover, .submit a:hover, .action a:hover {background:#bbb;}
span.replied. span.unreviewed {font-family: "Arial Unicode MS";}

/* pathing and inheritance*/
html body #header form #small_login {width: 99% !important;}
#header #search .submit, .stats dd, .stats dt {float:none; display:inline;}
.blurb .stats dd, #comment_form p { position:static;}
.works-show .module {border:0;}

/*float/clear */
textarea,p.character,form dt.notes {float:none; display:block;clear:both}
form dt.notes,form dd.notes{overflow:hidden}
form dd.notes dl {float:left;}
.meta dt 
        { float:none; width: 10.5em }
.meta dd				
        { float:none; margin: -1.3em 0 .7em 13em }

/*inheritance?*/
#header .icon {position:absolute; right:0}
#header #greeting ul.navigation {position:absolute; top:106px; right:0; width:110px; padding:0.25em 0 0}
#footer p.beta { background:none; height:auto; width:auto; position:static;}


/*layer stacking*/
#new_comment .module, #footer {position:static;}


/*explicit widths*/
.blurb .header, .bookmark .header {width:auto; border:0}
#footer { height:120px; background:#900}
/* Determines actual width in IE */
.ui-tooltip-fluid
        { display:block; visibility:hidden; position:static !important; float:left !important; }


/*margin and padding quirks*/ 
.bookmark ul.required-tags, .comment div.icon, #main .bookmark .required-tags li, p.character_counter { margin:0;}
.blurb .required-tags, .blurb .icon { left: 0; }
.admin .module p {margin:0.643em 1.5em;}
span.symbol span {padding:0 0.25em; font-size:90%}
#header fieldset {margin-bottom:-0.643em} 
.ui-tooltip-titlebar .ui-state-default
        { top:16px; }

/*incomplete display support */
.simple .search {float:right;}
span.error  {display: block;}
dl.index dd p, dl.index dd .heading {display:inline;}

/*line-height and baseline */
.heading h3, .heading h4 {font-weight:bold; line-height:1.125;}
input,select,option,textarea,legend,label,.actions a {vertical-align:baseline;}

/*hasLayout */
#main, div.home, textarea{zoom:1;}

/*and zoom resets */
.stats a, .preface a, .meta .series {zoom:normal;}

/*transparency (5,6,7,8), needs performance test
.landmark {filter: alpha(opacity=0);}*/

