/* IE_CONDITION: IE7 */

/*http://media.transformativeworks.org/training/front_end_coding/debugging-ie.html*/
/*transparency*/
ul#skiplinks, .landmark , .landmark a, .index .heading.landmark
        { color:#fff}
/*min-width*/
.dashboard form.filters {min-width:8em}

/*margin quirk reset*/
#header fieldset {margin-bottom:0.643em} 

/*font fallbacks for icons*/
span.replied. span.unreviewed, .actions a, .action, .symbol 
        {font-family:'Arial Unicode MS','Lucida Grande Unicode', Arial, sans-serif;}
        
/*hL clearfixes
test note: these were put in last minute so might need redoing
http://www.stuffandnonsense.co.uk/archives/clearing_floats_without_structural_markup_in_ie7.html*/
.group, .ui-sortable {zoom:1;}