/* IE_CONDITION: IE7 */

/*http://media.transformativeworks.org/training/front_end_coding/debugging-ie.html*/
/*transparency*/
ul#skiplinks, .landmark , .landmark a, .index .heading.landmark
        { color:#fff}
/*min-width*/
.dashboard form.filters {min-width:8em}

/*margin quirk reset*/
#header fieldset {margin-bottom:0.643em} 
