<% form_for([@work, @chapter]) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <b>Order</b><br />
    <%= f.text_field :order %>
  </p>

  <p>
    <%= f.submit button_text %>
  </p>
<% end %>
