<!-- Requires locals 'work' and 'chapter' -->
<p>
  <%= next_and_previous_links(work, chapter) -%>
  | <%= link_to 'View entire work'.t, work_path(work) %>
</p>
<p> 	
  
  <%- if is_author_of?(work) -%> 
    <%= link_to 'Add a new chapter'.t, new_work_chapter_path(work) %>
	| <%= link_to 'Edit work'.t, edit_work_path(work) %>
  <%- end -%> 
</p> 
