<!--main content-->
<div id="chapters" class="userstuff" role="article">
  <%= render :partial => 'chapters/chapter.html', :locals => { :chapter => @chapter, :hide_work_info => true} %>
</div>
<!--/main-->
