<!--Descriptive page name, messages and instructions-->

<% title = ts("Edit " + (@chapter.posted? ? "" : "New ") + "Chapter") %>
<% content_for :title, title %>
<h2 class="heading"><%= title %></h2>

<%= error_messages_for :chapter %>

<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= render :partial => 'chapter_form', :locals => { :chapter => @chapter, :button_text => t('.forms.update', :default => "Update") } %>
<!--/content-->
