<h1>Edit Chapter</h1>

<%= error_messages_for :chapter %>

<%= render :partial => "chapter_form", :locals => { :button_name => "Update" } -%>

<%= link_to 'Show', @chapter %> |
<%= link_to 'Back', work_chapters_path %>
