<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%=h t('.chapters.edit.edit_chapter', :default => 'Edit Chapter') %></h2>

<%= error_messages_for :chapter %>

<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= render :partial => 'chapter_form', :locals => { :chapter => @chapter, :button_text => t('.forms.update', :default => "Update") } %>
<!--/content-->
