<h1><%=h t('chapters.edit.edit_chapter', :default => 'Edit Chapter') %></h1>

<%= error_messages_for :chapter %>

<%= render :partial => 'chapter_form', :locals => { :chapter => @chapter, :button_text => "Update" } %>
