<h1><%=h @work.metadata.title %></h1>

<% for chapter in @chapters %>
  <%= render :partial => 'chapter', :locals => {:chapter => chapter} %>
<% end %>

<br />

<%- if logged_in? && @work.pseuds - current_user.pseuds != @work.pseuds -%>
  <%= link_to 'New chapter', new_work_chapter_path(@work) %>
<%- end -%>
