<h1><%= link_to sanitize(@work.metadata.title), @work -%></h1>

<% for chapter in @chapters %>
  <%= render :partial => 'chapters/chapter', :locals => {:chapter => chapter} %>
<% end %>

<br />

<%- if is_author_of?(@work) -%>
  <%= link_to 'New chapter', new_work_chapter_path(@work) %>
<%- end -%>
