<h1><%= link_to h(@work.title), @work -%></h1>

<% for chapter in @chapters %>
  <% if chapter.posted? || is_author_of?(chapter) -%>
    <%= render :partial => 'chapters/chapter', :locals => {:chapter => chapter} %>
  <% end -%>
<% end %>

<%- if is_author_of?(@work) -%>
<ul class="navigation">
  <li><%= link_to t('new_link', :default => 'New Chapter'), new_work_chapter_path(@work) %></li>
</ul>
<%- end -%> 

<!-- BEGIN comment section -->
<%= render :partial => 'comments/commentable', :locals => {:commentable => @work} -%>
<!-- END comment section -->
