<h1>Add new chapter for "<%=h @work.metadata.title %>"</h1>

<%= error_messages_for :chapter, :object => @chapter.metadata %>

<%= render :partial => 'chapter_form', :locals => { :chapter => @chapter, :button_text => "Create" } %>

<%= link_to 'Back', work_chapters_path %>
