<div id="chapters">
<%= render :partial => 'chapters/chapter', :locals => { :chapter => @chapter } %>
<%= render :partial => 'chapter_management', :locals => { :chapter => @chapter, :work => @work, :preview_mode => @preview_mode } %>
</div>
