<div id="tag-wrangler-footer" class="navigation">
  <span class="navitem"><%= link_to('Tag Wrangling', tag_wranglings_path) %></span>
  <span class="navitem"><%= link_to_unless_current('Tags', tags_path) %></span>		
  <span class="navitem"><%= link_to_unless_current('New Tag', new_tag_path) %></span> 
</div>
