<ul id="tag-wrangler-footer" class="navigation">
  <li><%= link_to('Tag Wrangling', tag_wranglings_path) %></li>
  <li><%= link_to_unless_current('Tags', tags_path) %></li>		
  <li><%= link_to_unless_current('New Tag', new_tag_path) %></li> 
</ul>
