<h2>Tag Wrangling</h2>

<h3>Mass Assign to Fandom (or Media)</h3>
<ul>
<% for category in (Tag::USER_DEFINED - ["Ambiguity"]) do %>
  <li>
    <%= link_to_unless_current category, assign_tag_wrangling_path(category) %> (
      <%= category.constantize.no_parent.count %>)
  </li>
<%- end -%>
</ul>
<h3>Mass wrangle tags by Category</h3>
<ul>
<% for category in Tag::TYPES do %>
  <li><%= link_to_unless_current category, edit_tag_wrangling_path(category) %></li>
<% end %>
</ul>

<%= tag_wrangler_footer %>
