<h2>Tag Wrangling</h2>

<dl>
<dt>Mass Assign to Fandom (or Media)</dt>
<% for category in (Tag::USER_DEFINED - ["Ambiguity"]) do %>
  <dd>
    <%= link_to_unless_current category, assign_tag_wrangling_path(category) %> (
      <%= category.constantize.no_parent.count %>)
  </dd>
<%- end -%>
</dl>
<dt>Mass wrangle tags by Category</dt>
  <% for category in Tag::TYPES do %>
  <dd><%= link_to_unless_current category, edit_tag_wrangling_path(category) %></dd>
<% end %>

<%= tag_wrangler_footer %>
