<h3 class="landmark heading">Navigation</h3>
<ul class="navigation actions" role="navigation">
  <li><%= span_if_current ts("Approval Queue"), admin_skins_path %></li>
  <li><%= span_if_current ts("Approved Skins"), index_approved_admin_skins_path %></li>
  <li><%= span_if_current ts("Rejected Skins"), index_rejected_admin_skins_path %></li>
</ul>