<h1>Manage Tag Relationships</h1>

<div id="errors"></div>

<div id="tag-relationship-form">
<%= render :partial => 'tag_relationships/form' %> 
</div>

<div id="current-tag-relationships">
  <ul id="relationship-list">
  <%- for relationship in @current_tag_relationships -%>
    <li><%=h relationship.tag.name + " " + relationship.tag_relationship_kind.verb_phrase + " " + relationship.related_tag.name %></li>
  <%- end -%>
  </ul> 
</div>
