<%- if logged_in_as_admin? -%>
<%= render :partial => "admin_index" %>
<%- else -%>
<h1><%= t("archive_faq", :default => "Archive FAQ") -%></h1>
<div id="tos" class="work-show">
	<% @archive_faqs.each do |archive_faq| %>
			<h6>
				<b>Updated:</b> <%=h archive_faq.updated_at %>  
			</h6>
	    <%=sanitize_and_format_for_display archive_faq.content %>
<% end %> 
<% end %>   