<!--Descriptive page name, messages and instructions-->
<h2><%=h 'Manage Archive FAQs' %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/admin_nav' %>
<div class="clear"><!--presentational, phase me out--></div>
<!--/subnav-->

<!--main content-->
<%= render :partial => 'archive_faq_order' %>
<!--/content-->