<h1><%= t('approve_link', :default => 'Approve Link') %></h1>

<p><%= t('approval_description', :default => 'Would you like to create a link from your work {{link_to_your_work}} to {{link_to_their_work}} by {{link_to_author}}?',  
          :link_to_your_work => link_to(related_work.parent.title, related_work.parent),
          :link_to_their_work => link_to(related_work.work.title, related_work.work),
          :link_to_author => print_pseud_list(related_work.work.pseuds)) %></p>

<p><%= t('express_approval', :default => '(Nothing will be linked directly from your works without your express approval.)') %></p> 

<% form_for(related_work) do |f| %>
  <p class="submit">
    <%= f.submit t('link_me', :default => "Yes, link me!") %>
  </p>
<% end %>