<div class="user home">
  <h2 class="heading">Your Claims<% if @collection %> In <%= link_to(@collection.title, @collection) %><% end %></h2>

  <%= will_paginate @claims %>

  <ol class="index group">

    <% @claims.each do |claim| %>
      <%= render "prompts/prompt_blurb", :prompt => claim.request_prompt, :suppress_claims => true, :claim => claim %>
    <% end %>
  
  </ol>

  <%= will_paginate @claims %>
</div>