<h2 class="heading">Your Claims<% if @collection %> In <%= link_to(@collection.title, @collection) %><% end %></h2>
<!--FRONT END: TABLEWATCH!!-->
<ul class="index">

  <% @challenge_claims.each do |claim| %>
    <%= render "challenge_claims/claim_blurb", :claim => claim %>
  <% end %>
  
</ul>
