<h1><%=h "View All Series".t %></h1>

<ul class="story-list">
  <% for series in @series %>
	<%= render :partial => 'series/series_blurb', :locals => {:series => series} %>
  <% end %>
</ul>

<div class="pagination">
	  <%= will_paginate @series, :prev_label =>  "&laquo; Previous".t,:next_label => "Next &raquo;".t %>
</div>
