<h1><%=h 'New series'.t %></h1>

<% form_for(@series) do |f| %>
  <%= f.error_messages %>

  <p class="submit">
    <%= f.submit "Create".t %>
  </p>
<% end %>

<ul class="navigation">
<li><%= link_to 'Back'.t, series_path %></li>
</ul>
