<h1><%=h 'New series' %></h1>

<% form_for(@series) do |f| %>
  <%= f.error_messages %>

  <p class="submit">
    <%= f.submit "Create" %>
  </p>
<% end %>

<div class="navigation">
<span class="navitem"><%= link_to 'Back', series_path %></span>
</div>
