<h1>FUN WITH GRAPHS! (Extreme Beta)</h1>

<div id="stats-graphs">
<%= stats_view(params[:model]) %>
</div>

<ul>
  <li><a href=stats?model=works>Works stats</a></li>
  <li><a href=stats?model=users>Users stats</a>/</li>g
  <li><a href=stats?model=invitations>Invitations stats</a></li>
</ul>
