<div id="signin">
  <div id="small_login">
    <%- if params[:use_openid] -%>
      <%= render :partial => "user_sessions/openid_small" %>
    <%- else -%>
      <%= render :partial => "user_sessions/passwd_small" %>
    <% end %>
</div>
</div>
