<% form_for(@work) do |f| %>
	<!-- TODO this will not actually work -> figure out how to make it work --> 
	<%= collection_select :user, :default_pseud, current_user.pseuds, :id ,:name %>
 	<p class="submit"><%= f.submit "Change Pseud" %></p>
<% end %>