<h1><%=h 'New pseud' %></h1>

<%= error_messages_for :pseud %>

<%= render :partial => 'pseuds_form', :locals => { :button_text => "Create" }%>
<ul class="navigation">
<li><%= link_to 'Back', user_pseuds_path(@user) %></li>
</ul>
