<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= t(".new_pseud") %></h2>
<%= error_messages_for :pseud %>
<!--/descriptions-->

<!--subnav-->
<ul class="navigation actions" role="navigation">
<li><%= link_to t(".back_to_pseuds"), user_pseuds_path(@user) %></li>
</ul>
<!--/subnav-->

<!--main content-->
<%= render partial: "pseuds_form", locals: { button_text: t(".create_pseud") } %>
<!--/content-->