<h1><%= t('new_pseud', :default => 'New pseud') %></h1>

<%= error_messages_for :pseud %>

<%= render :partial => 'pseuds_form', :locals => { :button_text => t('forms.create', :default => "Create") }%>
<ul class="navigation">
<li><%= link_to t('index_link', :default => 'Back To Pseuds'), user_pseuds_path(@user) %></li>
</ul>
