<div id="user-page">
  <%= render :partial => "users/header", :locals => {:user => @user} %>
  <%= render :partial => "users/contents" %>
</div>

<div class="navigation">
  <% if @user == current_user -%>
    <span class="navitem"><%= link_to t('edit_link', :default => 'Edit'), [:edit, @user, @author] %></span>
  <% end -%>
  <span class="navitem"><%= link_to t('index_link', :default => 'Back To Pseuds'), user_pseuds_path(@user) %></span>
</div>
