<div id="user-page">
  <%= render :partial => "users/header", :locals => {:user => @user} %>
  <%= render :partial => "users/contents" %>
</div>

<ul class="navigation">
  <% if @user == current_user -%>
    <li><%= link_to t('edit_link', :default => 'Edit'), [:edit, @user, @author] %></li>
  <% end -%>
  <li><%= link_to t('index_link', :default => 'Back To Pseuds'), user_pseuds_path(@user) %></li>
</ul>
