<div id="user-page">
  <%= render :partial => "users/header", :locals => {:user => @user} %>
  <%= render :partial => "users/contents" %>
</div>

<ul class="navigation">
  <% if @user == current_user -%>
    <li><%= link_to 'Edit', [:edit, @user, @pseud] %></li>
  <% end -%>
  <li><%= link_to 'Back', user_pseuds_path(@user) %></li>
</ul>
