<!--this table is irregular and incomplete. headers need scopes, the summary must be completed, and empty cells should be avoided-->

<table class="stats" summary="<%= ts('') %>">
	<caption><%= ts('Invitations by Week') %></caption>
	<thead>
		<tr>
			<td></td>
			<%= @graph_dates.collect {|d| "<th>" + d.strftime('%m-%d-%y') + "</th>"}.join.html_safe %>
		</tr>
	</thead>
	<tbody>
	  <tr>
			<th>users created</th>
			<% @graph_dates.each do |date| %>
			<td><%= @users_created_weekly[date] ? @users_created_weekly[date].length : 0 %></td>
			<% end %>
		</tr>
	</tbody>
</table>
