<h2 class="heading">Fun With Graphs! (Extreme Beta)</h2>

<div id="stats graphs">
<%= stats_view(params[:model]) %>
</div>

<ul class="navigation actions" role="navigation">
  <li><a href=stats?model=works>Works stats</a></li>
  <li><a href=stats?model=users>Users stats</a></li>
  <li><a href=stats?model=tags>Tag stats</a></li>
  <li><a href=stats?model=invitations>Invitations stats</a></li>
</ul>
