# Based on https://github.com/tk0miya/action-erblint/blob/main/README.md#example-usage

name: Reviewdog

on: [pull_request]

permissions:
  checks: write

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    env:
      BUNDLE_ONLY: linters
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby and run bundle install
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: rubocop
        uses: reviewdog/action-rubocop@d89ceac67134c1587b4bc0ad8b55007c533c9c3f
        with:
          use_bundler: true
          reporter: github-pr-check
          skip_install: true
          reviewdog_flags: "-fail-level=any"

  erb-lint:
    name: ERB Lint runner
    runs-on: ubuntu-latest
    env:
      BUNDLE_ONLY: linters
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby and run bundle install
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: erb-lint
        uses: tk0miya/action-erblint@b6e537f4616e4fa7a9eef209ca34ca944e1440dd
        with:
          use_bundler: true
          reporter: github-pr-check
          fail_on_error: true
