# Based on https://github.com/tk0miya/action-erblint/blob/main/README.md#example-usage

name: Reviewdog

on: [pull_request]

permissions:
  checks: write

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    env:
      BUNDLE_ONLY: linters
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby and run bundle install
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: rubocop
        uses: reviewdog/action-rubocop@7ef50b200dba9fb54c97392337ac7e82d692c4bd
        with:
          use_bundler: true
          reporter: github-pr-check
          skip_install: true

  erb-lint:
    name: ERB Lint runner
    runs-on: ubuntu-latest
    env:
      BUNDLE_ONLY: linters
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby and run bundle install
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: erb-lint
        uses: tk0miya/action-erblint@667687e73b44e7b7a710a1204b180f49f80ebb5e
        with:
          use_bundler: true
          reporter: github-pr-check # default
