<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @page_title %></title>
    <style type="text/css">
     .landmark, { display: none; }
     #chapters  {font-family: serif; padding: 1em; }
     .preface, .message { font-family: sans-serif; }
     .preface .title { font-size: 1.5em; text-align: center; }
     .preface h3 { font-size: 1.125em }
     .preface .byline { text-align: center; }  
     .endnotes-link { font-size: .8em }
     </style>
  </head>
  <body>

    <%= yield  %>
    
  </body>
</html>
