<%= yield %>

<p>
  If you've received this message in error, please contact Support at http://archiveofourown.org/support
</p>

<p>
  The Archive of Our Own is a fan-run and fan-supported archive that relies on 
  <%= link_to "your support", donate_url %>.
</p>
