<% content_for :message do %>
  <p><%= t('.intro', user: style_bold(@resource.login)).html_safe %></p>
  <p><%= style_link t(".link_title"), edit_user_password_url(reset_password_token: @token) %></p>
  <p><%= t '.expiration' %></p>
  <p><%= t '.unrequested' %></p>
<% end %>
