<h2>Welcome to Yuletide!</h2>

<div><%=raw sanitize_field(@collection, :description) %></div>

<ul role="navigation">
  <li><%= link_to "Profile", collection_profile_path(@collection) %></li>
</ul>

<div>
  <h3>Technical Note</h3>
  <p>The AO3 will be undergoing some server upgrades after the new year, and we're constantly working on improving 
our code to run more efficiently, but Yuletide is a time of uniquely high traffic for us during the year and we 
wanted to try to bring you the best possible performance given our current hardware limitations. In that spirit, 
we've set up a special section for Yuletide 2010 which lacks many of our usual features, but which has the benefit of 
loading significantly faster. You'll also be able to find Yuletide, and all of its works, in <%= link_to "its usual 
location", @collection %>, and readers are still very much encouraged to leave comments and kudos for the 
authors!</p>

  <p>Locked works (works that are visible only to registered users) are listed separately so that the larger bulk of 
public works can be served as static files without the need to check the login status of each visitor or to display 
different versions of the fandom pages to different visitors.</p>

  <p>And now, on with the stories!</p>
</div>
