<div id="work">
  <%= render :partial => 'downloads/download_preface.html' %>

  <div id="chapters" class="userstuff">
    <% if @chapters.size > 1 %>
      <% for chapter in @chapters %>
        <%= render :partial => 'downloads/download_chapter.html', :locals => {:chapter => chapter} %>
      <% end %>
    <% else %>
      <%=raw sanitize_field(@chapters.first, :content) %>
    <% end %>
  </div>

  <%= render :partial => 'downloads/download_afterword.html' %>
</div>